<div id="additional_infos-candidates-div">
<table class="table">
  <thead>
  <tr>
    <th class="text-center" scope="col">ID</th>
    <th class="text-center" scope="col">Add comments</th>
  </tr>
  </thead>
  <tbody>
  {% for ai in additional_infos.all %}
    <tr>
      <th class="text-center" scope="row">{{ ai.pk }}</th>
      <td class="text-center">{{ ai.get_truncated_add_comments }}</td>
      <td class="text-center">
        <!-- Update alias buttons -->
        <button type="button" id='init-btn-ai{{ ai.pk }}' class="btn btn-primary btn-danger" data-toggle="modal" data-target="#UpdateAdditionalInfo{{ ai.pk }}">
          <span class="fa fa-pencil"></span>
        </button>
            <!-- Modal -->
    <div id="UpdateAdditionalInfo{{ ai.pk }}" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title col-md-10">Update Additional info</h5>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <div class="form-group">
                <label for="id_add_comments{{ ai.pk }}">Add comments</label>
                <input type="text" name="name" maxlength="250" value="{{ ai.get_truncated_add_comments }}" class="form-control year" id="id_add_comments{{ ai.pk }}">
                <div class="">

                </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" id="close-btn-ai{{ ai.pk }}" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" id="update-btn-ai{{ ai.pk }}" class="submit-btn btn btn-primary" data-form-url="{% url 'additional_info-process' author.pk ai.pk %}" data-dismiss="modal">Update</button>
          </div>
        </div>
      </div>
    </div>
        <!-- Link alias buttons -->
        <button type="button" id="additional_info-link{{ ai.pk }}" class="additional_info-link btn btn-sm btn-danger" data-form-url="{% url 'link-additional_info' author.pk ai.pk %}">
          <span class="fa fa-plus mr-2"></span>Link
        </button>
      </td>
    </tr>

<script>
$(function () {
$("#update-btn-ai{{ ai.pk }}").click(function(e) {
    var data = {
        csrfmiddlewaretoken: getCookie('csrftoken'),
        alias: $('#id_add_comments{{ ai.pk }}').val(),
    }
    $.post($(this).attr('data-form-url'), data, function(data,status){
        if(status === 'success') {
            $('#id_search_additional_infos').val('');
            $("#additional_infos-div").html(data["table"]);
        }
    });
})
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
});
</script>
{% endfor %}

  </tbody>
</table>

<script>
$(function () {
$( ".additional_info-link" ).click(function() {
    var data_cookie = {
        csrfmiddlewaretoken: getCookie('csrftoken'),
    }
    $.post($(this).attr('data-form-url'), data_cookie, function(data, status){
        if(status === 'success') {
            $("#additional_infos-div").html(data["table"]);
            $('#id_search_additional_infos').val('');
            $.post("{% url 'search-additional_info' author.pk %}", data_cookie, function(data2, status2){
                if(status2 === 'success') {
                    $("#additional_infos-candidates-div").html(data2["table"]);
                }

            })
        }
    });
    })
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
});
</script>
</div>