<div id="linkeddocuments_af">
<div class="col-12 mb-3">
    <h5>Linked Additional infos</h5>
    {% include "_additional_infos_table.html" %}
</div>
</div>
<div id="searchdocumentpanel_af" class="container">
  <div class="row">
   <div class="col"></div>
   <div class="col">
       <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-primary btn-danger" id='additional_infos-btn' data-toggle="modal" data-target="#AdditionalInfosModal"><span class="fa fa-plus mr-2"></span>Create linked Additional info</button>

    <!-- Modal -->
    <div id="AdditionalInfosModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title col-md-10">Create Additional info</h5>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <div class="form-group">
                <label for="id_add_comments">Add comments</label>
                <input type="text" name="add comments" maxlength="250" placeholder="add comments" class="form-control" id="id_add_comments">
                <div class="">

                </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" id="additional_info-create" class="submit-btn btn btn-primary" data-dismiss="modal">Create</button>
          </div>
        </div>

      </div>
    </div>
    <br/>
    <br/>Search Additional infos :<br/>
    <br/>
    <input type="text" id="id_search_additional_infos">
    </input>
    </div>
    <div class="col"></div>
</div>
  <br/>
  <div class="col-12 mb-3">
      <h5>Additional infos candidates</h5>
      {% include "_additional_infos_candidates_table.html" %}
  </div>
</div>

<script type="text/javascript">
$(function () {
$("#additional_infos-btn").click(function(e) {
    document.getElementById('id_add_comments').value = '';
});
$("#additional_info-create").click(function(e) {
    var fd = new FormData();
    fd.append('csrfmiddlewaretoken', getCookie('csrftoken'));
    fd.append("add_comments", $('#id_add_comments').val());
    $.ajax({
      url: "{% url 'additional_info-process' author.pk %}",
      data: fd,
      processData: false,
      contentType: false,
      type: 'POST',
        success:function(data) {
          $("#additional_info--div").html(data["table"]);
        }
    });
});
$(document).ready(function() {
    $('#id_search_additional_infos').on('input', function () {
        if ($("#id_search_additional_infos").val().length > 0) {
                var data = {
                csrfmiddlewaretoken: getCookie('csrftoken'),
                input: $("#id_search_additional_infos").val(),
            }
            $.post("{% url 'search-additional_info' author.pk %}", data, function(data, status){
                if(status === 'success') {
                    $("#additional_infos-candidates-div").html(data["table"]);
                }
            });
        }
    });
});
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
});
</script>