<div id="additional_infos-div">
<table class="table">
  <thead>
  <tr>
    <th class="text-center" scope="col">ID</th>
    <th class="text-center" scope="col">Add comments</th>
  </tr>
  </thead>
  <tbody>
  {% for additional_info in author.additional_info_list.all %}
    <tr>
      <th class="text-center" scope="row">{{ additional_info.pk }}</th>
      <td class="text-center">{{ additional_info.get_truncated_add_comments }}</td>
      <td class="text-center">
        <!-- Unlink work buttons -->
        <button type="button" class="additional_info-unlink btn btn-sm btn-danger" data-form-url="{% url 'unlink-additional_info' author.pk additional_info.pk %}">
          <span class="fa fa-trash"></span> Unlink
        </button>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<script>
 $( ".additional_info-unlink" ).click(function() {
     var data = {
        csrfmiddlewaretoken: getCookie('csrftoken'),
    }
    $.post($(this).attr('data-form-url'), data, function(data, status){
        if(status === 'success') {
            $("#additional_infos-div").html(data["table"]);
        }
    });
});
</script>
</div>