<div id="linkeddocuments_genre_groups">
<div class="col-12 mb-3">
    <h5>Linked Genre groups</h5>
    {% include "_genre_groups_table.html" %}
</div>
</div>
<div id="searchdocumentpanel_genre_groups" class="container">
  <div class="row">
   <div class="col"></div>
   <div class="col">
       <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-primary btn-danger" id='genre_groups-btn' data-toggle="modal" data-target="#GenreGroupsModal"><span class="fa fa-plus mr-2"></span>Create linked Genre group</button>

    <!-- Modal -->
    <div id="GenreGroupsModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title col-md-10">Create Genre group</h5>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <div class="form-group">
                <label for="id_genre_group">Genre group</label>
                <input type="text" name="genre group" maxlength="250" placeholder="genre group" class="form-control" id="id_genre_group">
                <div class="">
                </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" id="genre_group-create" class="submit-btn btn btn-primary" data-dismiss="modal">Create</button>
          </div>
        </div>

      </div>
    </div>
    <br/>
    <br/>Search Genre groups :<br/>
    <br/>
    <input type="text" id="id_search_genre_groups">
    </input>
    </div>
    <div class="col"></div>
</div>
  <br/>
  <div class="col-12 mb-3">
      <h5>Genre groups candidates</h5>
      {% include "_genre_groups_candidates_table.html" %}
  </div>
</div>

<script type="text/javascript">
$(function () {
$("#genre_groups-btn").click(function(e) {
    document.getElementById('id_genre_group').value = '';
});
$("#genre_group-create").click(function(e) {
    var fd = new FormData();
    fd.append('csrfmiddlewaretoken', getCookie('csrftoken'));
    fd.append("genre_group", $('#id_genre_group').val());
    $.ajax({
      url: "{% url 'genre_group-process' genre.pk %}",
      data: fd,
      processData: false,
      contentType: false,
      type: 'POST',
        success:function(data) {
          $("#genre_groups-div").html(data["table"]);
        }
    });
});
$(document).ready(function() {
    $('#id_search_genre_groups').on('input', function () {
        if ($("#id_search_genre_groups").val().length > 0) {
                var data = {
                csrfmiddlewaretoken: getCookie('csrftoken'),
                input: $("#id_search_genre_groups").val(),
            }
            $.post("{% url 'search-genre_group' genre.pk %}", data, function(data, status){
                if(status === 'success') {
                    $("#genre_groups-candidates-div").html(data["table"]);
                }
            });
        }
    });
});
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
});
</script>