<div id="linkeddocuments_works">
<div class="col-12 mb-3">
    <h5>Linked Works</h5>
    {% include "_works_table.html" %}
</div>
</div>
<div id="searchdocumentpanel_works" class="container">
  <div class="row">
   <div class="col"></div>
   <div class="col">
       <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-primary btn-danger" id='works-btn' data-toggle="modal" data-target="#WorksModal"><span class="fa fa-plus mr-2"></span>Create linked Work</button>

    <!-- Modal -->
    <div id="WorksModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title col-md-10">Create Work</h5>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <div class="form_group">
                <label for="id_text">Text</label>
                <textarea name="text" maxlength="200000" placeholder="text" class="form-control" id="id_text">
                </textarea>
                <div class="">
                </div>
            </div>
            <div class="form-group">
                <label for="id_year">Year</label>
                <input type="number" name="year" maxlength="100" placeholder="year" class="form-control" id="id_year">
                <div class="">

                </div>
            </div>
              <div class="form-group">
                <label for="id_title">Title</label>
                <input type="text" name="title" maxlength="250" placeholder="title" class="form-control" id="id_title">
                <div class="">
                </div>
              </div>
              <div class="form-group">
                <label for="id_publisher">Publisher</label>
                <input type="text" name="publisher" maxlength="250" placeholder="publisher" class="form-control" id="id_publisher">
                <div class="">

                </div>
              </div>
              <div class="form-group">
                <label for="id_location">Location</label>
                <input type="text" name="location" maxlength="250" placeholder="location" class="form-control" id="id_location">
                <div class="">
                </div>
              </div>
              <div class="form-group">
                <label for="id_detail_descriptions">Detail descriptions</label>
                <input type="text" name="detail descriptions" maxlength="250" placeholder="detail descriptions" class="form-control" id="id_detail_descriptions">
                <div class="">
                </div>
              </div>
              <div class="form-group" >
                   <label for="id_date_precision_id_2" class="">
                   Date precision id
                   </label>
                   <div class="">
                      <div class="input-group">
                         <select name="date_precision" id="id_date_precision_id_2">
                         </select>
                         <br/>
                         <br/>
                          <a data-toggle="modal" href="#DatePrecisionIdModal" class="btn btn-primary btn-danger">Add Date precision id</a>
                      </div>
                   </div>
              </div>
              <div class="form-group" >
                   <label for="id_genre_id" class="">
                   Genre id
                   </label>
                   <div class="">
                      <div class="input-group">
                         <select name="genre_id" id="id_genre_id">
                         </select>
                         <br/>
                         <br/>
                          <a data-toggle="modal" href="#GenreIdModal" class="btn btn-primary btn-danger">Add Genre id</a>
                      </div>
                   </div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" id="work-create" class="submit-btn btn btn-primary" data-dismiss="modal">Create</button>
          </div>
        </div>

      </div>
    </div>
    <!-- Modal -->
    <div id="DatePrecisionIdModal" class="modal fade" role="dialog" data-backdrop="static">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title col-md-10">Create Date precision id</h5>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <div class="form-group">
                <label for="id_date_precision">Date precision</label>
                <input type="text" name="date precision" maxlength="250" placeholder="date precision" class="form-control" id="id_date_precision">
                <div class="">
                </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" id="date_precision-create" class="submit-btn btn btn-primary" data-dismiss="modal">Create</button>
          </div>
      </div>
    </div>
    </div>
    <!-- Modal -->
    <div id="GenreIdModal" class="modal fade" role="dialog" data-backdrop="static">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title col-md-10">Create Genre</h5>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <div class="form-group">
                <label for="id_genre_description">Genre description</label>
                <input type="text" name="genre description" maxlength="250" placeholder="genre description" class="form-control" id="id_genre_description">
                <div class="">
                </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" id="genre-create" class="submit-btn btn btn-primary" data-dismiss="modal">Create</button>
          </div>
      </div>
    </div>
    </div>
    <br/>
    <br/>Search Works :<br/>
    <br/>
    <input type="text" id="id_search_works">
    </input>
    </div>
    <div class="col"></div>
</div>
  <br/>
  <div class="col-12 mb-3">
      <h5>Works candidates</h5>
      {% include "_works_candidates_table.html" %}
  </div>
</div>

<script type="text/javascript">
$(function () {
$("#date_precision-create").click(function(e) {
    var fd = new FormData();
    fd.append('csrfmiddlewaretoken', getCookie('csrftoken'));
    fd.append("date_precision", $('#id_date_precision').val());

$.ajax({
  url: "{% url 'date_precision-process' %}",
  data: fd,
  processData: false,
  contentType: false,
  type: 'POST',
});
});
$("#genre-create").click(function(e) {
    var fd = new FormData();
    fd.append('csrfmiddlewaretoken', getCookie('csrftoken'));
    fd.append("genre_description", $('#id_genre_description').val());

$.ajax({
  url: "{% url 'genre-process' %}",
  data: fd,
  processData: false,
  contentType: false,
  type: 'POST',
});
});
$("#works-btn").click(function(e) {
    document.getElementById("id_text").value = '';
    document.getElementById('id_year').value = 1160;
    document.getElementById('id_title').value = '';
    document.getElementById('id_publisher').value = '';
    document.getElementById('id_location').value = '';
    document.getElementById('id_detail_descriptions').value = '';
    $("#id_date_precision_id_2").select2("val", "0");
    $("#id_genre_id").select2("val", "0");
});
$("#work-create").click(function(e) {
    var fd = new FormData();
    fd.append('csrfmiddlewaretoken', getCookie('csrftoken'));
    fd.append("text", $('#id_text').val());
    fd.append("year", $('#id_year').val());
    fd.append("title", $('#id_title').val());
    fd.append("publisher", $('#id_publisher').val());
    fd.append("location", $('#id_location').val());
    fd.append("detail_descriptions", $('#id_detail_descriptions').val());
    if ($('#id_date_precision_id_2').val() == null) {
        fd.append('date_precision_id', "");
    }
    else {
        fd.append('date_precision_id', $('#id_date_precision_id_2').val());
    }
    if ($('#id_genre_id').val() == null) {
        fd.append('genre_id', "");
    }
    else {
        fd.append('genre_id', $('#id_genre_id').val());
    }
    $.ajax({
      url: "{% url 'work-process' author.pk %}",
      data: fd,
      processData: false,
      contentType: false,
      type: 'POST',
        success:function(data) {
          $("#works-div").html(data["table"]);
        }
    });
});
$(document).ready(function() {
    $('#id_search_works').on('input', function () {
        if ($("#id_search_works").val().length > 0) {
                var data = {
                csrfmiddlewaretoken: getCookie('csrftoken'),
                input: $("#id_search_works").val(),
            }
            $.post("{% url 'search-work' author.pk %}", data, function(data, status){
                if(status === 'success') {
                    $("#works-candidates-div").html(data["table"]);
                }
            });
        }
    });
    $("#id_date_precision_id_2").select2({
        minimumInputLength: 0,
        allowClear: true,
        placeholder: "--------",
        ajax: {
            url: "/select2_date_precision_id",
            dataType: "json",
            type: "GET",

        },
        processResults: function (data) {
            return {
                results: data
            };
        }
    });
    $("#id_genre_id").select2({
        minimumInputLength: 0,
        allowClear: true,
        placeholder: "--------",
        ajax: {
            url: "/select2_genre_id",
            dataType: "json",
            type: "GET",

        },
        processResults: function (data) {
            return {
                results: data
            };
        }
    });
});
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
});
</script>