{% extends "base.html" %}
{% block content %}
</br>
<p><b>Author</b></p>

<table class="table table-striped table-bordered table-sm">  
    <thead class="thead-light">  
    <tr>  
        <th>Name</th>
        <th>Biography</th>
        <th>Birth</th>
        <th>Death</th>
    </tr>
    </thead>
    <tbody>  
    <tr>  
        <td>{{ author.name }}</td>
        <td>{{ author.biography}}</td>
        <td>{{ author.birth }}</td>
        <td>{{ author.death }}</td>
    </tr>
    </tbody>
</table>
{% if author.location_time_set.all  %}
<p><b>Location times</b></p>
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-light">
    <tr>
        <th>Geo location name </th>
        <th>Fr province</th>
        <th>Date</th>
    </tr>
    </thead>
    <tbody>
{% for lt in author.location_time_set.all %}
    <tr>
        <td>{{lt.geo_location_name}}</td>
        <td>{{lt.fr_province}}</td>
        <td>{{lt.date}}</td>
    </tr>
{% empty %}
     </br>
{% endfor %}
    </tbody>
</table>
</br>
{% endif %}
{% if author.works_set.all  %}
<p><b>Works</b></p>
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-light">
    <tr>
        <th>Year</th>
        <th>Title</th>
        <th>Publisher</th>
        <th>Location</th>
        <th>Detail description</th>
    </tr>
    </thead>
    <tbody>
{% for work in author.works_set.all %}
    <tr>
        <td>{{work.year}}</td>
        <td>{{work.title}}</td>
        <td>{{work.publisher}}</td>
        <td>{{work.location}}</td>
        <td>{{work.detail_description}}</td>
    </tr>
{% empty %}
     </br>
{% endfor %}
    </tbody>
</table>
</br>
{% endif %}
{% if author.alias_set.all  %}
<p><b>Alias</b></p>
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-light">
    <tr>
        <th>Alias</th>
    </tr>
    </thead>
    <tbody>
{% for a in author.alias_set.all %}
    <tr>
        <td>{{a.alias}}</td>
    </tr>
{% empty %}
     </br>
{% endfor %}
    </tbody>
</table>
</br>
{% endif %}
{% if author.additional_info_set.all  %}
<p><b>Alias</b></p>
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-light">
    <tr>
        <th>Add comments</th>
    </tr>
    </thead>
    <tbody>
{% for a in author.additional_info_set.all %}
    <tr>
        <td>{{a.add_comments}}</td>
    </tr>
{% empty %}
     </br>
{% endfor %}
    </tbody>
</table>
</br>
{% endif %}
{% endblock %}