{% extends "base.html" %}
{% block content %}

<B><FONT SIZE=2><P ALIGN="CENTER"><a href="index.htm">This site</a> is a co-production of <U>Maarten van der Heijden</U> and <U>Bert Roest</U>. &copy;</p></FONT><p align="center"><script language="JavaScript">last_modified()</script></P>

</B><P>&nbsp; </P>



<body bgcolor=white lang=EN-US link=blue vlink=purple >
<B><FONT SIZE=3><P ALIGN="CENTER">Bert Roest</B>:</P>
<P ALIGN="CENTER"></P>
<P>Between 1983-89 and 1991-92 I studied Intellectual History and Medieval Studies in Groningen and Toronto. This found its completion in the thesis <I>Reading the Book of History. Intellectual Contexts and Educational Functions of Franciscan Historiography</I> (Groningen: Regenboog, 1996). Since then, I was employed at various universities and research institutes in The Netherlands, Italy, and the USA. Between 1998 and 2001, I held a fellowship from the Dutch Royal Academy of Sciences (Koninklijke Nederlandse Akademie der Wetenschappen). Thereafter, I worked as an independent scholar, until I was offered a visiting professorship at St. Bonaventure University NY (The Doino Chair of Franciscan Studies) for the academic year 2003-2004. At present, I am active as a research consultant and as a lecturer of history at the University of Groningen.</P>

<P>Although most of my publications deal with the Franciscan order (men and women) during the later medieval period, I am also interested in other topics, notably the history of political thought until the present, philosophy of history, and paleo-anthropology. On top of that, I spend a lot of my free time restoring a 17th century farmhouse (made possible thanks to the help of a number of good friends).</P>

<B><P>Major publications (asidc from my 1996 dissertation):</P>
</B>
<OL>

<B><LI>Books</LI></OL>

</B>
<I><P>Franciscan Literature of Religious Instruction Before the Council of Trent</I>, Studies in the History of Christian Traditions, CXVII (Leiden: Brill, 2004).</P>
<I>
<P>A History of Franciscan Education (c. 1220-1517)</I>, Education and Society in the Middle Ages and Renaissance (Leiden: Brill, 2000).</P>

<P>&nbsp;</P>
<OL>

<B><LI>Translations</LI>
</B>
<P>Giovanni Battista Vico, <I>Over aard en doel van de moderne wetenschap. Verhandeling over de studiemethode van onze tijd. Gehouden op plechtige wijze de achttiende oktober 1708 voor de studenten van de koninklijke academie van het koninkrijk Napels en naderhand uitgewerkt</I>, vertaald en van een nawoord voorzien door Bert Roest (Groningen: Historische Uitgeverij, 1995).</P>

<P>&nbsp;</P>
<B><LI>Conference / Seminar proceedings</LI>
</B>
<I><P>Medieval and Renaissance Humanism: Rhetoric, Representation and Reform</I>, ed. Stephen Gersh &amp; Bert Roest, Brill Studies in Intellectual History, 115 (Leiden-Boston: Brill, 2003).</P>
<I>
<P>Aspects of Genre and Type in Pre-Modern Literary Cultures</I>, ed. B. Roest &amp; H. Vanstiphout, COMERS/ICOG Communications, I (Groningen: Stix, 1999).</P>

<P>&nbsp;</P>
<B><LI>Articles</LI>
</B>
<P>‘The Franciscan hermit: seeker or refugee’, <I>Dutch Review of Church History</I> 86 (2006), in press</P>

<P>‘Franciscans Between Observance and Reformation’, <I>Franciscan Studies</I> 63 (2005), 409-442.</P>

<P>‘<I>Ignorantia est mater omnium malorum</I>: the validation of knowledge and the office of preaching in late medieval female Franciscan communities’, in: Renee Nip &amp; Mathilde van Dijk, Medieval Church Studies, 15 (Turnhout: Brepols, 2005), 65-83.</P>

<P>‘Female Preaching in the Late Medieval Franciscan Tradition’, <I>Franciscan Studies</I> (December 2004), 119-154.</P>

<P>‘A Textual Community in the Making: Colettine Authorship in the Fifteenth Century’, in: <I>Seeing and Knowing: Women and Learning in Medieval Europe, 1200-1550</I>, ed. Anneke B. Mulder-Bakker, Medieval Women: Texts and Contexts (Turnhout, 2004), 163-180.</P>

<P>‘<I>Expectamus Regnum Franciscanum</I>: Erasmus and his Seraphic Obsession’, <I>Collectanea Franciscana</I> 74 (2004), 23-44.</P>

<P>‘Medieval Franciscan Mission: History and Concept’, in: <I>Strategies of Medieval Communal Identity: Judaism, Christianity, and Islam</I>, ed. Wout J. van Bekkum and Paul M.Cobb (Leuven: Peeters, 2004),137-161.</P>
<B>
</B><P>‘Rhetoric of Innovation and Recourse to Tradition in Humanist Pedagogical Discourse’, in:<B> </B><I>Medieval and Renaissance Humanism: Rhetoric, Representation and Reform</I>, ed. Stephen Gersh &amp; Bert Roest, Brill Studies in Intellectual History (Leiden-Boston: Brill, 2003), 115-148.</P>

<P>‘<EM>Education and Religious Formation in the Order of Poor Clares’, Collectanea Franciscana 73 (2003),</EM><I> 47-73.</P>
</I>
<P>‘Later Medieval Institutional History’, in: <I>Historiography in the Middle Ages</I>, ed. Deborah Mauskopf Deliyannis (Leiden-Boston, 2003), 277-315.</P>
<B>
</B><P>‘Dealing with Brother Ass: bodily aspects of the Franciscan sanctification of the self’, in: <I>The Invention of Saintliness</I>, ed. Anneke B. Mulder-Bakker, Routledge Studies in Medieval Religion and Culture (Londen-New York: Routledge, 2002), 163-184.</P>

<P>‘The Role of Lectors in the Religious Formation of Franciscan Friars, Nuns, and Tertiaries’, in: <I>Studio e </I>studia<I>: le scuole degli ordini mendicanti tra XIII e XIV secolo,</I> Atti del XXIX Convegno internazionale Assisi, 11-13 ottobre, 2001 (Spoleto, 2002), 85-115.</P>

<P>‘Converting the Other and Converting the Self: Double Objectives in Franciscan Educational Writings’, in:<I> Christianizing Peoples and Converting Individuals</I>, ed. G. Armstrong &amp; I.N. Wood, International Medieval Research 7 (Leeds-Turnhout: Brepols, 2000).</P>

<P>‘Memory and the Functions of History. Later Medieval Franciscan Chronicles’, in:<I> Historia. The Concept and Genres in the Middle Ages, </I>ed. Tuomas M.S. Lehtonen &amp; Pa&iuml;vi Mehtonen, Commentationes Humanarum Litterarum 116 (Helsinki, 2000), 101-117.</P>

<P>‘Franciscan Educational Perspectives: Reworking Monastic Traditions’, in: <I>Medieval Monastic Education</I>, ed. George Ferzoco &amp; Carolyn Muessig (Londen-New York, 2000), 168-181.</P>

<P>‘Medieval Historiography: About Generic Constraints and Scholarly Constructions’, in: <I>Aspects of Genre and Type in Pre-Modern Literary Cultures</I>, ed. B. Roest &amp; H. Vanstiphout COMERS/ICOG Communications I (Groningen, 1999), 47-57.</P>

<P>‘<I>Scientia</I> and <I>Sapientia</I> in Gilbert of Tournai’s (<I>E</I>) <I>Rudimentum Doctrinae</I>’ in: <I>Le vocabulaire des &eacute;coles des Mendiants au moyen &acirc;ge. Actes du colloque Porto (Portugal), 11-12 octobre 1996</I>, ed. Maria C&acirc;ndida Pacheco, CIVICIMA, &Eacute;tudes sur le vocabulaire intellectual du Moyen &Acirc;ge IX (Turnhout, 1999), 164-179.</P>

<P>‘Ik trof evenwel een barbaars en welhaast heidens volk aan, gespeend van alle menselijkheid’. Franciskaanse missionarissen in de noordelijke gewesten (circa 1600-1680)’, in: <I>Het Noorden in het midden. Opstellen over de geschiedenis van de Noord-Nederlandse gewesten in Middeleeuwen en Nieuwe Tijd</I>, ed. D.E.H. de Boer, R.I.A. Nip &amp; R.W.M. van Scha&iuml;k, Groninger Historische Reeks, 17 (Groningen, 1998), 288-306. </P>

<P>‘Church and Laity in the Later Middle Ages. A short essay on Models and Perspectives in Medieval Religious History’, <I>Theoretische Geschiedenis</I> 25 (1998), 78-87.</P>

<P>‘Franciscaanse apocalyptiek in middeleeuws perspectief’, in: <I>Visioenen aangaande het einde. Apocalyptische geschriften en bewegingen door de eeuwen heen</I>, red. J.W. van Henten &amp; O. Mellink (Zoetermeer, 1998), 189-220.</P>

<P>‘A Meditative Spectacle: Christ’s Bodily Passion in <I>the Satirica Ystoria</I>’, in: <I>The Broken Body. Passion Devotion in Late-Medieval Culture</I>, ed. A.A.MacDonald, H.N.B. Ridderbos &amp; R.M. Schlusemann, Mediaevalia Groningana, XXI (Groningen, 1998), 31-54.</P>

<P>‘Compilation as Theme and Praxis in Franciscan Universal Chronicles’, in: <I>Pre-Modern Encyclopaedic Texts. Proceedings of the Second COMERS Congress, Groningen, 1-4 July 1996</I>, ed. Peter Binkley (Leiden-New York-K&ouml;ln, 1997), 214-225.</P>

<P>‘Divination, Visions and Prophecy according to Albert the Great’, in: <I>Media latinitas. A Collection of Essays to Mark the Occasion of the Retirement of L.J. Engels</I>, ed. R.I.A. Nip et. al., Instrumenta Patristica, 28 (Turnhout, 1996), 323-328.</P>

<P>‘De orde van het betoog: Paulinus van Veneti&euml; (ca. 1274-1344) als geschiedschrijver’, <I>Millennium</I> 9 (1995), 99-116.</P>
<B>
</B><P>‘Franciscan Apocalypse Commentaries’ <I>Studies in Church History, Subsidia</I> 10 (1994), 29-37.</P>

<P>‘Het lijden als motor van de geschiedenis’, <I>Feit &amp; Fictie</I> 1 (1993), 93-107.</P>

<P>‘Walter van Brugge (ca. 1225-1307) als gematigd voluntarist. Over wil en rede in het liberum arbitrium’, <I>Tijdschrift voor de geschiedenis van de Wijsbegeerte in Nederland</I> 2, 1 (1991), 3-12.</P>

<P>‘Johannes Quidort en Willem van Ockham over oorsprong en functie van wereldlijk gezag’, <I>Groniek</I> 110 (1990), 35-50.</P>

<P>‘Werkelijkheid en betekenis in middeleeuwse literatuur’, <I>Tijdschrift voor Theoretische Geschiedenis</I> 16 (1989), 465-476. </P>
<B>
</B><P>‘Over dood, humor en dwaasheid in de late middeleeuwen’, <I>Groniek</I> 98 (1987), 23-32. </P>

<P>‘De dood in de middeleeuwse po&euml;zie (1200-1500)’, <I>Groniek</I> 99 (1987), 53-68.</P>

<P>&nbsp;</P>
<B><LI>Reviews and popularising articles (selection)</LI></OL>

</B>
<P>‘Vico’s ‘Nieuwe Wetenschap’’, in: <I>Incontri</I> (2006), forthcoming.</P>

<P>Review of: Susanne<B> </B>Linscheid-Burdich, <I>Suger von Saint-Denis. Untersuchungen zu seinen Schriften Ordinatio - De consecratione - De administratione</I>, Beitr&auml;ge zur Altertumskunde, 200 (M&uuml;nchen-Leipzig: K.G. Saur, 2004), in: </FONT><A HREF="http://ccat.sas.upenn.edu/bmcr/2004/2004-12-16.html"><FONT SIZE=3>http://ccat.sas.upenn.edu/bmcr/2004/2004-12-16.html</FONT></A></P>
<FONT SIZE=3>
<P>Review of: Richard Ned Lebow, <I>The Tragic Vision of Politics. Ethics, Interests and Orders</I> (Cambridge: &nbsp;Cambridge UP, 2003), in:<B> </B><I>Bryn Mawr Classical Review</I> (2004), </FONT><A HREF="http://ccat.sas.upenn.edu/bmcr/2004/2004-08-22.html"><FONT SIZE=3>http://ccat.sas.upenn.edu/bmcr/2004/2004-08-22.html</FONT></A></P>
<B><FONT SIZE=3>
</B><P>Review of: Olivia Remie Constable, <I>Housing the Stranger in the Mediterranean World. Lodging, Trade, and Travel in Late Antiquity and the Middle Ages</I> (Cambridge:&nbsp;Cambridge UP, 2003), in: <I>Bryn Mawr Classical Review</I> (2004), </FONT><A HREF="http://ccat.sas.upenn.edu/bmcr/2004/2004-09-17.html"><FONT SIZE=3>http://ccat.sas.upenn.edu/bmcr/2004/2004-09-17.html</FONT></A></P>
<FONT SIZE=3>
<P>Review of: Christian Mouchel, <I>Rome franciscaine : essai sur l'histoire de l'&eacute;loquence dans l'ordre des fr&egrave;res mineurs au XVIe si&egrave;cle</I> (Paris, 2001). in: <I>Renaissance Quarterly</I> 57/2 (2004), 562f.</P>

<P>Review of: Thomas A. Schmitz, <I>Moderne Literaturtheorie und antike Texte. Eine Einf&uuml;hrung</I> (Darmstadt:&nbsp;WBG, 2002, ), in: <I>Bryn Mawr Classical Review</I> (2004),&nbsp;</FONT><A HREF="http://ccat.sas.upenn.edu/bmcr/2002/2002-12-32.html"><FONT SIZE=3>http://ccat.sas.upenn.edu/bmcr/2002/2002-12-32.html</FONT></A></P>
<FONT SIZE=3>
<P>Review of: Sabine von Heusinger, <I>Johannes Mulberg OP: Ein Leben im Spannungsfeld von Dominikanerobservanz und Beginenstreit</I>, Quellen und Forschungen zur Geschichte des Dominikanerordens (M&uuml;nchen, 2000), in: The Internet Medieval Review Site of Western Michigan University, </FONT><A HREF="http://www.hti.umich.edu/t/tmr/"><FONT SIZE=3>http://www.hti.umich.edu/t/tmr/</FONT></A><FONT SIZE=3> (Kalamazoo, 2002.) &amp; in: <I>Heresis: revue semestrielle d’histoire des dissidences m&eacute;di&eacute;vales</I> 40 (2004), 179-181.</P>

<P>‘Preaching and Sermons, Dutch’, in: <I>Medieval Germany. An Encyclopedia</I>, ed. John M. Jeep (New York -London, 2001), 626-627.</P>

<P>Review of: Frances Andrews, <I>The Early Humiliati</I>, Cambridge Studies in Medieval Life and Thought Fourth Series 43 (Cambridge University Press, 1999), in: The Internet Medieval Review Site of Western Michigan University, </FONT><A HREF="http://www.hti.umich.edu/t/tmr/"><FONT SIZE=3>http://www.hti.umich.edu/t/tmr/</FONT></A></P>
<FONT SIZE=3>
<P>Review of: Marcia L. Colish, <I>Medieval Foundations of the Western Intellectual Tradition, 400-1400</I>, The Yale Intellectual History of the West (New haven - London, 1997), in: <I>Speculum</I> 74/4 (1999), 1047-1049.</P>

<P>Review of: Edith van den Goorbergh &amp; Theo Zweerman, <I>Was getekend: Franciscus van Assisi. Aspekten van zijn schrijverschap en brandpunten van zijn spiritualiteit</I>, Scripta franciscana, 5 (Assen, Van Gorcum, 1998), in:<I> Nederlands Theologisch Tijdschrift</I> (1999).</P>

<P>Review of: <I>Communicatie in de middeleeuwen. Studies over de verschriftelijking van de middeleeuwse cultuur</I>, ed. M. Mostert (Hilversum, 1995), in: <I>Bulletin of International Medieval Research</I> 4 (1998), 78-80.</P>

<P>‘Het Beeld van de islam in West-Europa in de 13<SUP>de</SUP> eeuw’, <I>Spiegel historiael</I> 33, 1/2 (1998), 33-40).</P>

<P>‘Praten over seks’, review of: J.W. Baldwin, <I>The Language of sex. Five voices from Nothern France around 1200</I>, in <I>Tijdschrift voor Geschiedenis</I> 110 (1997), 370-372.</P>

<P>‘De tovertuin van het middeleeuwse christendom’, review of: <I>De betovering van het middeleeuwse christendom. Studies over ritueel en magie in de Middeleeuwen</I>, ed. M. Mostert &amp; A. Demyttennaere (Hilversum, 1995), in: <I>Tijdschrift voor Geschiedenis</I> 109 (1996), 587.</P>

<P>‘Ideologie&euml;n van het monarchaal gezag’ review of: J.H. Burns, <I>Lordship, kingship and empire, The idea of monarchy, 1400-1525</I> (Oxford, 1992), in: <I>Tijdschrift voor Geschiedenis</I> 108 (1995), 241-242.</P>

<P>‘Theorievorming over de gemengde constitutie’ review of: J.M. Blythe, <I>Ideal government and the mixed constitution in the Middle Ages</I> (Princeton, 1992), in: <I>Tijdschrift voor Geschiedenis</I> 107 (1994), 80-81.</P>

<P>‘Politiek denken van Middeleeuwen naar nieuwe tijd’, review of: Anthony Black, <I>Political thought in Europe, 1250-1450</I> (Cambridge, 1992) &amp; Maurizio Viroli, <I>From politics to reason of state. The acquisition and transformation of the language of politics, 1250-1600</I> (Cambridge, 1992), in: <I>Tijdschrift voor Geschiedenis</I> 106 (1993), 418-420.</P>

<P>Together with W.J. Bartelds, a review of: F. Ankersmit, <I>De navel van de geschiedenis. Over interpretatie, representatie en historische realiteit</I> (Groningen, 1990), in: <I>Algemeen Nederlands Tijdschrift voor Wijsbegeerte</I> 84 (1992), 317-320.</P>

<P>‘Middeleeuws denken’, review of: John Marenbon, <I>Later Medieval Philosophy (1150-1350). An Introduction</I> (London-New York, 1987), in: <I>Tijdschrift voor Geschiedenis</I> 103 (1990), 481-482.</P>
</FONT>
{% endblock %}