{% extends "base.html" %}
{% block content %}

<B><FONT SIZE=2><P ALIGN="CENTER"><a href="/">This site</a> is a co-production of <U>Maarten van der Heijden</U> and <U>Bert Roest</U>. &copy;</p></FONT><p align="center"><script language="JavaScript">last_modified()</script></P>
&nbsp;

<P>This is the bibliographic list of this site.....

<P>&nbsp;<A HREF="preaching">medieval and franciscan preaching</A>

<P><A HREF="exegesis">medieval exegesis</A>

<P><A HREF="hstoriog">franciscan historiography</A>

<P><A HREF="geogr">franciscan travel and misionary works</A>
<FONT SIZE=+1><P><P><a href="/" TARGET=_top>Back to the Main Page</a></FONT>
{% endblock %}