{% extends "base.html" %}
{% block content %}

<font size="+2"><B>Links to (franciscan) sources:</B></font>
<br>
&nbsp;
<table border="1" cols="2" width="100%">
  <tbody>
    <tr valign="top"><td>
<P><B>Importantgeneral webportals History, Humanities, Social Sciences</B></P>

<P><A CLASS="western" HREF="http://www.clio-online.de/site/lang__en-US/1/Default.aspx">Clio-Online, Fachportal f&uuml;r die Geschichtswissenschaften</A></P>
<P><A CLASS="western" HREF="http://www.history.la.ca.us/hddirect.htm">Directory of Historical Resources</A></P>
<P><A CLASS="western" HREF="http://www.h-net.org/">Humanities and Social Sciences Online</A></P>
<P><A CLASS="western" HREF="http://odur.let.rug.nl/ahc/">The Association for History and Computing</A></P>
<P><A CLASS="western" HREF="http://www.historyguide.org/">The History Guide</A></P>
<P><B>Electronic bibliographies and general webportals for Medieval Studies (frequently with references to E-texts)</B></P>
<P><A CLASS="western" HREF="http://www.fordham.edu/halsall/byzantium/">Byzantine Studies On The Internet</A></P>
<P><A CLASS="western" HREF="http://www.uni-koeln.de/~ahz26/dateien/maalt/mahomepageunix.html">Das Mittelalter im Internet</A></P>
<P><A CLASS="western" HREF="http://www.mittelalter-server.de/">Der Mittelalter Server</A></P>
<P><A CLASS="western" HREF="http://eawc.evansville.edu/eawcindex.htm">Exploring Ancient World Cultures/Index Internet Resources</A></P>
<P><A CLASS="western" HREF="http://www.fordham.edu/halsall/sbook.asp">Internet Medieval Sourcebook</A></P>
<P><A CLASS="western" HREF="http://www.medieval-moyen-age.net/">M&eacute;di&eacute;val &amp; Moyen Age</A></P>
<P><A CLASS="western" HREF="http://www.netserf.org/">NetSerf:Internet Connection for medieval Resources</A></P>
<P><A CLASS="western" HREF="http://www.the-orb.net/">On-Line Reference Book for Medieval Studies</A></P>
<P><A CLASS="western" HREF="http://opac.regesta-imperii.de/lang_en/">Regesta Imperii Medieval Bibliography</A></P>
<P><A CLASS="western" HREF="http://libguides.stanford.edu/Medieval">Stanford Library Indexes/Guides Medieval Studies</A></P>
<P><A CLASS="western" HREF="https://scholarworks.iu.edu/dspace/handle/2022/3631">The Medieval Review</A></P>
<P><A CLASS="western" HREF="http://labyrinth.georgetown.edu/">The Labyrinth: Resources for Medieval Studies</A></P>
<P LANG="en-US" CLASS="western"><B>Some library catalogues for books, articles and references to (digitized and non-digitized) medieval
manuscripts</B></P>
<P><A CLASS="western" HREF="http://www.kbr.be/">Biblioth&egrave;que Royale de Belgique/Koninklijke Bibliotheek van Belgi&euml;</A></P>
<P><A CLASS="western" HREF="http://archivesetmanuscrits.bnf.fr/">BnF archives et manuscrits</A></P>
<P><A CLASS="western" HREF="http://searcharchives.bl.uk/primo_library/libweb/action/search.do?dscnt=1&amp;dstmp=1357416356989&amp;vid=IAMS_VU2&amp;fromLogin=true">British Library, Catalogue Archives and Manuscripts</FONT></P>
<P><A CLASS="western" HREF="http://www.lib.cam.ac.uk/">Cambridge University Library</A></P>
<P><A CLASS="western" HREF="http://search.library.cmu.edu/">Carnegie Mellon University Libraries</A></P>
<P><A CLASS="western" HREF="http://manuscripts.cmrs.ucla.edu/index.php">Catalogue of Digitized Medieval Manuscripts</A></P>
<P><A CLASS="western" HREF="http://image.ox.ac.uk/">Early Manuscripts at Oxford University</A></P>
<P><A CLASS="western" HREF="http://www.ksbm.oeaw.ac.at/_k2.htm">Institut f&uuml;r Mittelalterforschung: Schrift- und Buchwesen (with many
Manuscript and Incunable catalogues regarding Austrian Libraries)</A></P>
<P><A CLASS="western" HREF="http://www.sudoc.abes.fr/">Le catalogue du Syst&egrave;me Universitaire de Documentation</A></P>
<P><A CLASS="western" HREF="http://www.bsb-muenchen.de/Manuscripta-Mediaevalia.176+M57d0acf4f16.0.html">Manuscripta Mediaevalia &ndash; Manuscripts On-Line</A></P>
<P><A CLASS="western" HREF="http://manuscripts.kb.nl/">Medieval Illuminated Manuscripts</A></P>
<P><A CLASS="western" HREF="http://www.mmdc.nl/static/site/">Medieval Manuscripts in Dutch Collections</A></P>
<P><A CLASS="western" HREF="http://faculty.arts.ubc.ca/sechard/512digms.htm">Medieval Manuscripts on the Web</A></P>
<P><A CLASS="western" HREF="http://www.joh.cam.ac.uk/medieval-manuscripts">Medieval Manuscripts St. John&rsquo;s College</A></P>
<P><A CLASS="western" HREF="http://www.narrative-sources.be/colofon_nl.php">Narrative Sources from the Medieval Low Countries</A></P>
<P><A CLASS="western" HREF="http://www.sub.uni-goettingen.de/en/news/">Universit&auml;t G&ouml;ttingen, Bibliothek</A></P>
<P><A CLASS="western" HREF="http://onesearch.library.utoronto.ca/library-info/ROBARTS">University of Toronto Libraries</A></P>
<P><A CLASS="western" HREF="http://www.vaticanlibrary.va/home.php?pag=dipartimento_manoscritti&amp;ling=eng">Vatical Library, Manuscript Department</A></P>
<P><A CLASS="western" HREF="http://www.worldcat.org/">WorldCat</A></P>
<P LANG="en-US" CLASS="western"><B>Full-scale digital Libraries and
collections, including (collections of) electronic journals and
repositories of medieval/early modern texts </B>
</P>
<P><A CLASS="western" HREF="http://ecumenism.net/docu/medieval.htm">Ancient &amp; Medieval electronic texts</A></P>
<P><A CLASS="western" HREF="http://archive.org/index.php">Archive.Org (the world&rsquo;s archive/internet snapshot)</A></P>
<P><A CLASS="western" HREF="http://www.bsb-muenchen.de/Digitale-Sammlungen.72.0.html">Bayerische Staatsbibliotheek, digitale Sammlungen</A>
or
<A CLASS="western" HREF="http://www.digitale-sammlungen.de/index.html?c=digitale_sammlungen&amp;l=de">Bayerische Staatsbibliotheek, digitale Sammlungen 2</A></P>
<P> <A CLASS="western" HREF="http://www.philological.bham.ac.uk/bibliography/">Bibliography of On-Line Neo Latin Texts (with references to full-access texts)</A></P>
<P><A CLASS="western" HREF="http://www.beic.it/">Biblioteca Europea di Informazione e Cultura</A></P>
<P><A CLASS="western" HREF="http://www.deutsche-digitale-bibliothek.de/">Deutsche digitale Bibliothek</A></P>
<P><A CLASS="western" HREF="http://www.doaj.org/">Directory of Open Access Journals</A></P>
<P><A CLASS="western" HREF="http://toisondor.byu.edu/dscriptorium/">Dscriptorium</A></P>
<P><A CLASS="western" HREF="http://gallica.bnf.fr/">Gallica Digital Library</A></P>
<P><A CLASS="western" HREF="http://www.gutenberg.org/">Gutenberg Project</A></P>
<P><A CLASS="western" HREF="http://www.hathitrust.org/">Hathi Trust Digital Library</A></P>
<P><A CLASS="western" HREF="http://www.jstor.org/">Jstor</A></P>
<P><A CLASS="western" HREF="http://www.loc.gov/library/libarch-digital.html"><P>Library of Congress Digital Collections</A></P>
<P><A CLASS="western" HREF="http://www.mgh.de/dmgh/">Monumenta Germaniae Historicae/Deutsches Archiv</A></P>
<P><A CLASS="western" HREF="http://www.openedition.org/">Open Edition (hundreds of electronic journals)</A></P>
<P><A CLASS="western" HREF="http://muse.jhu.edu/">Project Muse (books and journals from leading university presses and scholarly societies)</A></P>
<P><A CLASS="western" HREF="http://www.questia.com/">Questia On-Line Library</A></P>
<P><A CLASS="western" HREF="http://riviste.unimi.it/">Riviste UNIMI (Universit&agrave; degli Studi di Milano)</A></P>
<P><A CLASS="western" HREF="http://solomon.dlcr.alexanderstreet.com/">The Digital Library of the Catholic Reformation</A></P>
<P><A CLASS="western" HREF="http://www.wdl.org/en/">World Digital Library</A></P>
<P LANG="en-US" CLASS="western"><B>Internet encyclopedias with
information on the Middle Ages</B></P>
<P><A CLASS="western" HREF="http://www.bautz.de/bbkl/">Biographisch-Bibliographisches Kirchenlexikon</A></P>
<P><A CLASS="western" HREF="https://applejack.science.ru.nl/franciscanauthors/">Franciscan Authors Website</A></P>
<P><A CLASS="western" HREF="http://u01151612502.user.hosting-agency.de/malexwiki/index.php/Hauptseite">Kleine Enzyklop&auml;die des deutschen Mittelalters</A></P>
<P><A CLASS="western" HREF="http://www.treccani.it/">Treccani, il portale per sapere (includes the <I>Dizionario Biografico degli Italiani</I>)</A></P>
<P LANG="en-US" CLASS="western"><B>Webportals professional organisations of Medievalists/Historians/Academics</B></P>
<P><A CLASS="western" HREF="http://www.canadianmedievalists.ca/">Canadian Society of Medievalists</A></P>
<P><A CLASS="western" HREF="http://www.ims-paris.org/Francais/FRIndex.html">Soci&eacute;t&eacute; Internationale des M&eacute;di&eacute;vistes</A></P>
<P><A CLASS="western" HREF="http://www.historians.org/">The American Historical Association</A></P>
<P><A CLASS="western" HREF="http://www.medievalacademy.org/index.htm">The Medieval Academy of America</A></P>
<P><A CLASS="western" HREF="http://www.researchgate.net/">Research Gate</A></P>
<P LANG="en-US" CLASS="western"><B>Medieval Centers and Institutes</B></P>
<P><A CLASS="western" HREF="http://www.phil-fak.uni-duesseldorf.de/geschichte/">Das Institut f&uuml;r Geschichtswissenschaften der Heinrich-Heine-Universit&auml;t</A></P>
<P><A CLASS="western" HREF="http://www.cisam.org/cisam.htm">Il Centro italiano di Studi sull&rsquo;alto medioevo di Spoleto</A></P>
<P><A CLASS="western" HREF="http://www.oeaw.ac.at/imafo/">Institut f&uuml;r Mittelalterforschung, Wien</A></P>
<P><A CLASS="western" HREF="http://medieval.nd.edu/">Medieval Institute of Notre Dame University</A></P>
<P><A CLASS="western" HREF="http://www.medieval.ox.ac.uk/">Medieval Studies at Oxford</A></P>
<P><A CLASS="western" HREF="http://www.ru.nl/philosophy/chps/">Radboud University, Center for the History of Philosophy and Science</A></P>
<P><A CLASS="western" HREF="http://www.zms.ruhr-uni-bochum.de/">Ruhr Universit&auml;t Bochum: Centre for Mediterranean Studies</A></P>
<P><A CLASS="western" HREF="http://www.thomasinstituut.org/">Thomas Instituut te Utrecht (Tilburg University)</A></P>
<P><A CLASS="western" HREF="http://www.cmrs.ucla.edu/">UCLA Center for Medieval and  Renaissance Studies (CMRS)</A></P>
<P><A CLASS="western" HREF="http://www.uni-muenster.de/Mittellatein/">Universit&auml;t M&uuml;nster, Seminar f&uuml;r Lateinische Philologie des Mittelalters und der Neuzeit</A></P>
<P><A CLASS="western" HREF="http://www.thomasinstitut.uni-koeln.de/">Universit&auml;t zu K&ouml;ln, Thomas-Institut</A></P>
<P><A CLASS="western" HREF="http://www.univ-poitiers.fr/recherche/laboratoires/centre-d-etudes-superieures-de-civilisation-medievale-cescm-umr-7302-301711.kjsp">Universit&eacute; de Poitiers, Centre d'Etudes Sup&eacute;rieures de Civilisation M&eacute;di&eacute;vale (CESCM)</A></P>
<P><A CLASS="western" HREF="http://www.ugent.be/lw/geschiedenis/nl">Universiteit Gent, Vakgroep Geschiedenis</A></P>
<P><A CLASS="western" HREF="http://cmsa.uva.nl/">University of Amsterdam, Center for Medieval Studies</A></P>
<P><A CLASS="western" HREF="http://www.bristol.ac.uk/medievalcentre/">University of Bristol, Centre for Medieval Studies</A></P>
<P><A CLASS="western" HREF="http://www.leeds.ac.uk/ims/">University of Leeds, Institute for Medieval Studies</A></P>
<P><A CLASS="western" HREF="http://www.reading.ac.uk/gcms/">University of Reading: Graduate Centre for Medieval Studies</A></P>
<P><A CLASS="western" HREF="https://www.sheffield.ac.uk/history">University of Sheffield, Dept. of History</A></P>
<P><A CLASS="western" HREF="http://medieval.utoronto.ca/">University of Toronto, Centre for Medieval Studies</A></P>
<P><A CLASS="western" HREF="http://crrs.ca/">University of Toronto, Centre for Reformation and Renaissance Studies (CRRS)</A></P>
<P><A CLASS="western" HREF="http://www.york.ac.uk/medieval-studies/">University of York</A></P>
<P><A CLASS="western" HREF="http://www.wmich.edu/medieval/">Western Michigan University, The Medieval Institute</A></P>
      </td>
      <td></P>
<P LANG="en-US" CLASS="western"><B>Medieval Studies, some specific
themes/fields</B></P>

<OL>
	<LI><P LANG="en-US" CLASS="western"><B>Medieval Logic, Philosophy,
	Science, Technology, Universities</B></P>
</OL>
<P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<A CLASS="western" HREF="http://www.forschungsverbund-universitaetsgeschichte.uni-mainz.de/">Forschungsverbund f&uuml;r Universit&auml;tsgeschichte</A></P>
<P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<A CLASS="western" HREF="http://www.gewina.nl/studium/overige-publicaties/nieuwsbrief-universiteitsgeschiedenis/">Lettre d&rsquo;information sur l&rsquo;histoire des universit&eacute;s/Nieuwsbrief universiteitsgeschiedenis</A></P>
<P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<A CLASS="western" HREF="http://pvspade.com/Logic/">Mediaeval Logic and Philosophy</A></P>
<P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<A CLASS="western" HREF="http://historia.wikispaces.com/Online-verf&uuml;gbare+Literatur+zur+Universit&auml;tsgeschichte">Online-verf&uuml;gbare Literatur zur Universit&auml;tsgeschichte</A></P>
<P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<A CLASS="western" HREF="http://mahan.wonkwang.ac.kr/link/med/science/medsci_index.html">The Medieval Science Page</A></P>
<P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<A CLASS="western" HREF="http://scholar.chem.nyu.edu/tekpages/Technology.html">The Medieval Technology Pages</A></P>
<P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<A CLASS="western" HREF="http://web.clas.ufl.edu/users/ufhatch/pages/03-Sci-Rev/SCI-REV-Teaching/bibliography/05bibl-anc-m.htm">Ancient and Medieval Natural Philosophy</A></P>
<P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<A CLASS="western" HREF="http://medievalscience.org/">Galen&rsquo;s Medieval Science Webpage</A></P>
<P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<A CLASS="western" HREF="http://www.levity.com/alchemy/">The Alchemy Website on Levity.com</A></P>
<OL START=2>
	<LI><P LANG="en-US" CLASS="western"><B>Medieval Art and Architecture</B></P>
</OL>
<P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<A CLASS="western" HREF="http://digital-image-collections.wikispaces.com/Medieval+Art">Digital Imaging Project, Middle Ages</A></P>
<P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<A CLASS="western" HREF="http://www.elore.com/elore4-2.html">Gothic Dreams</A></P>
<P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<A CLASS="western" HREF="http://www.iconclass.nl/home">Iconclass website</A></P>
<P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<A CLASS="western" HREF="http://www.medart.pitt.edu/">Images of Medieval Art and Architecture</A></P>
<P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<A CLASS="western" HREF="http://www.musee-moyenage.fr/">Mus&eacute;e de Cluny, monde m&eacute;di&eacute;val</A></P>
<P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<A CLASS="western" HREF="http://libguides.bodleian.ox.ac.uk/content.php?pid=135117&amp;sid=1885772">Oxford LibGuides to Late Antique and Medieval Art and Architecture</A></P>
<OL START=3>
	<LI><P LANG="en-US" CLASS="western"><B>Medieval geography</B></P>
</OL>
<P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<A CLASS="western" HREF="http://www.culturalresources.com/Maps.html">Historical Maps Overview</A></P>
<P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<A CLASS="western" HREF="http://www.columbia.edu/itc/mealac/pritchett/00maplinks/medieval/medieval_index.html">Medieval Maps</A></P>
<P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<A CLASS="western" HREF="http://www.medievalmap.org/">The Medieval Map</A></P>
<OL START=4>
	<LI><P LANG="en-US" CLASS="western"><B>Medieval
	Religion/Theology/Church History/Mysticism</B></P>
</OL>
<P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<A CLASS="western" HREF="http://www.albertthegreat.com/">Albert the Great</A></P>
<P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<A CLASS="western" HREF="http://www.albertus-magnus-institut.de/">Albertus Magnus-Institut</A></P>
<P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<A CLASS="western" HREF="http://www.biblegateway.com/">Bible Gateway</A></P>
<P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<A CLASS="western" HREF="http://www.mille.org/">Center for Millennial Studies</A></P>
<P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<A CLASS="western" HREF="http://www.ccel.org/">Christian Classics Ethereal Library</A></P>
<P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<A CLASS="western" HREF="http://www.corpusthomisticum.org/">Corpus Thomisticum</A></P>
<P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<A CLASS="western" HREF="http://www.history.vt.edu/Burr/default.html">David Burr Olivi Site</A></P>
<P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<A CLASS="western" HREF="http://www.ntcanon.org/">Development of the Canon of the New Testament</A></P>
<P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<A CLASS="western" HREF="http://ecole.evansville.edu/">Early Church History: The Ecole Initiative</A></P>
<P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<A CLASS="western" HREF="https://applejack.science.ru.nl/franciscanauthors/">Franciscan Authors Website</A></P>
<P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<A CLASS="western" HREF="http://www9.georgetown.edu/faculty/jod/">James J. O'Donnell&rsquo;s Webpage in Augustine, Boethius etc</A></P>
<P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<A CLASS="western" HREF="http://www.drbo.org/">Latin Vulgate Bible</A></P>
<P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<A CLASS="western" HREF="http://www.latinvulgate.com/">Latin Vulgate-King James</A></P>
<P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<A CLASS="western" HREF="http://maitre.eckhart.free.fr/">L&rsquo;&Eacute;quipe de Recherches sur les Mystiques rh&eacute;nans (Universit&eacute; de Lorraine)</A></P>
<P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<A CLASS="western" HREF="http://mahan.wonkwang.ac.kr/link/med/heresy/heresy/hernet3.htm">Medieval Heresy</A></P>
<P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<A CLASS="western" HREF="http://monasticmatrix.org/">Monastic Matrix: Female Religious Communities</A></P>
<P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<A CLASS="western" HREF="http://www.ntgateway.com/">New Testament Gateway</A></P>
<P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<A CLASS="western" HREF="http://www.peterauriol.net/">Peter Auriol Homepage</A></P>
<P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<A CLASS="western" HREF="http://www.patronatramonllull.org/en/?Ramon_Llull_Database">Ramon Llull Database</A></P>
<P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<A CLASS="western" HREF="http://www.scholasticon.fr/index_fr.php">Scholasticon, Ressources en ligne pour l'&eacute;tude de la scolastique moderne (1500-1800)</A></P>
<P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<A CLASS="western" HREF="http://www.franciscanos.net/">Servidor Franciscano del Sur</A></P>
<P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<A CLASS="western" HREF="http://www.grosseteste.com/">The Electronic Grosseteste</A></P>
<P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<A CLASS="western" HREF="http://www.ntgateway.com/noncanonical-texts/general-resources/">The Non-canonical Christian Texts</A></P>
<P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<A CLASS="western" HREF="http://rrp.stanford.edu/">The Richard Rufus of Cornwall Project</A></P>
<P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<A CLASS="western" HREF="http://www.projectwittenberg.org/">Project Wittenberg-Electronic Lutheran Web</A></P>
<P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<A CLASS="western" HREF="http://people.ucalgary.ca/~lipton/">Religious Studies Web Guide</A></P>
<P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<A CLASS="western" HREF="http://torreys.org/bible/">Resource Pages for Biblical Studies</A></P>
<P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<A CLASS="western" HREF="http://www.kbr.be/~socboll/">Soci&eacute;t&eacute; des Bollandistes</A></P>
<P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<A CLASS="western" HREF="http://www.newadvent.org/summa/">Summa Theologica Thomas Aquinas</A></P>
<P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<A CLASS="western" HREF="http://www.newadvent.org/cathen/">The Catholic Encyclopedia</A></P>
<OL START=5>
	<LI><P LANG="en-US" CLASS="western"><B>Women &amp; Gender</B></P>
</OL>
<P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<A CLASS="western" HREF="http://www.fordham.edu/halsall/med/womenbib.asp">Bibliography of Works by and about Women Writers of the Middle Ages</A></P>
<P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<A CLASS="western" HREF="http://www.arlima.net/eh/femmes.html">Femmes &eacute;crivaines du Moyen Age</A></P>
<P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<A CLASS="western" HREF="http://franwomen.sbu.edu/franwomen/default.aspx">Franciscan Women Internet Guide</A></P>
<P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<A CLASS="western" HREF="http://www.doaks.org/research/byzantine/resources/bibliography-on-gender-in-byzantium">Gender in Byzantium Bibiography</A></P>
<P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<A CLASS="western" HREF="http://inpress.lib.uiowa.edu/feminae/Default.aspx">Medieval Women and Gender Index</A></P>
<P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<A CLASS="western" HREF="http://monasticmatrix.org/">Monastic Matrix: Female Religious Communities</A></P>
<P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<A CLASS="western" HREF="http://hosted.lib.uiowa.edu/smfs/mff/">Society for Medieval Feminist Scholarship</A></P>
<P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<A CLASS="western" HREF="http://www.uh.edu/medievalwomen/wmawma.htm">Women in the Middle Ages: Writers, Musicians, and Artists</A></P>
<P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<A CLASS="western" HREF="http://www.library.rochester.edu/robbins/women-writers">Women Writers of the Middle Ages</A></P>
<OL START=6>
	<LI><P LANG="en-US" CLASS="western"><B>Music</B></P>
</OL>
<P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<A CLASS="western" HREF="http://www.diamm.ac.uk/">Digital Image Archive of Medieval Music (DIAMM)</A></P>
<P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<A CLASS="western" HREF="http://www.gregorianchant.org.uk/home.shtml">Gregorian Chant Homepage</A></P>
<P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<A CLASS="western" HREF="http://www.music.iastate.edu/antiqua/instrumt.html">Medieval and Renaissance Instruments</A></P>
<P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<A CLASS="western" HREF="http://www.music.princeton.edu/chant_html/">The Gregorian Chant Home Page</A></P>
<P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<A CLASS="western" HREF="http://www.plainsong.org.uk/">The Plainsong and Medieval Music Society</A></P>
<P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<A CLASS="western" HREF="http://www.cs.uu.nl/events/dech1999/tmi/index.htm">Thesaurus musicarum italicarum</A></P>
<P LANG="en-US" CLASS="western"><B>Latin Resources</B></P>
<P><A CLASS="western" HREF="http://www.artsci.wustl.edu/~cwconrad/classics.html">Classics Resources (Greek/Latin Antiquity and Middle Ages)</A></P>
<P><A CLASS="western" HREF="http://mcl.as.uky.edu/classics-resources-links">Classics Resources and Links</A></P>
<P><A CLASS="western" HREF="http://www.columbia.edu/acis/ets/Graesse/contents.html">Graesse&rsquo;s Orbis Latinus online</A></P>
<P><A CLASS="western" HREF="http://www.rbms.info/committees/bibliographic_standards/latin/index.html">RBMS/BSC Latin Place Names File</A></P>
<P LANG="en-US" CLASS="western"><B>Electronic bookshops for medieval studies</B></P>
<P><A CLASS="western" HREF="http://www.medioevo-shop.net/">Medioevo Shop</A></P>
<P><A CLASS="western" HREF="http://www.sismel.it/">SISMEL-Edizioni del Galluzzo</A></P>
<P><A CLASS="western" HREF="http://www.wbg-wissenverbindet.de/WBGCMS/php/Proxy.php?purl=/wbg/">Wissenschaftliche Buchgesellchaft</A></P>
<P LANG="en-US" CLASS="western"><B>Other webportals of Interest</B></P>
<P><A CLASS="western" HREF="http://www.europeana.eu/portal/">Europeana, Europe's cultural collections</A></P>
<P><A CLASS="western" HREF="http://ec.europa.eu/culture/index_en.htm">European Commission, Culture</A></P>
<P><A CLASS="western" HREF="http://www.culturalfoundation.eu/">European Cultural Foundation</A></P>
<P><A CLASS="western" HREF="http://www.sciencemag.org/">Science</A></P>
      </td>
{% endblock %}