{% extends "base.html" %}
{% block content %}


<center><b><font size="-1">FRANCISCAN AUTHORS, 13TH - 18TH CENTURY: A CATALOGUE IN PROGRESS</font></b></center>

<b><font size="2"><p align="center"><a a677ed70d4d22="true" rel="nofollow" target="_blank" href="/author/show/">
This bibliography of Franciscan Authors</a></p>
<p align="center">is a co-production of <u>Maarten van der Heijden</u>, <u>Bert Roest </u> and <u>Emmanuel Chamilakis</u>. ©</p></font></b><p align="center"><b><font face="Arial" size="-2"><script language="javascript">last_modified()</script> </font></b></p>



<center><table border="0" cellpadding="4" cellspacing="0" width="578">
<tbody><tr>
<td height="25" valign="CENTER" width="50%">
<center><font size="-1"><a a677ed70d4d22="true" rel="nofollow" target="_blank" href="/Bert">Bert Roest</a></font></center>
</td>

<td height="25" valign="top" width="50%">
<center><font size="-1">Maarten van der Heijden</font></center>
</td>
</tr>
</tbody></table></center>


<p><b>The following alphabetical list of Franciscan authors, with concise
biographical remarks and information on manuscripts, editions and studies,
is far from complete, yet continually growing. On average, we install an updated version of each individual segment every
three months. For our website, we make use of a wide range of
<a a677ed70d4d22="true" rel="nofollow" target="_blank" href="/research">different research instruments</a></b></p>

<p><b>In the course of building this site, we stumble on a lot of additional materials that we try to
present in a series of bibliographies on specific topics, for instance on <a a677ed70d4d22="true" rel="nofollow" target="_blank" href="/bibliog">medieval
and Franciscan preaching etc.</a></b></p>

<p><b>We are acutely aware of the limitations of this site, yet we are continually improving, and
we hope that it will be a source of valuable information and not just of frustration. We invite all of you to send us
<a href="mailto:mheijden1@chello.nl%20bertroest@yahoo.co.uk">your comments </a></p>
<br>&nbsp;

<p>If you do not see the alfabetical list left of this screen, please find it <a a677ed70d4d22="true" rel="nofollow" target="_blank" href="/author/show/">here</a></p>
<br>&nbsp;
<p><br><font size="+1"><b>Thus far we would like to thank the following institutions
and persons:</b></font></p>

<p><b>NWO (Nederlandse Organisatie voor Wetenschappelijk Onderzoek) for the
grants that made it possible to visit several libraries and research centres</b></p>

<p><b>Professor C. Leonardi and the collaborators of the Fondazione Ezio Franceschini
in Florence</b></p>

<p><b>The Franciscan Institute at St. Bonaventure University</b></p>

<p><b>The Pontifical Institute of Medieval Studies Library in Toronto</b></p>

<p><b>The library of the Center for Reformation and Renaissance Studies, Toronto</b></p>

<p><b>The Medieval Institute, University of Notre Dame</b></p>

<p><b>The libraries of the Rijksuniversiteit Groningen and the Rijksuniversiteit
Utrecht</b></p>

<p><b>Prof.dr. F.A. van Liere; Prof.dr. G.J.Etzkorn; Dr. Leslie Knox; Dr. Robin J. Vose; Dr. Patrick Nold;
Dr. David Mengel; Dr. William Duba; Prof.dr. Onno Kneepkens; Dr. Gudrun Tscherpel; Prof.dr. S. Dumont; Prof.dr. Chris Schabel;
Dr. Sylvain Piron; Dr. Servus Giebel OFMCap; Dr. Aleksander Horowski OFMCap; Prof.dr. Jacqueline Hamesse; Prof.dr. Jean-Francois
Godet-Calogeras and many others who keep sending us corrections and additions.</b></p>
<br>

<p><b><font size="+1">For those interested in medieval studies and history at
large, we would like to present you <a a677ed70d4d22="true" rel="nofollow" target="_blank" href="/links">the following links</a></font></b></p>
{% endblock %}