{% extends "base.html" %}
{% block content %}
<br/>
<form action="{% url 'author-show' %}?{{ request.GET.urlencode }}" method="post">
    {% csrf_token %}
    <input type="submit" value="Export xml" style="margin:0px auto; display:block;"/>
</form>
<br />
<div class="pagination" id="letter_box">
    <span class="step-links">
        {% for letter in alphabet_list %}
            <a href="?page={{letter}}&order_by={{order_by}}&direction={{ direction }}">{{ letter|title }}</a>
        {% endfor %}

        <span class="current">
            Page {{ current }} of Z.
        </span>

    </span>
</div>
<table class="table table-striped table-bordered table-sm col-xs-1" id="author_table">

    <thead class="thead-light">

    <tr>
        <th scope="col">Alias<br/><a href="?order_by=alias&direction=asc" class="arrow up"></a> <a href="?order_by=alias&direction=desc" class="arrow down"></a></th>
        <th scope="col">Name<br/><a href="?q={{ q }}&order_by=name&direction=asc" class="arrow up"></a> <a href="?q={{ q }}&order_by=name&direction=desc" class="arrow down"></a></th>
        <th scope="col">Affiliation <br/><a href="?q={{ q }}&order_by=affiliation&direction=asc" class="arrow up"></a> <a href="?q={{ q }}&order_by=affiliation&direction=desc" class="arrow down"></a></th>
        <th scope="col">Biography <br/><a href="?q={{ q }}&order_by=biography&direction=asc" class="arrow up"></a> <a href="?q={{ q }}&order_by=biography&direction=desc" class="arrow down"></a></th>
        <th scope="col">Birth<br/><a href="?q={{ q }}&order_by=birth&direction=asc" class="arrow up"></a> <a href="?q={{ q }}&order_by=birth&direction=desc" class="arrow down"></a></th>
        <th scope="col">Death<br/><a href="?order_by=death&direction=asc" class="arrow up"></a> <a href="?order_by=death&direction=desc" class="arrow down"></a> </th>
        <th scope="col">Birth date precision<br/><a href="?q={{ q }}&order_by=birth_date_precision&direction=asc" class="arrow up"></a> <a href="?q={{ q }}&order_by=birth_date_precision&direction=desc" class="arrow down"></a></th>
        <th scope="col">Death date precision<br/><a href="?q={{ q }}&order_by=death_date_precision&direction=asc" class="arrow up"></a> <a href="?q={{ q }}&order_by=death_date_precision&direction=desc" class="arrow down"></a></th>
        <th>Actions</th>

    </tr>  
    </thead>
    <tbody>
    <br />
{% for author in page_authors %}
    <tr id="authors">
        <td>{{ author.get_truncated_detail_alias }}</td>
        <td>{{ author.get_truncated_author_name }}</td>
        <td>{{ author.get_truncated_affiliation }}</td>
        <td>{{ author.get_truncated_biography }}</td>
        <td>{{ author.get_truncated_birth }}</td>
        <td>{{ author.get_truncated_death }}</td>
        <td>{{ author.get_truncated_birth_date_precision }}</td>
        <td>{{ author.get_truncated_death_date_precision }}</td>
        <td>
            <a href="/author/{{ author.pk }}/detail_view">View</a>
            <a href="/author/{{ author.pk }}/edit?next={{ request.get_full_path }}"><span class="glyphicon glyphicon-pencil" >Edit</span></a>
            <a class="confirm-delete" href="/author/{{ author.pk }}/delete">Delete</a>
        </td>
    </tr>
{% endfor %}
    </tbody>  
</table>

{% endblock %}