{% extends "base.html" %}
{% block headjavascript %}

<title>FRANCISCAN AUTHORS, 13TH - 18TH CENTURY: A CATALOGUE IN PROGRESS</title>
<base target="main">
{% endblock headjavascript %}
{% block content %}

<CENTER><B><FONT SIZE=+2>virtual publication of articles on medieval history </FONT></B></CENTER>

<p>Because a lot of work is being done by many scolars that is not published in any official form,
we give here the opportunity to publish your work so that others can read it. </p><p><B><a href="mailto:mheijden1@chello.nl bertroest@yahoo.co.uk">If you have
any article of interest that touches the subject of this site, please feel free to send it to us.</a></B></p><p>
What we ask is that you send it to us in electronic form. Please save it in a format that was existent in 1997, so that the HTML conversion can be done easily.
<p>We do check if the subject is more or less in line with the site. Also the work has to be of
a sufficient standard to be published.</p><p></p><p></p>

<p><a href="/MEvermaak">De middeleeuwen uit als bron van vermaak </a> Bert Roest</p>
<p><a href="/GILLEEDS">Franciscan Views on Papal and Royal Sovereignty </a> Bert Roest</p>

{% endblock content %}