{% extends "base.html" %}
{% block content %}
<table class="table table-striped table-bordered table-sm">


    <thead class="thead-light">
    <tr>
        <th>Author name<a href="?q={{ q }}&order_by=name&direction=asc" class="arrow up"></a> <a href="?q={{ q }}&order_by=name&direction=desc" class="arrow down"></a></th>
        <th>Year<a href="?q={{ q }}&order_by=year&direction=asc" class="arrow up"></a> <a href="?q={{ q }}&order_by=year&direction=desc" class="arrow down"></a></th>
        <th>Title<a href="?q={{ q }}&order_by=title&direction=asc" class="arrow up"></a> <a href="?q={{ q }}&order_by=title&direction=desc" class="arrow down"></a></th>
        <th>Publisher<a href="?q={{ q }}&order_by=publisher&direction=asc" class="arrow up"></a> <a href="?q={{ q }}&order_by=publisher&direction=desc" class="arrow down"></a></th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <br />
        <center><a href="/work/new" class="btn btn-primary btn-danger">Add New Work </a></center>
    <br/>
{% for work in works %}
    <tr id="works">
        <td>{{ work.author.get_truncated_author_name }}</td>
        {% if work.year %}
            <td>{{ work.year}}</td>
        {% else %}
            <td></td>
        {% endif %}
        <td>{{ work.title }}</td>
        <td>{{ work.publisher }}</td>
        <td>
            <a href="/work/{{ work.pk }}/detail_view">View</a>
            <a href="/work/{{ work.pk }}/edit?next={{ request.get_full_path }}"><span class="glyphicon glyphicon-pencil" >Edit</span></a>
            <a class="confirm-delete" href="/work/{{ work.pk }}/delete">Delete</a>
        </td>
    </tr>
{% endfor %}
    </tbody>  
</table>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?q={{ q }}&page=1&order_by={{order_by}}&direction={{ direction }}">&laquo; first</a>
            <a href="?q={{ q }}&page={{ page_obj.previous_page_number }}&order_by={{order_by}}&direction={{ direction }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?q={{ q }}&page={{ page_obj.next_page_number }}&order_by={{order_by}}&direction={{ direction }}">next</a>
            <a href="?q={{ q }}&page={{ page_obj.paginator.num_pages }}&order_by={{order_by}}&direction={{ direction }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}