{% extends "base.html" %}
{% block headjavascript %}
<meta name="keywords"content="Franciscan manuscripts, manuscript collections">

<title>II. Catalogues/lists of Franciscan
manuscripts in specific libraries</title>
{% endblock headjavascript %}
{% block content %}

<p align="center"><b><font size="2"><a href="/">this site</a> is a co-production
of <u>Maarten van der Heijden</u>, <u>Bert Roest</u> and <u>Emmanuel Chamilakis</u>. &copy;</font></b></p>

<p align="center"><script language="javascript">last_modified()</script></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>II. Catalogues/lists of Franciscan manuscripts in specific libraries</p>

<p>Giuseppe Abate, ‘Antichi manoscritti ed incunaboli dell’ex-biblioteca o.f.m.
Conv. di S. Francesco ora Biblioteca Comunale di Sarnano’, <i>Miscellanea
Francescana</i> 47 (1947), 478-529.</p>

<p>`Alcuni Codici della Libreria di S. Giacomo della Marca, Scoperti
recentemente’, ed. G. Pagnani, <i>AFH</i>, 45
(1952), 171-192; 48 (1955), 131-146.</p>

<p>Kristiana Anciaux, ‘An illuminated gradual, 1515, in the Flemish Friars
Minor Museum in Sint-Truiden’, in: <i>&quot;Als ich can’. Liber Amicorum in
Memory of Professor Dr. Maurits Smeyers</i>,
ed. Bert Cardon et al., Corpus van verluchte handschriften/Corpus of
Illuminated Manuscripts, 11-12. Low Countries Series, 8-9 (Louvain: Peeters,
2002), 27-46.</p>

<p>`Antichi manoscritti ed incunaboli dell’ ex-biblioteca O.F.M. Conv. Di S.
Francesco-biblioteca comunale di Samano[??&gt;]’, ed. G. Abate, <i>Misc. Franc</i>., 47 (1947), 478-529, 484-522.</p>

<p>Giuseppe Avarucci, ‘L’antica biblioteca francescana ora comunale di
Sarnano’, <i>Collectanea Franciscana</i> 60
(1990), 2011-254. [contains a catalogue of the mss of the medieval library]</p>

<p>M. Auger, `La bibliothèque des cordeliers de Troys’, <i>BIRHT</i>, 15 (1967/8), 183-250.</p>

<p>&gt;&gt;&gt; <i>AIA</i> 26 (1926), 49-105,
173-244, 334-382 [Franciscan mss in the prov. Library of Toledo]</p>

<p>&gt;&gt;&gt; <i>AFH</i> 9; 49; 57, 367-377</p>

<p>&gt;&gt;&gt; <i>AFH</i> 91 (1998), 278-280:
review and analysis of the Franciscan mss in the new <i>Catálogo de
Manoscritos de la Biblioteca Universitaria de Salamanca</i> I: <i>Manoscritos 1-1679bis</i>, ed. O. Lilao Franca-Carmen Castrillo Gonzaléz
(Salamanca, 1997).</p>

<p>Pilar Hernandez Aparicio, ‘Gramaticas, vocabularios y doctrinas franciscanas
en las bibliotecas de Madrid’, in: <i>Actas del II Congreso Internacional sobre
Los Franciscanos en el Nuevo Mundo (siglo XVI), La Rábida, 21-26 de septiembre
de 1987</i> (Madrid, 1988), 573-588.</p>

<p>`Aufzeichnungen aus vernichteten Handschriften des Würzburger
Minoritenklosters’, ed. L. Meier, <i>AFH</i>,
44 (1951), 191-209.</p>

<p>&gt;&gt;&gt;&gt; <i>Leuvense Bijdragen</i>,
60 (1971), 257ff [check!]</p>

<p>H.M. Bannister, ‘A Short Notice of Some Manuscripts of the Cambridge
Friars’, <i>Collectanea Franciscana</i> 1, ed.
A.G. Little, BSFS 5 (Aberdeen, 1915), 124-140.</p>

<p>Arcángel Barrado Manzano, ‘Manuscritos franciscanos de la biblioteca de
Vicente Barrantes’, <i>AIA</i> 9 (1949),
211-237.</p>

<p>A. Bartoli Langeli, <i>Gli autografi di frate Francesco e di frate Leone</i>, Corpus Christianorum, Autographa Medii Aevi, 5
(Turnhout, 2000). Lengthy review by F. Accrocca, in: <i>Collectanea
Franciscana</i> 72:1-2 (2002), 337-355.</p>

<p><i>Bibliotheca manuscripta ad sacrum conventum Assisiensem</i>, ed. C. Cenci, Collana storico-artistica della
Basilica del Sacro Convento di S. Francesco – Assisi 4/1-2, 2 Vols. (Assisi,
1981)</p>

<p><i>Bibliotheken van het aartsbisdom Utrecht en van de Franciscanen: de
Collectie Thomaasse in de Utrechtse Universiteitsbibliotheek</i> (Utrecht, 1992) [separate a microfiche catalogue of
the collection]</p>

<p>M. Bigaroni, Catalogo deu manoscritti della Biblioteca storico-francescana di
Chiesa Nuova di Assisi (Assisi, 1978) [extract from <i>Atti dell’Academia
Properziana del Subiaso</i>, ser. 6, 1]</p>

<p>Maria Grazia Bistoni Grilli Cicilioni, ‘Tra manoscritti e libri di S. Francesco al Monte di Perugia e Santa Maria delle Grazie di Monteprandone’, in: <i>Giacomo della Marca tra Monteprandone e Perugia. Lo </i>Studium<i> del Convento del Monte e la cultura dell'Osservanza francescana. Atti del Convegno Internazionale di studi Monteripido, 5 novembre 2011</i>, ed. Fulvia Serpico & Luigi Giacometti (Tavernuzze-Florence: SISMEL-Edizione del Galluzzo, 2012), 145-174.</p>

<p>G. Boccali, ‘Il codice 226bis della Biblioteca Comunale di Terni’, <i>AFH</i> 83 (1990), 307-316.</p>

<p>Giacomo Boccanera, `Fondi francescani nella Biblioteca Valentiniana di
Camerino’, <i>Picenum Seraphicum</i>, 10
(1973), 229-244.</p>

<p>Guy Jacques Bougerol, ‘La Glose sur le Sentences du Manuscrit Vat. Lat.
691’, <i>Antonianum</i> 55 (1980).</p>

<p>Paolo Capitanucci, ‘Manoscritti, incunaboli e cinquecentine provenienti dalla biblioteca
del convento di S. Antonio (TOR) custoditi nella biblioteca del Sacro Convento di
Assisi’, <i>Analecta TOR</i> 36 (2005), 431-457.</p>

<p>Juso N. Carnicero Méndez-Aguirre, ‘Inventario de los manuscritos del archivo de los P.P.
Franciscanos de Santiago de Compostela’, <i>Estudios Mindonienses</i> 21 (2005), 487-545.</p>

<p>Franco Caroselli, <i>Legature del Settecento nella Biblioteca Provinciale dei Cappuccini di Bologna. I fondi dei conventi emiliani</i> (Bologna: Biblioteca Frati Minori Cappuccini, 2010). Review in CF 81:1-2 (2011), 415-417.</p>

<p>Manuel de Castro, <i>Manuscritos franciscanos de la Biblioteca Nacional de
Madrid</i> (Valencia: Artes Gráficas Soler,
Ministerio de Educación y Ciencia, 1973). </p>

<p><i>Catálogo de incunables e impresos del siglo XVI de la Biblioteca de la
Provincia Franciscana de Cartagena</i> (Murcia,
1994).</p>

<p><i>Catalogo del fondo musicale della Biblioteca del Sacro Convento di S.
Francesco di Assisi. Fondo del Maestro di Capella</i>, ed. Fausto Tuscano &amp; Francesca Tuscano, Fonti e Studi Francescani
8 - Inventari 5, 2 Vols. (Padua, 1999).</p>

<p>&gt;&gt; `Catalogo dei codici del convento di Monteripidi conservati nella
Biblioteca Comunale di Perugia’, ed. Maria Grazia Bistoni, <i>AFH</i>, 68 (1975), 111-196.</p>

<p><i>Catalogo dei manoscritti del Laudario di Iacopone da Todi</i>, ed. Eugenio Mecca & Marisa Boschi Rotiroti, Comitato
Nazionale per le celebrazioni del VII centenario di Iacopo da Todi (Florence: SISMEL-Edizioni del Galluzzo, 2010).</p>

<p><i>Catalogo del Fondo Musicale della Biblioteca del Sacro Convento di S.
Francesco di Assisi. Fondo del maestro di Cappella</i>, ed. Fausto Tuscano &amp; Francesca Tuscano, Fonti e Studi Francescano
VIII - Inventari 5 (Padua: Centro Studi Antoniani, 1999).</p>

<p><i>Catalogue des manuscrits de la Bibliothèque Franciscaine Provinciale</i>, ed. Ubald d’Alençon, Raoul de Sceaux &amp;
Willibrord de Paris (1952). Unedited catalogue of the mss of the provincial
library of the Order in Paris, a copy of which is kept in the Istituto Storico
dei Cappuccini in Rome.</p>

<p>Catalogus Librorum Conventus Fr. Min. Conventualium Thannensium: MS Colmar
Bibl. Publ. 577 (19th cent.) </p>

<p><i>Catalogue des manuscrits d’Autun</i>, ed.
Claire Maître (Turnhout, 2004).</p>

<p>C. Cenci, ‘Fr. Pietro Arrivabene da Canneto e la sua attività letteraria’, <i>AFH</i> 61 (1968), 115-195. [contains a lot of information
on individual Franciscan copiists and manuscripts.]</p>

<p>C. Cenci, ‘Libri liturgici miniati nel Museo Francescano di Gerusalemme’, <i>AFH</i> 84 (1991), 487-489.</p>

<p>Francisco Chavero Blanco, ‘La <i>Quaestio de doctrina theologiae</i> del manuscrito Vat.Lat. 782’, <i>Carthaginensia
</i>15 (1999), 31-72.</p>

<p>Galliano Ciliberti, ‘I manoscritti musicali della biblioteca del convento
francescano di Monteripido di Perugia’, <i>Studi Francescani</i> 96 (1999), 335-349.</p>

<p>Marcelo Cisneros, ‘Los fondos del archivo histórico del convento francisscano de Jujuy’, in:
<i>Un aporte a la historia de la cultura de los siglos XVII-XX. II Simposio sobre Bibliotecas y
Archivos del área franciscana en América, España y Portugal. Buenos Aires, 26-28 de Agosto de 2004</i>,
ed. J. Bunader & C.A. Lértora Mendoza (Buenos Aires: Editorial Castañeda, 2005), 143-163.</p>

<p><i>Codici e manoscritti della Biblioteca Antoniana, col catalogo delle
miniature a cura di François Avril, Francesca d'Arcais e Giordana Marini Canova</i>, ed. G. Abate &amp; G. Luisetto, Fonti e Studi per
la storia del Santo a Padova, Fonti, 1-2 (Vicenza, 1975). 2 Vols. See also the
extensive review with many corrections and additions by Cesare Cenci in AFH, 69
(1976), 496-520.</p>

<p>Isaac Collijn, `Franciskaners Bibliothek pa Gramunehomen, Stockholm’, <i>Nordisk
Tidskrift fur Bok-och-Bibliotekrasen</i>, 4
(1917), 101-171. [&gt;&gt;check!]</p>

<p>`Codices olim Franciscani in Bibliotheca Landiana Placentiae (Piacenza)’,
ed. A. Corna, <i>AFH</i>, 5 (1912), 89-94.</p>

<p>Marvin L. Colker, ‘A collection of stories in a codex of Assisi’, <i>Journal
of Medieval Latin</i> 10 (2000), 176-238. [An
exempla collection found in MS Assisi, Biblioteca di S. Francesco 442]</p>

<p>V. Condon, ‘An unusual Pentecost cycle in a fourteenth century missal’, in: <i>Medieval
Texts and Images: Studies of Manuscripts from the Middle Ages</i>, ed. M.M. Manion &amp; B.J. Muir (Chur, 1991),
91-110.</p>

<p>Zsuzsa Czagány, ‘Die Antiphonenreihe ‘Veniet ecce rex’ in den mittelalterlichen Handschriften der ungarischen Franziskaner und ihre europäischen Grundlagen’, in:
<i>Plaude turba paupercula. Franziskanischer Geist in Musik, Literatur und Kunst. Konferenzbericht Bratislava, 4.-6. Oktober 2004</i>,
ed. Ladislav Kacic (Slavisticky astav Jana Stanislava SAV, 2005), 27-32.</p>

<p>David L. D’Avray, ‘Another Friar and Antiquity’, in: <i>Modern Questions
about Medieval Sermons: Essays on Marriage, Death, History and Sanctity</i>, ed. Nicole Beriou &amp; David L. D’Avray,
Biblioteca di Medioevo Latino, 11 (Spoleto: Centro Italiano di Studi sull’Alto
Medioevo, 1994), 247-257[compares the classical learning in the anonymous
Franciscan text (MS Birmingham, University Library 6.III.19) and the sermons of
John of Wales]</p>

<p>`De manuscriptis franciscanis sparsis in bibliothecis Germaniae ac
Austriae’, A. Teetaert &amp; Z. Zedelgem’, <i>Coll. Franc.</i> 13 (1943), 35-60.</p>

<p>Wilhelm Dersch, ‘Die Bücherverzeichnisse der Franziskanerklöster Grünberg
und Corbach’, <i>Franziskanische Studien</i> 1
(1914), 438-478.</p>

<p>Wilhelm Dersch, ‘Zur Geschichte der Franziskanerbibliotheken in Fulda und
Salmünster’, <i>Franziskanische Studien</i> 10
(1923), 346-350.</p>

<p>Théophile Desbonnets, ‘Un rituel franciscain de 1458, Dole, Bibliothèque
Municipale, 49’, <i>Archivum Franciscanum Historicum</i> 65 (1972), 389-414.</p>

<p>&nbsp;‘Descriptio Codicis Amstelodamensis’, ed. B. Kruitwagen AFH (1 (1907)
108-115 [MS Amsterdam Stedelijke Bibliotheek, with constitutionas and
privileges]</p>

<p>`Descriptio Codicum Belgo-Franciscalium Diversis in Locis Asservatorum’, ed.
H. Lippens, <i>AFH</i>, 21 (1928), 362-370,
591-600; 22 (1929), 391-400, 548-557; 23 (1930), 383-389; 24 (1931), 370-378,
523-534.</p>

<p>`Descriptio Codicum Franciscanorum Bibliothecae Academie Leodiensi’, ed. H.
Lippens, <i>AFH</i>, 4 (1911), 354-359,
589-593; 5 (1912), 102-109, 737-751.</p>

<p>`Descriptio Codicum Franciscanorum Bibliothecae Maioris Seminarii
Leodiensis’, ed. H. Lippens, <i>AFH</i>, 7
(1914), 122-131, 341-346, 527-532, 739-748.</p>

<p>`Descriptio Codicum Franciscanorum Bibliothecae Namurcensis (Namur)’, ed. H.
Lippens, AFH, 6 (1913), 546-556</p>

<p>`Descriptio Codicum Franciscanorum Bibliothecae Riccardianae Florentinae’,
ed. A. López, <i>AFH</i>, 1 (1908), 116-125,
433-442; 2 (1909), 120-130, 319-324, 480-484; 3 (1910), 333-340, 551-558,
739-748; 4 (1911), 360-365, 748-754; 5 (1912), 352-259; 6 (1913), 156-167,
328-337, 748-757.</p>

<p>`Descriptio Codicum Franciscanorum Bibliothecae Riccardianae Florentinae’,
ed. S. Tosti, <i>AFH</i>, 8 (1915), 226-273,
618-657; 9 (1916), 395-442; 13 (1920), 586-603; 14 (1921), 243-258; 15 (1922),
155-170, 508-524; 16 (1923), 545-556.</p>

<p>`Descriptio Codicum Franciscanum qui in Bibliotheca DD. Matthaei Campori
Marchionis Mutinensis Extant’, ed. S. Gaddoni, <i>AFH</i>, 2 (1909), 642-645</p>

<p>`Descriptio Duorum Codicum Bibliothecae S. Cataldi (Mutinae)’, ed. S.
Gaddoni, <i>AFH</i>, 1 (1908), 623-626.</p>

<p>`Deutsche Franziskanerhandschriften in den Bibliotheken Mährens’, ed. A.
Neumann, <i>Franz. Stud</i>., 9 (1922),
260-263.</p>

<p>S.J.P. van Dijk, ‘Some Manuscripts of the Earliest Franciscan Liturgy’, <i>Franciscan
Studies</i> 14 (1954), 225-264 &amp; 16 (1956),
60-99.</p>

<p>V. Doucet, ‘Descriptio codicis 172 Bibliothecae Communalis Assisiensis’, <i>AFH</i> 25 (1932), 257-274, 378-389, 502-524.</p>

<p>V. Doucet, ‘Quaestiones centum ad scholam franciscanam saec. XIII ut
plurimum spectantes in codice Florentino, bibl. Laurent. Plut. 17. Sin. 7
asservatae’, <i>AFH</i> 26 (1933), 183-202,
474-496.</p>

<p>A.S.G. Edwards, ‘Unrecorded verses from the <i>Fasciculus Morum</i>’, Notes and Queries n.s. 48,2 (2001), 108-109 [on
verses from the <i>Fasciculus Morum</i>
as found in MS Cambridge, University Library li.6.11]</p>

<p>Barbara Faes de Mottoni, ‘Ugo di S. Cher e i manoscritti 130 e 131 della
Biblioteca Comunale di Assisi’, in: <i>Revirescunt chartae</i>, 151-169.</p>

<p>Thomas Jay Garbaty, ‘Studies in the Franciscan ‘The Land of Cokaygne’ in the
Kildare MS’, <i>Franziskanische Studien</i> 45
(1963), 139-153.</p>

<p>Robert Giel, ‘Manuscripta mediaevalia.’ Handschriften aus deutschen
Bibliotheken im Internet’, <i>Gazette du livre médiéval</i> 39 (2001), 34-40. [A presentation of the <i>Manuscripta
mediaevalia</i> project:
http://www.manuscripta-mediaevalia.de]</p>

<p>Oscar Alvarez Gila, ‘La documentación de las partituras musicales en el archivo del convento franciscano de Arantzazu (Oñate),
in: <i>Un aporte a la historia de la cultura de los siglos XVII-XX. II Simposio sobre Bibliotecas y Archivos del àrea franciscana en América, España y Portugal</i>,
ed. Jukio Bunader & Celina A. Lértora Mendoza
(Buenos Aires: Prov. Franciscana de la Asunción de la Santísima Virgen del Río de la Plata – Editorial Castañeda, 2005), 13-25.</p>

<p>Nicoletta Giovè &amp; Stefano Zamponi, ‘Manoscritti in volgare nei conventi
dei frati Minori: testi, tipologie librarie, scritture (secoli XIII-XIV)’, in: <i>Francescesimo
in volgare</i>, 301-336.</p>

<p>Paolo Guerrini, ‘Due codici francescani Bresciani’, <i>AFH</i> 30 (1937), 229-234.</p>

<p>Nicoletta Guivè Marchioli, ‘Forma e sostanza. A proposito di un catalogo di manoscritti
[San Francesco Magno, Padova]’, <i>Il Santo</i> 46 (2006), 427-436.</p>

<p>Franz Gratl, ‘Franziskanische Weinachtsmusik in Quellen aus dem Franziskanerkloster Bozen’,
in: <i>Plaude turba paupercula. Franziskanischer Geist in Musik, Literatur und Kunst.
Konferenzbericht Bratislava, 4.-6. Oktober 2004</i>, ed. Ladislav Kacic
(Slavisticky astav Jana Stanislava SAV, 2005), 235-255.</p>

<p>Francesca Grauso, ‘I libri di Monteripodo all’Augusta’, in: <i>Giacomo della Marca tra Monteprandone e Perugia. Lo </i>Studium<i> del Convento del Monte e la cultura dell'Osservanza francescana. Atti del Convegno Internazionale di studi Monteripido, 5 novembre 2011</i>, ed. Fulvia Serpico & Luigi Giacometti (Tavernuzze-Florence: SISMEL-Edizione del Galluzzo, 2012), 199-216.</p>

<p>Marvyn Roy Harris, <i>The Occitan Translations of John XII and XIII-XVII
from a Fourteenth-Century Franciscan Codex (Assisi, Chiesa Nuova MS. 9)</i>, Transactions of the American Philosophical Society
Vol. 75 Part 4 (Philadelphia, 1985).</p>

<p>Gallus Haselbeck, ‘Die älteste gedruckte Franziskanerpredigt über die
unbefleckte Empfängnis’, <i>Franziskanische Studien</i> 8 (1921), 283-292.</p>

<p>F. Henquinet, ‘Descriptio codicis 158 Assisii in bibliotheca communali’, AFH
24 (1931), 91-108, 145-170, 215-254.</p>

<p>Thomas Hochradner, ‘Tradition und Wandel in Quellen: Franziskaner-Musikhandschriften
in Salzburg als Beispiel’, in: <i>Plaude turba paupercula. Franziskanischer
Geist in Musik, Literatur und Kunst. Konferenzbericht Bratislava, 4.-6. Oktober
2004</i>, ed. Ladislav Kacic (Bratislava: Jana
Stanislava SAV, 2005), 109-133.</p>

<p><i>Il canto fratto nei manoscritti della Fondazione Biblioteca S. Bernardino di Trento</i>, ed. Giulia Gabrielli et al.,
Patrimonio storico e artistico del Trentino, 28
(Trento: Prov. Autonoma di Trento-Soprintendenza per i beni librari e archivistici, 2005).</p>

<p>.&gt;&gt;&gt;`I codici francescani della biblioteche di Padova’, ed. Luigi
Sultina, <i>Biblioteca Antoniana. Bullettino critico delle cose francescane</i>, 1 (1905), 14-21, 144-166???</p>

<p>&nbsp;<i>Il libro si mostra. Dal manoscritto alla stampa attraverso i tesori
del Convento dell’Osservanza di Bologna</i>.
Bologna, Convento dell’Osservanza, 23 gennaio - 26 marzo 2000, ed. Zita Zanardi
(Bologna, Costa Editore, 2000).</p>

<p><i>I manoscritti datati del fondo Conventi Soppressi della Biblioteca
Nazionale Centrale di Firenze</i>, SISMEL,
Manoscritti Datati d’Italia, 5 (Tavarnuzze-Florence, 2002).</p>

<p>`I manoscritti dei autori e dei argumenti francescani nella Biblioteca
Municipale di Piagga nell’ Emilia’, ed. V. Mazzeli, <i>Bollettino Francescano
Storia-bibliografico</i>, 1 (1938),
228-243&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;</p>

<p><i>I manoscritti e fondi librari francescani della biblioteca convegno di
studi (Convento di S. Matteo-Smario in Lames)</i>,
ed. M. Villani (Bari, 1982)</p>

<p>`I manoscritti francescani della Biblioteca Universitaria de Messina’, ed.
Diego Ciccarelli, <i>Misc. Franc</i>., 78
(1978), 495-563.</p>

<p><i>Incipitario dei manoscritti della Biblioteca Antoniana di Padova</i>, ed. G. Luisetto, intr. O. Visani, Fonti e Studi
Francescani, 6; Incipitari, 1 (Padua, 1996) [=selective incipit list,
predominantly on the basis of the catalogue of G. Abate &amp; G. Luisetto: <i>Codici
e manoscritti della Biblioteca Antoniana</i>, 2
Vols. (Vicence, 1975)].</p>

<p>`Initia Operum Franciscalium (XIII-XVs.)’, ed. G.E. Mohan, <i>Franciscan
Studies</i>, 35-38 (1975-78), 1*-498*</p>

<p>Leonhard Intorp, ‘Predigthandschriften aus dem Franziskanerkloster
Herstelle’, <i>Franziskanische Studien</i> 43
(1961), 85-87.</p>

<p><i>Iter Vaticanum Franciscanum</i>, ed. Etzkorn (Leiden, 1994)</p>

<p>Nikola Jaksic, ‘Minijature 15. stoljeca u psaltiru Franjevackog samostana u Kamporu na Rabu [Fifteenth-century Illuminations in the Psalter from the Franciscan Convent at Kampor on Rab Island]’, <i>Ars Adriatica</i> 3 (2013), 123-134.</p>

<p>David L. Jeffrey, ‘Authors, anthologists, and Franciscan spirituality’, in: <i>Studies
in the Harley Manuscript: The Scribes, Contents, and Social Contexts of British
Library MS Harley 2253</i>, ed. Susanna Fein
(Kalamazoo, 2000), 261-270.</p>

<p>Romain Jurot, ‘Die Inkunabeln des Franziskanerklosters in Freiburg/Schweiz mit Anhang:
Catalogus des incunables’, <i>Freiburger Geschichtsblätter</i> 81 (2004), 133-217.</p>

<p><i>Katalog der mittelalterlichen Handschriften bis zum Ende des 16.
Jahrhunderts in der Zentralbibliothek der Wiener Franziskanerprovinz in Graz</i>, ed. N. Golob, A. Haidinger,
M. Stieglecker &amp; F. Lackner, Veröffentlichungen der Kommission für Schrift- und Buchwesen des
Mittelalters II/9; Denkschriften der phil.-hist. Klasse, 336 (Vienna: Verlag
der Österreichischen Akademie der Wissenschaften, 2006). Review in <i>CF</i> 77:1-2 (2007), 361-362.</p>

<p><i>La biblioteca francescana di Palermo</i>,
ed. D. Ciccarelli (Palermo, 1994)</p>

<p><i>La France Franciscaine</i>, 17 (1934),
27-226, 479-486; 18 (1935), 443-449; 19 (1936), 269-279; 20 (1937), 67-73
[Overviews of Franciscan manuscripts by Willibrord Lampen]</p>

<p>W. Lampen, ‘Descriptio codicis Clarissarum Neerlandicarum (Paris, Bibl.
Nation. Ms. néerl. 40)’, <i>AFH</i> 30 (1937),
456-466 &amp; 31 (1938), 154-163.</p>

<p><i>Le pergamene del convento di S. Francesco in Lucca (secc. XII-XIX)</i>, ed. V. Tirelli &amp; M. Tirelli Carli (Rome, 1993).</p>

<p><i>Les manuscrits franciscains de la bibliothèque de Troyes</i>, ed. J.-G. Bougerol, Spicilegium Bonaventurianum 23
(Grottaferrata, 1982)</p>

<p>`L’inventario dei codici e del tesaro dei Franciscani di Arezzo’, ed. U.
Pasquini, <i>Misc. Franc</i>., 3 (1888), 73-81.</p>

<p>H. Lippens, ‘Descriptio ac analysis codicum geminorum 166 et 142 Musaei
Archeologiae Namurcensis’, <i>AFH</i> 42
(1949), 278-311.</p>

<p>E. Longpré, ‘Le manuscrit 194 du Magdalen College Oxford’, <i>AFH </i>22 (1929), 588.</p>

<p>Atanasio López &amp; Lucio M.a Núñez, ‘Descriptio codicum franciscalium
ecclesiae primatialis Toletanae’, <i>AIA </i>1
(1914), 369-390, 542-563; 3 (1915), 88-103; 7 (1917), 255-281; 11 (1919),
72-91; 12 (1919), 390-409; 13 (1920), 81-90.</p>

<p>A. López, ‘Descripción de los manuscritos franciscanos existentes en la
biblioteca provincial de Toledo’, <i>AIA</i> 25
(1926), 49-105, 173-244, 334-382.</p>

<p>A. López, `Descriptio Codicum Franciscalium Bibliothecae Cathedralis
Valentinae’, <i>AIA</i> 36:109  (1933), 172-222.</p>



<p>Atanasio López & Lucio Núñez, ‘Descriptio codicum franciscalium Bibliothecae Ecclesiae Primatialis Toletanae’, <i>Archivo Ibero-Americano</i> 1 (1914) 369-90, 542-63; 3 (1915) 88-103; 7 (1917) 255-81; 11 (1919) 72-91; 12 (1919) 390-409, 13 (1920) 81-96.</p>

<p>Cristina Lori, ‘Il nucleo dei codici di san Giacomo della Marca nella Biblioteca Storico Francescana di Falconara Marittima’, in: <i>Giacomo della Marca tra Monteprandone e Perugia. Lo </i>Studium<i> del Convento del Monte e la cultura dell'Osservanza francescana. Atti del Convegno Internazionale di studi Monteripido, 5 novembre 2011</i>, ed. Fulvia Serpico & Luigi Giacometti (Tavernuzze-Florence: SISMEL-Edizione del Galluzzo, 2012), 239-266.</p>

<p>Andrea Maiarelli, ‘L’archivio conventuale di San Francesco del Monte e le sue pergamene quattrocentesche’, in: <i>Giacomo della Marca tra Monteprandone e Perugia. Lo </i>Studium<i> del Convento del Monte e la cultura dell'Osservanza francescana. Atti del Convegno Internazionale di studi Monteripido, 5 novembre 2011</i>, ed. Fulvia Serpico & Luigi Giacometti (Tavernuzze-Florence: SISMEL-Edizione del Galluzzo, 2012), 217-238.</p>

<p>`Manuscritos Capuccinos a la Biblioteca de la Universidad de Barcelona’, ed.
B.D. Rubi, <i>Estudios Franciscanos</i>, 72
(1971), &gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt; [check!]</p>

<p>`Manuscritos franciscanos de la Biblioteca de Vincente Barrante’, ed. A.
Barrado Manzano, <i>Archivo Ibero-Americano,</i>
Ser. II 9 (1949), 211-37</p>

<p><i>Manuscritos franciscanos de la Biblioteca Nacional de Madrid</i>, ed. Manuel de Castro (Madrid, 1973)</p>

<p>`Manuscrits de la Bibliothèque Municipale de Metz’, ed. Cl. Schmitt, <i>AFH</i> 67 (1974), 471-555.</p>

<p><i>Manoscritti francescani della Biblioteca Nazionale di Napoli</i>, ed. C. Cenci, 2 Vols. , Spicilegium
Bonaventurianum, 7/8 (Grottaferrata, 1971).</p>

<p><i>Manoscritti liturgici della Biblioteca musicale L. Feininger presso il
Castello del Buonconsiglio, II: Repertorio analitico dei testi</i>, ed. Cesarino Ruini, Patrimonio storico e artistico
del Trentino, 25 (Trento, 2002).</p>

<p><i>Manoscritti membrani Della Biblioteca Provinciale Francescana di Napoli</i>, ed. G.F. d’Andrea (Naples, 1983)</p>

<p><i>Manoscritti secc. XVI-XX della Biblioteca della Facoltà teologica San Bonaventura `Seraphicum'</i>, ed. Bonaventura Danza (Rome: Pontificia Facultas Theologica S. Bonaventurae, 2011). Review in CF 82 (2012), 401-402.</p>

<p>`Manuscripta Franciscana in bibliothecis Belgicis, ed. A. T. Zedelgem, <i>Collectanea
Franciscana</i> 10 (11940), 239-255&gt;&gt;&gt;
</p>

<p>Alfonso Marini, ‘Una fonte italiana su S. Francesco del sec. XIV. La Vita
dei cod. Vaticano Capponiano 207 e Assisiano, Chiesa Nuova 8’, <i>AFH </i>73 (1980), 3-68.</p>

<p>V. Mazzelli, <i>I manoscritti di autori e di argumenti francescani nella
bibliotheca municipale di Reggio Emilia, Bibl. della Libreria</i>, ed. Frate Francesco, 10 (Reggio Emilia, 1931)</p>

<p>G. Mazzatinti, ‘La Biblioteca di San Francesco (Tempio Malatestiano) in
Rimini’, in: <i>Scritti vari di Filologia (A Ernesto Monaci gli scolari)</i> (Rome, 1901), 345-352.</p>

<p><i>Mediatheca Franciscana</i> http://www.sisf.assisi.it/mediatheca A site providing access to about 700 manusripts of the 'Fondo Antico' of the Sacro Convento now in the Biblioteca Communale of Assisi.</p>

<p>L. Meier, ‘Aufzeichnungen aus vernichteten Handschriften des Würzburger
Minoritenklosters’, <i>AFH </i>55 (1951),
191-209.</p>

<p>Enrico Menestò, ‘Codici del Sacro Convento di Assisi nella biblioteca di
Poppi’, <i>Studi Medievali</i> 20,1 (1979),
357-408 [Also appeared separately, in Spoleto, 1979]</p>

<p>Redemptus Menth, ‘Ein Missale Romanum von 1481 mit Handschriftlichen
Zusätzen für die Franziskaner in Polen. Bemerkungen zu den alten Drucken d.
Missale Romanum’ <i>Franziskanische Studien </i>20
(1933), 89-129.</p>

<p>Paul Meyer, ‘Notice et extraits du MS 8336 de la Bibliothèque de Sir Thomas
Phillips à Cheltenham’, <i>Romania </i>13
(1884), 497-541.</p>

<p>Marian Michalczyk, ‘Une Compilation Parisienne des sources primitives
franciscaines. Paris Nationale, ms. lat. 12707’, <i>AFH</i> 74 (1981), 3-32 &amp; &gt;&gt;&gt;&gt;.</p>

<p>`Mittelalterliche Franziskanerhandschriften des K.B. Nationalmuseums zu
München’, ed. H. Spettmann, <i>Franz. Stud</i>.,
4 (1917), 209ff</p>

<p>Paola Monacchia, <i>Le pergamene del convento di San Francesco di Gubbio. Inventario-Regesto</i> (S. Maria degli Angeli-Assisi: Edizioni Porziuncola, 2007). Cf. <i>Frate Francesco</i> 73 (2007), 679f ^ <i>Il Santo</i> 47 (2007), 585-587.</p>

<p>`Nachbonaventurianische Franziskusquellen in niederländischen und deutschen
Handschriften des Mittelalters’, ed. S. Clasen &amp; J. van Gurp, <i>AFH</i>, 49 (1956), 434-482.</p>

<p>Amy Neff, &quot;Palma dabit palmam’: Franciscan themes in a devotional
manuscript’, <i>Journal of the Warburg and Courtauld Institutes</i> 65 (2002), 22-66. [On MS Florence, Biblioteca
Medicea Laurenziana Plut.25.2 (Supplicationes variae), with an emphasis on the
discussion of emanation in the text and the image of the hand of God]</p>

<p>Livarius Oliger, 'Descriptio Codicum Quattuor Magistrorum expositionem Regulae S. Francisci
continentium', Antonianum 19 (1944), 229-258.</p>.

<p>V. Orlandi Balzari, ‘Alcuni tesori miniati della biblioteca francescana di
Falconara Marittima’, <i>Picenum Seraphicum</i>
22-23 (2003-2004), 273-294.</p>

<p>Marco Palma, ‘Un catalogo aperto per i manoscritti della Biblioteca Antoniana’, <i>Il Santo</i> 46 (2006), 451-461.</p>

<p>Amelia Pantano, ‘Il breviario della biblioteca comunale di Naro’, <i>Rassegna
Siciliana di storia e cultura</i> 67/17 (2002),
161-174.</p>

<p>Martina Pantarotto, ‘Nuovi manoscritti asppartenuti al convento osservante di
San Francesco Grande di Padova’, <i>Il Santo</i> 45 (2005), 723-736.</p>

<p>Martina Pantarotto, ‘Ancora sulla biblioteca manoscritta del convento di
San Francesco Grande di Padova. Riflessioni e spunti di ricerca’, <i>Il Santo</i> 46 (2006), 437-449.</p>

<p>Luigi Pellegrini, ‘Il manoscritto come veicolo di testi e di idee: l’esempio
dei manoscritti francescani’, <i>Bollettino di Informazione dell’ABEI</i> 8 (1999), 21-45.</p>

<p>Luigi Pellegrini, ‘La raccolta di testi francescani del codice assisiano
338. Un manoscritto composito e miscellaneo’, in: <i>Rivirescunt chartae
codices documenta textus. Miscellanea in honorem P. Caesarius Cenci OFM</i>, ed. Alvaro Cacciotto &amp; Pacifico Stella,
Medioevo, 5, 2 Vols (Rome: Pntificium Athenaeum Antonianum – Edizioni
Antonianum, 2002) I, 289-340.</p>

<p>C. Piana, `Descriptio Codicum Franciscalium necnon S. Thomae Aquin in
Bibliotheca Albornotiano Collegii Hispani Bononie Asservatorum’, <i>Antonianum</i>, 17 (1942), 97-132.</p>

<p>Marie-Anne Polo de Beaulieu, ‘La pastorale d’un franciscain dans le Midi de
la France à la fin du XIIIe siècle d’après un recueil d’<i>exempla</i> inédit (ms lat. 3555 de la BNF)’, in: <i>La
Prédication en Pays d’Oc (XIIe - début XVe siècle)</i>, ed. Jean-Louis Biget et.al., Cahiers de Fanjeaux, 32 (Toulouse:
Privat, 1997), 195-223.</p>

<p>Franz Karl Praßl, ‘Choralquellen in der Grazer Bibliothek der Franziskaner’,
in: <i>Plaude turba paupercula. Franziskanischer Geist in Musik, Literatur und
Kunst. Konferenzbericht Bratislava, 4.-6. Oktober 2004</i>, ed. Ladislav Kacic (Bratislava: Jana Stanislava
SAV, 2005), 33-50.</p>

<p>`Predigthandschriften aus dem Franziskanerkloster Herstelle’, ed. L. Intorp,
<i>Franz. Stud</i>. 43 (1961), 85-87.</p>

<p>Antonella Putaturo Murano, ‘Corali francescani’, in: <i>Miniatura a Napoli
dal ‘400 al ‘600: Libro di coro delle chiese napoletane</i>, ed. A. Putaturo Murano &amp; A. Perriccioli Saggese
(Naples, 1991), 83-91.</p>

<p>Lynn Ransom, ‘Innovation and identity: A Franciscan program of illumination
in the ‘Verger de soulas’ (Paris, bibliothèque Nationale de France, Ms. Fr.
9220)’, in: <i>Insights and Interpretations: Studies in celebration of the
Eighty-Fifth Anniversary of the Index of Christian Art</i>, Index of Christian Art, Occasional Papers, 5
(Princeton NJ: Princeton UP, 2002), 85-105.</p>

<p>Pál Richter, ‘Ergänzungen zum thematischen Verzeichnis der Kompositionen in
den Franziskaner-Handschriften in Ungarn’, <i>Studia Musicologica</i> 42 (2001), 285-298.</p>

<p>Pál Richter, ‘Die vielfältigen Beziehungen des Franziskanischen
Melodiebestandes im Karpatenbecken im 17. Jahrhundert’, in: <i>Plaude turba paupercula.
Franziskanischer Geist in Musik, Literatur und Kunst. Konferenzbericht
Bratislava, 4.-6. Oktober 2004</i>, ed.
Ladislav Kacic (Bratislava: Jana Stanislava SAV, 2005), 135-161.</p>

<p>Angelo Giuseppe Roncalli, <i>Lettere e scritti conservati negli archivi dei
conventi di S. Antonio dei Frati Minori Conventuali di Istanbul e Padova</i>, ed. Massimiliano M. Chilin, Centro Studi Antoniani
(Padova, Centro Studi Antoniani, 2000).</p>

<p>Roberto Rusconi, ‘La tradizione manoscritta delle opere degli Spirituali
nelle biblioteche dei predicatori e dei conventi dell’Osservanza’, <i>Picenum
Seraphicum</i> 12 (1975), 63-137.</p>

<p>S. Bordone, ‘Le biblioteche dei cappuccini italiani del Cinquecento. La
Campania (II)’, Studi e Ricerche Francescane 31 (2002), 3-239.</p>

<p>Joseph Schmidt, ‘Die Bibliothek des Franziskanerklosters Weida’, <i>Franziskanische
Studien</i> 17 (1930), 90-96.</p>

<p>Cl. Schmitt, `Manuscrits de la ‘Franciscan Library’ de Killiney’, <i>AFH</i>, 57 (1964), 165-190.</p>

<p>Cl. Schmitt, `Les livres anciens de la bibliothèque franciscaine de Metz', <i>Cahiers
Elie Fleurs</i> 12-13 (Metz. 1995-1996),
114-155.</p>

<p>W. Schmitz, ‘Eine unbekannte Einblattdruck zugunsten der Pariser Minoriten
aus dem Jahre 1487/88’ <i>Gutenberg-Jahrbuch </i>65
(1990), 79-81.</p>

<p>John F. Schwaller, ‘Documentos franciscanos en archivos y bibliotecas norteamericanos’, in:
<i>Un aporte a la historia de la cultura de los siglos XVII-XX. II Simposio sobre Bibliotecas
y Archivos del área franciscana en América, España y Portugal. Buenos Aires, 26-28 de Agosto
de 2004</i>, ed. J. Bunader & C.A. Lértora Mendoza (Buenos Aires: Editorial Castañeda, 2005),
569-579.</p>

<p>Rudolf Schwitzer, `Die skotistische Bibliothek in Salzburg’, <i>Franz. Stud</i>., 22 (1935), 348-363.</p>

<p>Renata Semizzi, ‘Un breviario francescano miniato tardodugentesco alla
Biblioteca Queriniana di Brescia: presentazione iconografica del MS A-V-24’,
in: <i>Il Codice miniato: rapporti tra codice, testo e figurazione. Atti del
III Congresso di Storia della Miniatura con una nota sul restauro dei codici
della Biblioteca Communale e dell’Academia Etrusca in occasione del Convegno</i>, ed. Melanie Ceccanti &amp; Maria Cristina Castelli
(Florence, 1992), 129-145.</p>

<p>Mario Sensi, ‘Il codice II. 5 alla biblioteca vescovile di Nocera Umbra’, <i>Bollettino
Storico della Città di Foligno </i>23-24
(1999-2000), 173-182. [a manuscript from the Clareni]</p>

<p>Mario Sensi, ‘‘Sermo in dedicatione Sancti Michaelis Archangeli’ (Assisi
Com. 356)’, <i>Lateranum</i> 68:1 (2002),
42-79/</p>

<p>M. Stelladoro, ‘La biblioteca dei frati minori Cappuccini di Catania e le
edizioni siciliane conservate nel fondo librario antico (1501-1830)’, <i>Archivio
Storico per la Sicilia Orientale</i> 92 (1996),
285-348.</p>

<p>Barnabas Strasser, <i>Catalogus Manuscriptorum Codicum qui Viennae in Bibliotheca
Sanctae Crucis Ord. Min. S.Francisci Conventus Asservantur, Anno 1760</i>: MS Vienna, Österr. Nationalbibl. Series Nova 3446</p>

<p><i>Studies in the Harley Manuscript: The scribes, contents, and social
contexts of British Library MS Harley 2253, </i>ed.
Susanna Fein (Kalamazoo, Mich., Medieval Institute Publications, 2000).</p>

<p><i>The Library of the Franciscans of the Convent of St. Anthony, Padua, at
the beginning of the Fifteenth Century</i>, ed.
K. Humphreys, Studies in the History of Libraries and Librarianship, 3
(Amsterdam, 1966).&nbsp;</p>

<p>S.B. Tomczak, ‘Biblioteka bernardynow w Poznaniu do konca XVI wieku’, in: <i>Zakony
franciszkanskie w Polsce, I/2-3</i>, ed. J.
Kloczowski (Cracow, 1992), 159-175.</p>

<p><i>Tractatus de transcendentalibus entis conditionibus</i> [Assisi, Biblioteca Comunale 186], ed. Dieter
Halcour, <i>Franziskanische Studien </i>41
(1959), 41-106.</p>

<p>Vladimir Vasilik, `Franciscan manuscripts in Russia’, <i>AFH</i>, 88 (1995), 533-558.</p>

<p>Williem de Vreese, ‘De verstrooiing onzer handschriften en oude boeken over
den aardbodem’, <i>Bibliotheekleven</i> 16
(1931), 199-221.</p>

<p>Lydia S. Wierda, <i>Catalogus van de handschriften, incunabelen en
postincunabelen uit het bezit van de orde der minderbroeders-kapucijnen in
Nederland, nu aanwezig in de Bibliotheek van de Theologische Faculteit Tilburg</i>, Miscellanea Neerlandica, 36 (Leuven: Peeters,
2006).</p>

<p>Walentyna Wegrzyn-Klisowska, ‘Póznosredniowieczne muzykalia z dawnej wroclawskiej biblioteki
bernardynow’, in: <i>Bernardyni na Slasku w póznym sredniowieczu</i>, ed. Jakub Kostowski (Wroclaw:
Oficyna Wydawnicza ATUT – Wroclawskie Wydawnictwo Oswiatowe, 2005), 169-173.>> late-medieval music
manuscripts in the Observant Franciscan convent library of Bratislava.</p>

<p>Zedelgem, A.A., `Notitiae sparsae de manuscriptis Franciscanis', <i>CF</i>, 7 (1937), 226-250.</p>

<p>idem, `Manuscripta Franciscana in bibliothecis Belgicis', <i>CF</i>, 10 (1940), 239-255.</p>

<p>idem, `Notae de manuscriptis Franciscanis sparsis in bibliothecis Germaniae
et Austriae', <i>CF</i>, 13 (1943), 35-60.</p>

<p>D. Zorzi, <i>Testi inediti francescani in lingua provenzale</i>, Miscellanea del Centro di Studi Medievali, Ser. 1
(Milan: Vita e Pensiero, 1956).</p>


<p>&nbsp;</p>

<p>&nbsp;</p>

{% endblock content %}
