{% extends "base.html" %}
{% block headjavascript %}
<meta name="keywords"content="Franciscan manuscripts, manuscript catalogues">


<title>III. Other important `recent’ manuscript catalogues as well as
specialized reference works for tracing Franciscan manuscripts and
Franciscan authors</title>
{% endblock headjavascript %}

{% block content %}

<p align="center"><b><font size="2"><a href="/">this site</a> is a co-production
of <u>Maarten van der Heijden</u>, <u>Bert Roest</u> and <u>Emmanuel Chamilakis</u>. &copy;</font></b></p>

<p align="center"><script language="javascript">last_modified()</script></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>III. Other important `recent’ manuscript catalogues as well as specialized reference works
for tracing Franciscan manuscripts and Franciscan authors </p>


<p><i>A Catalogue of Western Book Illumination in the Fitzwilliam Museum and the Cambridge Colleges, 
Part One: The Frankish Kingdoms-Northern Netherlands-Germany-Bohemia-Hungary-Austria</i>, ed. 
Nigel Morgan, Stella Panayotova et al., Illuminated Manuscripts in Cambridge (Turnhout: Brepols-Harvey Miller Publishers, 2009).</p>

<p><i>A Descriptive Catalogue of the Medieval Manuscripts in Worcester Cathedral Library</i>, ed. R.M. Thomson &amp;M. Gullick (Woodbridge, 2001).</p>

<p><i>A descriptive catalogue of the medieval manuscripts of Exeter College, Oxford. ed</i>. Andrew G. Watson (Oxford,Oxford University
Press, 2000).</p>

<p><i>A Descriptive Catalogue
of the Western Medieval Manuscripts of St. John’sCollege, Oxford</i>, ed. Ralph Hanna (Oxford-New York,
2002).</p>

<p><i>Album de manuscrits français du XIII siècle</i>, ed. Maria Careri et al. (Rome, Viella, 2000). </p>

<p>Chiara Balbarini, ‘Gli arredi liturgici della chiesa di San Francesco a Pisa: 
il complesso dei corali miniati (sec. XIV) ricostruito’, <i>Bollettino Storico Pisano</i> 70 (2001), 253-263.</p> 

<p><i>Bibliographie des manuscrits litteraires en ancien provençal</i>, ed. Clovis Brunel (Paris, 1935).</p>

<p><i>Biblioteca Ambrosiana. Catalogo dei manoscritti</i>: http://www.ambrosiana.it/ita/manus_campi.asp 

<p><i>Biblioteca Bíblica Ibérica Medieval</i>, ed. Klaus Reinhardt &amp; Horacio Santiago-Otero (Madrid, 1986) &amp; <i>Bibelkommentare spanischer 
Autoren (1500-1700)</i>, ed. Klaus Reinhardt Vol. I- (Madrid, 1990-).</p>

<p><i>Biblioteca Comunale di Treviso, Catalogo dei manoscritti (nn. 2901-3150)</i>, ed. Emilio Lippi &amp; Giorgio Barbirato (Treviso, Comune, 
2000).</p>

<p><i>Bibliothèque Lorraine de la Renaissance. Les cent livres</i>, 
ed. Alain Cullière (Metz, Médiathèque du Pontiffroy, 2000).</p>

<p><i>Biblioteca Marucelliana Firenze</i>, ed. Maria
Prunai Falciani &amp; M. Angeli, Le Grandi Biblioteche d’Italia (Florence,
Nardini Editore-Ente Cassa di Risparmio di Firenze, 1999).</p>

<p>Maria Grazia Bistoni Grilli Cicilioni, <i>Un libro da bisaccia il codice 44 dell’Archivio 
Comunale di Monteprandone</i>,Subsidia Scientifica Franciscalia (Rome, 1996).</p>

<p>Robert Black & Gabriella Pomaro, <i>‘La consolazione della 
filosofia’nel Medioevo e nel Rinascimento italiano. Libri di 
scuola e glosse nei manoscritti fiorentini/Boethius’ ‘Consolation of Philosophy’ 
in Italian Medieval and Renaissance Education. Schoolbooks 
and their Glosses in Florentine Manuscripts, 
Biblioteche e Archivi.</i> Collana della Società Internazionale 
per lo Studio del Medioevo Latino, 7, SISMEL (Florence: Edizioni del Galluzzo, 2000).</p>

<p>E.P. Bos, <i>Database of Medieval Latin Texts on Logic and Semantics in Medieval Manuscripts, 
Founded on the Card Files of Professor L.M. de Rijk</i> [Cf. MEL XXI, no. 12144]</p>

<p><i>Cambridge University Library. The great collections</i>, ed. Peter Fox (Cambridge,
Cambridge University Press, 1998). </p>

<p>Paolo Capitanucci, ‘Manoscritti, incunaboli e cinquecentine provenienti
dalla biblioteca del convento di S. Antonio
(TOR) custoditi nella biblioteca del Sacro Convento di Assisi’, <i>Analecta TOR</i> 36 (2005), 431-457.</p>

<p>H. Caplan, <i>Medieval Artes Praedicandi. A Handlist</i> (Ithaca, New York, 1934); <i>A 
Supplementary Handlist</i> (Ithaca, New York, 1936).</p>

<p>Giuliana Carlesso, ‘Le ‘Istorie romane’ del Ms. 47, Scaff II della Biblioteca Antoniana di Padova 
e ‘I fatti di Cesare’ nel Veneto’, <i>Il Santo</i> 41 (2001), 345-394.</p>

<p>Juso N. Carnicero Méndez-Aguirre, ‘Inventario de los manuscritos del archivo
de los P.P. Franciscanos de Santiago de Compostela’, <i>Estudios Mindonienses</i> 21 (2005), 487-545.</p>

<p><i>Catalogo dei codici della Biblioteca Capitolare di Padova. In appendice gli incunaboli con aggiunte manoscritte</i>, Fonti e ricerche di storia ecclesiastica Padovana, 32, 2 Vols. (Padova: Istituto per la storia ecclesiastica Padovana, 2007). See <i>Collectanea Franciscana</i> 77 (2007), 647f.</p>

<p><i>Catalogo de la Biblioteca Capitular de Tarazona</i>, ed. Juan Cruz Martinez Eraso &amp; Angel RevillaLahiguera (Zaragoza,
2002).</p>

<p><i>Catalogo dei manoscritti in scrittura latina datati o databili per indicazione di anno, di luogo o di
copisti, III: Perugia, Biblioteca Comunale Augusta, Archivio storico di S.
Pietro, biblioteca Dominicini</i>, ed. M. Grazia Bistoni Grilli Cicilioni, 3 Vols. (Padua,
1971-1994).</p>

<p><i>Catalogo del fondo musicale della 
Biblioteca del Sacro Convento di S. Francesco di Assisi. Fondo del Maestro di Capella</i>, ed. Fausto Tuscano &amp; Francesca
Tuscano, Fonti e Studi Francescani 8 - Inventari 5, 2 Vols. (Padua, 1999).</p>

<p><i>Catálogo de libros litúrgicos, españoles y portugueses, impresos en los siglos XV y XVI</i>, 
ed. Antonio Odriozola,Julián Martín Abad &amp; Francesc Xavier Altés i Aguiló (Pontevreda: Museo
de Pontevreda, 1996).</p>

<p><i>Catalogo delle biblioteche d’Italia: Campania</i>, 2 Vols. (Milan, 2002).</p>

<p><i>Catálogo de Manoscritos de la Biblioteca Columbina de Sevilla</i>, I &amp; II, ed. 
José Francisco Sáez Guillén (Sevilla, 2002).</p>

<p><i>Catálogo de Manuscritos de la Biblioteca Universitaria de Salamanca, II: Manuscritos
1680-2777</i>, ed. Florencia Marcos&amp; Fulgencio Riesco (Salamanca, 2002).</p>

<p><i>Catalogo dei manoscritti datati del fondo Conventi Soppressi della Biblioteca Nazionale 
Centrale di Firenze</i>, ed. Simona Bianchi &amp; Adriana Di Domenico, Manoscritti datati d’Italia, 
5 (Tavarnuzze-Impruneta-Florence: SISMEL, 2002).</p>

<p><i>Catalogo di manoscritti filosofici nelle biblioteche italiane.</i> Vol.9: <i>Firenze</i>, ed. Gabriella Pomaro, 
 Corpus Philosophorum Medii Aevi. Subsidia - Unione Accademica nazionale, 11
(Tavarnuzze-Impruneta-Florence: SISMEL-Edizioni del Galluzzo - Leo 
S.Olschki, 1999).</p>


<p><i>Catalogo di manoscritti filosofici nelle biblioteche italiane.</i> Vol. 10: <i>Arezzo, 
Borgomanero, Novara, Palermo, Pavia, Sansepolcro, Siena, 
Stresa</i>, ed. Gian Mario Cao et al. Corpus Philosophorum Medii Aevi. Subsidia 
- Unione Accademica nazionale, 12 (Firenze, Sismel Edizioni del Galluzzo - Leo 
S.Olschki, 2000). </p>

<p><i>Catalogo dei manoscritti filosofici nelle biblioteche italiane</i>, Corpus Philosophorum Medii Aevi Subsidia
(Florence,1980-) [until now at least ten volumes have appeared, among which a catalogue of important collections in Florence (Volume 9)]</p>

<p><i>Catalogue de la Bibliothèque du couvent de la Divine Providence à Ribeauvillé. Fonds anciens 
(XVe-XVIe siècles)</i>, ed. Louis Schlaefli, Bibliotheca bibliographica Aureliana, 186 (Baden-Baden,2002).</p>

<p><i>Catalogue des manuscrits de la Bibliothèque de l’Arsenal</i>, ed. Henry Martin (Paris: 
Libraire Plon, 1885).</p>

<p><i>Catalogue des manuscrits médiévaux de la Bibliothèque cantonale et universitaire de Fribourg</i>, ed. Romain Jurot (Dietikon-Zurich: Urs Graf Verlag, 2006).</p>

<p><i>Catalogus codicum manuscriptorum medii aevi Latinorum qui in Bibliotheca Jagellonica 
Cracoviae asservantur.</i><i> Vol. VII, numeros continens inde a 1191 usque ad 1270</i>, ed. Maria Kowalczyk, Anna Kozsowska 
et al. (Cracoviae, 2000).</p>

<p><i>Catalogus van de handschriften aanwezig in de Bibliotheek Arnhem</i>, ed. Harry Chr. Van Bemmel (Hilversum, 
Verloren, 1999). </p>

<p><i>Catalogus van de handschriften, incunabelen en postincunabelen uit het bezit van de orde der
minderbroeder-kapucijnen in Nederland, nu aanwezig in de Bibliotheek van de 
Theologische Faculteit Tilburg</i>, ed. Lydia S. Wierda, Miscellanea Neerlandica, 36 (Louvain:
Peeters,2006).</p>

<p>Daniela Caverzan, ‘I graduali miniati dell’archivescovo Rinaldo Graziani OFMConv. nella 
Biblioteca Comunale di Bagnacavallo: storia e stile’, <i>IlSanto</i> 39 (1999), 52-551. </p>

<p>Massimo Ceresa, <i>Bibliografia dei fondi manoscritti della Biblioteca Vaticana (1991-2000)</i>, 
Studi e Testi, 426 (Città del Vaticano: BAV, 2005).</p>

<p>Enrique Chacón Cabello, ‘Inventario de la biblioteca conventual de Santa Maria de los Angeles de 
Miraflores de Málaga y otros ‘papeles’’, in: <i>El Franciscanismo en Andalucia. Conferencias del 
IV Curso de Verano</i>, ed. Manuel Peláez del Rosal (Córdoba: Caja Sur, 2000), 429-465.</p>

<p>Massimo Ceresa, <i>Bibliografia dei fondi manoscritti della Biblioteca Vaticana (1991-2000)</i>, 
Studi e Testi, 426 (Città del Vaticano: BAV, 2005).</p>

<p>Sophronius Clasen &amp; Julius van Gurp, ‘Nachbonaventurianische Franziskusquellen in 
niederländischen und deutschen Handschriften des Mittelalters’, <i>AFH</i> 49 (1956), 434-482.</p>

<p><i>Codici e manoscritti della biblioteca Antoniana</i>, ed. Giuseppe Abate &amp; Giovanni 
Luisetto, 2 Vols. (Vicenza, 1975)</p>

<p><i>Compendium Auctorum Latinorum Medii Aevi</i>, ed. M. Lapidge, G.C. Garfagnini, L. Lanza, 
Fondazione Ezio Franceschini(Firenze-Turnhout, 1998-) [CALMA]</p>

<p>Claudia Costacurta, ‘Il manoscritto Reginense Latino 692 della Biblioteca Apostolica Vaticana. 
Un manuale di storia?’, <i>Antonianum </i>78 (2003), 113-142.</p>

<p>Cécile Davy-Rigaux & Fabien Guilloux, ‘La mise en valeur d’un fonds liturgique franciscain’, <i>Études Franciscaines</i> n.s. 1 (2008), 215-217.</p>

<p>Carlo Delcorno, Rosa Maria Dessí &amp; Oriana Visani, ‘Inventario di manoscritti di prediche 
volgari inedite (Roma, Napoli, Città del Vaticano, Francia, Inghilterra)’, <i>Lettere Italiane</i> 
54 (2002), 379-388.</p>

<p>Mariano Dell’Omo, ‘Un messale tre-quattrocentesco del convento francescano di S. Agata di 
Gaeta e una ‘Confexio valde pulcra et optima’ in volgare (Cod. Casin. 585)’, in: <i>‘Ubi neque aerugo neque tinea 
demolitur</i>, 165-190.</p>

<p>M.C. Diaz y Diaz, <i>Index Scriptorum Latinorum Medii Aevi Hispanorum</i>, 2 Vols. (Salamance, 1958).</p>

<p><i>Die Bibliothek der Abtei St. Walburg in Eichstätt</i>, ed. Andreas Friedel, Schriften 
der Universitätsbibliothek Eichstätt, 45 (Wiesbaden, Harrassowitz, 2000).</p>

<p><i>Die datierten Handschriften der Universitätsbibliothek Würzburg</i>, ed. Hans-Günter Schmidth, Datierte Handschriften in Bibliotheken der Bundesrepublik Deutschland, Band 5 
(Stuttgart: Anton Hiersemann, 2004).</p>

<p><i>Die Handschriften der Thüringer Universitäts- und Landesbibliothek Jena,I: 
Die mittelalterlichen lateinischen Handschriften der Electoralis-Gruppe</i>, ed. Bernhard Tönnies (Wiesbaden, 2002).</p>

<p><i>Die Handschriften und 
Incunabeln der italienischen Renaissance</i>, ed. Hermann Julius Hermann, 4 Vols. (Leipzig, 1930-1933).</p>

<p><i>Die homiletischen und hagiographischen Handschriften des Stadtarchivs Köln, Teil 2: 
Handschriften der Sammlung Wallraf, Handschriften des Bestandes W*, Fragmente</i>, ed. Joachim Vennebusch, 
Mitteilungen aus dem Stadtarchiv von Köln. Sonderreihe: Die Handschriften des Archivs, Heft 7 (Cologne,
2001).</p>

<p><i>Die lateinischen Handschriften aus dem Augustiner-Chorherrenstift Eberhardsklausen in der Stadtbibliothek Trier. Teil 1</i>, K. Heydeck & G. Staccioli, Beschreibendes Verzeichnis der Handschriften der Stadtbibliothek zu Trier, N.S., 2 (Wiesbaden: Harrassowitz, 2007).</p>

<p><i>Die lateinischen Handschriften der Universitätsbibliothek Tübingen</i>, 2 Vols. 
(Wiesbaden: Harrassowitz, 2001-2003).</p>

<p>Die lateinischen Handschriften in Quarto der Staatsbibliothek zu Berlin-Preußischer 
Kulturbesitz. Teil I: Ms.lat.qqquart. 146-406</i>, ed. Renate Schipke, Kataloge 
der Handschriftenabteilung. Erste Reihe: Handschriften, 6 (Wiesbaden: Harrassowitz, 2007).</p>

<p><i>Die lateinischen mittelalterlichen Handschriften der Universitätsbibliothek München:
die Handschriften aus der Quartreihe</i>, ed. Marianne Reuter &amp; Gerhard Schott, 
Die Handschriften der Universitätsbibliothek München, 5 (Wiesbaden, O. Harrassowitz Verlag, 2000). </p>

<p><i>Die lateinischen und 
deutschen Handschriften der Universitäts-Bibliothek Leipzig.</i> Bd. 2.: <i>Die theologischen 
Handschriften </i>I (<i>Ms 501-625</i>), ed. Peter Burkhart, Katalog 
der Handschriften der Universitäts-Bibliothek Leipzig. Abteilung 5 (Wiesbaden, Harrassowitz Verlag, 1999). </p>

<p><i>Die mittelalterlichen 
Handschriften der Universitätsbibliothek Marburg</i>, ed. Sirka Heyne (Wiesbaden, 2002).</p>

<p><i>Die mittelalterlichen 
Handschriften der Universitätsbibliothek Rostock</i>, ed. K. Heydeck, Katalog der
Universitätsbibliothek Rostock, 1 (Wiesbaden: Harrazzowitz, 2001).</p>

<p><i>Die mittelalterlichen nichtliturgischen Handschriften des Zisterzienserklosters Salem</i>, 
ed. W. Werner,Kataloge der Universitätsbibliothek Heidelberg, 5 (Wiesbaden, Dr. Ludwig Reichert Verlag,
2000).</p>

<p><i>Die nichtarchivistischen Handschriften der Signaturgruppe Best. 701 Nr.191-992, 
ed. E. Overgaauw, Mittelalterliche Handschriften im Landeshauptarchiv Koblenz, 2 (Wiesbaden, 2002).</i></p>

<p><i>Die theologischen lateinischen handschriften in octavo der Staatsbibliothek zu Berlin-Preußischer Kulturbesitz, Teil I: MS. Theol. Lat. Oct. 66-125</i> ed. Beate 
Braun-Niehr, Staatsbibliothek zu Berlin-Preußischer Kulturbesitz. Kataloge der 
Handschriftabteilung. Erste Reihe: Handschriften, 3, 1 (Wiesbaden: Harrassowitz 
Verlag, 2007).</p>

<p>C. Eubel, <i>Hierarchia catholica medii aevi, sive Summorum Pontificum, S.R.E. Cardinalium, 
Ecclesiarum Antistitum series ab anno 1198 usque ad annum 1431 perducta</i>, 3 Vols. (Munster, 1901-1913).</p>

<p>Claudio Fedele, Italo Franceschini & Adriana Paolini, <i>La Biblioteca del Collegio dei Gesuiti di Trento: 
pubblicazioni e manoscritti conservati nelle biblioteche trentine: catalogo</i>, Biblioteche e bibliotecari 
del Trentino, 4, 2 Vols. (Trento: Provincia autonoma di Trento. Soprintendenza per i beni librari e archivistici, 
2007).</p>

<p>Stefania Filippi, ‘I tesori della Biblioteca universitaria di Bologna’, <i>Biblioteche oggi </i>18: 5
(2000), 74-77.</p>

<p>Emilia Florio, ‘Matematica e fisica: un binomio inscindibile in un manoscritto del 
1764’, <i>Studi e ricerche francescane</i> 21 (1993).</p>

<p>Corrado Fratini, ‘Le miniature dei corali di Stroncone’, in: <i>Il beato Antonio da Stroncone</i>, 135-147.</p>

<p>L. Génicot &amp; P. Tombeur, <i>Index scriptorum operumque Latino-Belgicorum medii aevi. Nouveau 
répertoire des oeuvres médiolatines belges</i> (Brussels, 1973)</p>

<p>Marc Gil, <i>Catalogue des livres de dévotion manuscrits et imprimés (XIIe-XVIe 
siècles)</i>, Corpus des manuscrits médiévaux et des incunables des bibliothèques du Nord 
Pas-de-Calais (Lille: Université Charles-De-Gaulle - Lille, 3 - Bibliothèque Municipale, 
2006).</p>

<p><i>Gorizia. Biblioteca Civica. Biblioteca Statale Isontina. Catalogo</i>, ed. Simone Volpato, Inventari dei manoscritti delle Biblioteche d'Italia, 112 (Florence: Leo S/ Olschki, 2007).</p>

<p>J.B. Hauréau, <i>Initia 
Operum Scriptorum Latinorum Medii Potissimum Aevi</i> (Turnhout, 1973-74).</p>

<p>Christian Heitzmann, ‘Die mittelalterlichen Handschriften der Leopold-Sophien-Bibliothek in 
Üeberlingen’, <i>Schriften des Vereins der Geschichte des Bodensees</i> 120 (2002), 41-103.
</p>

<p><i>Hill Monastic Manuscript Library</i>&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;</p>

<p><i>Gesamtindex mittelalterlicher Handschriftenkataloge. Kumulation 
der Register der seit 1945 in der Bundesrepublik Deutschland erschienenen 
Handschriftenkataloge. 2. erweiterte Auflage Mikrofiche-Ausgabe Stand: 18.10.1999. Erstellt von 
der Handschriftenabteilung der Staatsbibliothek zu Berlin - Preussischer Kulturbesitz unter 
Verwendung der Erfassungen des Seminars für lateinische Philologie des 
Mittelalters der Universität Freiburg im Breisgau. Leitung Bernd Michael. 
Elektronische Datenverarbeitung Ruthild Willhardt (Wiesbaden, Harrassowitz
Verlag, 2000). </i></p>

<p>J. Gaudemet, <i>Les sources du droit canonique, VIII-XXe siècle</i> (Paris, 1993).</p>

<p>Nicoletta Giovè Marchioli, ‘Sul leggere i Cataloghi di manoscritti. A proposito del 
Catalogo dei codici del monastero di S. Cruz di Coimbra’, <i>Il Santo</i> 39 (1999), 97-108.</p>

<p>P. Glorieux, <i>La littérature quodlibétique (de 1260 à 1320)</i>, Bibliothèque Thomiste V &amp;
XXI, 2 Vols. (Le Saulchoir-Paris, 1925-1935).</p>

<p>Idem, <i>Répertoire des maîtres en théologie de Paris au XIIIe siècle</i>, Études de philosophie médiévale, 
17-18, 2 Vols. (Paris, 1933-1934) [Also in <i>AFH</i>]. Use together with: V. 
Doucet, `Maîtres franciscains de Paris. Supplément au`Répertoire des maîtres en théologie de Paris 
au XIIIe siècle’ de M. le Chan. P. Glorieux’, <i>AFH</i>, 27 (1934), 531-564 &amp; P. Glorieux, 
`Maîtres franciscains régents à Paris. Mise au point', <i>RThAM</i>, 18 (1951), 324-332.</p>

<p>Geneviéve Grand, Jean-Louis Alexandre &amp; Guy Lanoë, <i>Bibliothèque municipale de 
Vendôme</i>, Reliures médiévales des bibliothèques de France, 2 (Turnhout, Brepols, 2000).</p>

<p><i>Handschriftencensus 
der kleineren Sammlungen in den östlichen Bundesländern Deutschlands.</i> <i>Bestandsaufnahme der 
ehemaligen Arbeitsstelle "Zentralinventar mittelalterlicher Handschriften bis 1500 in den Sammlungen 
der DDR" (ZIH)</i>, ed. Renate Schipke &amp; Kurt Heydeck, unter Verwendung der 
Beschreibungen von Jutte Fliege, Daniela Lülfing &amp; Ursula Winter, 
Staatsbibliothek zu Berlin Preussischer Kulturbesitz. Kataloge 
der Handschriftenabteilung (Wiesbaden, Harrassowitz Verlag, 2000).</p>

<p><i>Handschriftencensus Westfalen</i>, ed. Ulrich Hinz, Schriften der Universitäts- und 
Landesbibliothek Münster, 18 (Wiesbaden, Dr. Ludwig Reichert Verlag, 1999).</p>

<p>Aleksander Horowski,‘Sermoni francescani del manoscritto Pavia, Biblioteca Universitaria, Aldini 47’, <i>AFH</i> 103 (2010), 359-422.</p>

<p><i>I canzonieri della lirica italiana delle Origini. Pubblicazione 
promossa dal Comitato Nazionale per le celebrazioni dell’VIII Centenario della 
nascitadi Federico II, on collaborazione con l’Accademia della Crusca, la Biblioteca Apostolica
 Vaticana, la Biblioteca Medicea Laurenziana, la Biblioteca Nazionale Centrale di Firenze, la Fondazione Ezio 
Franceschini-Archivio Gianfranco Contini</i>, ed. Lino Leonardi, Biblioteche e Archivi. 
Collana della Società Internazionale per lo Studio del Medioevo Latino, 6, SISMEL (Florence: 
Edizioni del Galluzzo, 2000-2001). [MSS BAV Vat.Lat. 3793; Florence, Laurenziana Regi 9; Florence, BN Banco Rari, 217 etc.]</p>

<p><i>I Codici della Biblioteca Capitolare di Cividale del Friuli</i>, ed. Cesare Scalon &amp; 
Laura Pani, Biblioteche e Archivi. Collana della Società Internazionale per lo Studio del
Medioevo Latino, 1, SISMEL (Florence: Edizioni del Galluzzo, 1998).</p>

<p><i>I codici latini datati della Biblioteca Apostolica Vaticana, II: I codici datati nei Vaticani latini, 1-2100</i>, ed. Elisabetta Caldelli (Città del Vaticano: BAV, 2007).</p>

<p><i>Il fondo manoscritti della Biblioteca Civica di Varese</i>, ed. Serena Contini (Varese: 
Biblioteca Civica: 2002).</p>

<p><i>Il trionfo sul tempo. I manoscritti illustrati della biblioteca dell’Accademia die Lincei 
e Corsiniana(</i>Modena: Panini Francesco Cosimo, 2002).</p>

<p><i>I manoscritti datati del Fondo Acquisti e doni e dei fondi minori della Biblioteca Medicea
Laurenziana di Firenze</i>, ed. Lisa Fratini &amp; Stefano Zamponi, 
Manoscritti datati d’Italia, 12 (BottaiTavernuzze-Florence, Sismel, Edizioni 
del Galluzzo, 2004).</p>

<p><i>I manoscritti datati del Fondo Conventi Soppressi della Biblioteca Nazionale Centrale di 
Firenze</i>, ed. S. Bianchi et al., Manoscritti datati d’Italia, 5 (Bottai Tavernuzze-Florence, Sismel,
Edizioni del Galluzzo, 2002).</p>

<p><i>I manoscritti datati del Fondo Palatino della Biblioteca Nazionale Centrale di Firenze</i>, ed. 
Simona Bianchi, Manoscritti datati d’Italia, 9 (Bottai Tavernuzze-Florence, 
Sismel, Edizioni del Galluzzo, 2003).</p>

<p><i>I manoscritti datati della Biblioteca civica ‘Angelo Mai’ e delle altre biblioteche di Bergamo</i>, 
ed. Francesco Lo Monaco, Manoscritti datati d’Italia, 6 (Bottai Tavernuzze-Florence, Sismel, Edizioni del Galluzzo, 2003).</p>

<p><i>I manoscritti datati della Biblioteca Medicea Laurenziana di Firenze. I. Plutei 12-34</i>, ed. T. De Robertis, C. Di Deo & 
M. Marchiaro, Manoscritti datati d'Italia, 19 (Bottai Tavernuzze-Florence: Sismel, Edizioni del Galluzzo, 2009).</p>

<p><i>I manoscritti datati della Biblioteca Nazionale Braidense di Milano</i>, ed. Maria Luisa Grossi Turchetti, 
Manoscritti datati d’Italia, 10 (Bottai Tavernuzze-Florence, Sismel, Edizioni
del Galluzzo, 2004).</p>

<p><i>I manoscritti datati della Biblioteca Queriniana di Brescia</i>, ed. N. Giovè Marchioli & M. Pantarotto, 
Manoscritti datati d'Italia, 18 (Bottai Tavernuzze-Florence: Sismel, Edizioni del Galluzzo, 2008).</p>

<p><i>I manoscritti datati della Biblioteca Riccardiana di Firenze, I MSS. 1-1000</i>, ed. Teresa De Robertis &amp;
Rosanna Miriello, Manoscritti datati d’Italia, 2 (Bottai Tavernuzze-Florence, Sismel, Edizionidel Galluzzo, 1997).</p>

<p><i>I manoscritti datati della Biblioteca Riccardiana di Firenze, II MSS.1001-1400</i>, ed. 
Teresa De Robertis &amp; Rosanna Miriello, Manoscritti datati d’Italia, 3 (Bottai Tavernuzze-Florence,
Sismel, Edizioni del Galluzzo, 1999).</p>

<p><i>I manoscritti datati della Classense e delle altre biblioteche della provincia di Ravenna</i>, 
ed. Maria Giulia Baldini et al., Manoscritti datati d’Italia, 11 (Bottai Tavernuzze-Florence, Sismel,
Edizioni del Galluzzo, 2004).</p>

<p><i>I manoscritti datati della provincia di Arezzo</i>, ed. Maria Cristina Parigi & Patrizia Stoppacci, Manoscritti datati d'Italia, 15 (Tavarnuzze (Firenze): SISMEL-Edizioni del Galluzzo, 2007).</p>

<p><i>I manoscritti datati della provincia di Forlì-Cesena</i>, ed. Paolo Errani & Marco Palma, Manoscritti datati d'Italia, 13 
(Tavarnuzze (Firenze): SISMEL-Edizioni del Galluzzo, 2006).</p>

<p><i>I manoscritti datati della provincia di Frosinone, Rieti e Viterbo</i>, ed. L. Buono, R. Casavecchia & M. Palma, Manoscritti datati d'Italia, 17 (Tavarnuzze (Firenze): SISMEL-Edizioni del Galluzzo, 2007).</p>

<p><i>I manoscritti datati della provincia di Grosseto, Livorno, Masa Carrara, Pistoia e Prato</i>, ed. M. Boschi Rotiroti, 
Manoscritti datati d'Italia, 16 (Tavarnuzze (Firenze): SISMEL-Edizioni del Galluzzo, 2007).</p>

<p><i>I manoscritti datati 
della provincia di Trento</i>, ed. M.A. Casagrande Mazzoli et al., Manoscritti datati d’Italia,
1 (Bottai Tavernuzze-Florence, Sismel, Edizioni del
Galluzzo, 2000).</p>

<p><i>I manoscritti datati della provincia di Vicenza
e della biblioteca Antoniana di Padova, </i>ed. Cristina Cassandro et al., Manoscritti datati d’Italia, 
4 (Bottai Tavernuzze-Florence, Sismel, Edizioni del Galluzzo, 2000). </p>

<p><i>I manoscritti datati della Sicilia</i>, ed. M.M. Milazzo et al., Manoscritti datati d’Italia, 
8 (Bottai Tavernuzze-Florence, Sismel, Edizioni del Galluzzo, 2003).</p>

<p><i>I manoscritti datati di Grottaferrata, Subiaco, Velletri</i>, ed. R. Crociani, M. Leardini, M. Palma et al., 
Manoscritti datati d'Italia, 20 (Tavarnuzze (Firenze): SISMEL-Edizioni del Galluzzo, 2009).</p>

<p><i>I manoscritti datati di Padova.  Archivio di Stato, Archivio Papafava, Biblioteca
Civica, Biblioteca del Seminario vescovile</i>, ed. A. Mazzon et al., Manoscritti datati
d’Italia, 7 (Bottai Tavernuzze-Florence, Sismel, Edizioni del Galluzzo, 2003).</p>

<p><i>I manoscritti della Biblioteca del Seminario Vescovile di Padova</i>, ed. Andrea Donello et 
al. SISMEL, Biblioteche e Archivi, 2. Manoscritti medievali del Veneto, 
I (Florence: Fondazione Ezio Franceschini/Edizione del Galluzzo, 1998).</p>

<p><i>I manoscritti della letteratura italiana delle origini, 1: Firenze, Biblioteca Nazionale 
Centrale</i>, ed. Sandro Bertini, Biblioteche e Archivi, 11 (Tavarnuzze-Impruneta-Florence: SISMEL, 2002).</p>

<p><i>I manoscritti del Monastero del Paradiso di Firenze</i>, ed. Rosanna Miriello, Biblioteche e Archivi (Tavarnuzze, Firenze: SISMEL-Edizioni del Galluzzo, 2007).</p>

<p><i>I manoscritti liturgici 
della Biblioteca L. Feininger presso il Castello del 
Buonconsiglio di Trento, II: Repertorio analitico dei testo</i>, ed. Cesarino Ruini, Patrimonio 
storico e artisticodel Trentino, 25 (Trento: Servizio Beni librari e archivistici, 2002).</p>

<p><i>I manoscritti medievali della Biblioteca comunale di Trento</i>, ed. Adriana Paolini et al. 
(Trento: Prov. Autonomadi Trento – Soprintendenza per i beni librari e archivistici, 2006). Cf. AFH100 (2007), 620-621.</p>

<p><i>I manoscritti medievali della provincia di Pistoia</i>, ed. Giovanna Murano et al. 
(Florence: SISMEL, Fondazione Ezio Franceschini/Edizioni del Galluzzo, 1999).</p>

<p><i>I manoscritti medievali della provincia di Prato</i>, ed. S. Bianchi et al. (Florence: SISMEL, 
Fondazione Ezio Franceschini/Edizioni del Galluzzo, 2000).</p>

<p><i>I manoscritti medievali delle province di Grosseto, Livorno e Massa Carrara</i>, ed. Sandro 
Bertelli et al.,Biblioteche e archivi, 10; Manoscritti Medievali della Toscana, 3 (Tavarnuzze-Impruneta-Florence:SISMEL, 2002).</p>

<p><i>I manoscritti medievali del Veneto</i> [various volumes] (Florence: Fondazione Ezio Franceschini/Edizioni del Galluzzo, 1998-)</p>

<p><i>I manoscritti medievali di Vicenza e provincia</i>, ed. Nicoletta Giové Marchioli, Leonardo Granata, Martina Pantarotto et al., Biblioteche e archivi, 17. Manoscritti medievali del Veneto, 3 (Tavarnuzze (FI): SISMEL-Edizioni del Galluzzo - Venice: Regione del Veneto, Giunta regionale, 2007).</p>

<p><i>I manoscritti medievali di Trento e provincia</i>, ed. Adriana Paolini, Biblioteche e archivi, 20 (Trento: Provincia Autonoma di Trento. Sopprintendenza per i Beni librari archivistici e archeologici – Tavarnuzze: SISMEL-Edizioni del Galluzzo, 2010).</p>

<p><i>Incipitario dei manoscritti della Biblioteca Antoniana di Padova</i>, ed. Luisetto Giovanni &amp;
introd. Oriana Visani, Fonti e Studi Francescani, 6 (Padua, 1996).</p>

<p><i>Incipits of Latin Works on the Virtues and Vices, 1100-1500</i>, ed. M.W. Bloomfield et al. (Cambridge, Mass.,1979); <i>A Supplement to Morton W. Bloomfield et al. Incipits of Latin Works on the Virtues and Vices 1100/1500 AD</i>, ed. Richard Newhauser & István Bejczy, Instrumenta Patristica et Mediaevalia, 50 (Turnhout: Brepols, 2008).</p>

<p><i>Inventar der Handschriften des Benediktinerstiftes Melk.</i> I. <i>Von den Anfängen bis ca. 1400. 
Katalogband &amp; Registerband</i>, ed. OttoKresten, Otto Mazal, Alois Haidinger &amp; Christine Glassner,
Österreichische Akademie der Wissenschaften, Philosophisch-Historische Klasse. Denkschriften, 272. 
Veröffentlichungen der Kommission für Schrift- und Buchwesen des Mittelalters, Reihe II. 
Verzeichnisse der Handschriften Oesterr. Bibliotheken, Bd. 8, Teil 1, 2 
Vols . + 1 cd-rom (Vienna, Verlag der Österreichischen Akademie der Wissenschaften, 2000).</p>

<p><i>Inventario dell’Archivio della Provincia di Cosenza dei Frati Minori Cappuccini</i> (Cosenza: Curiaprovinciale dei Cappuccini, 2001).</p>

<p><i>Inventaris van de Middelnederlandse handschriften van de Koninklijke Bibliotheek van België
(voorlopige uitgave)</i>,ed. Jan Deschamps &amp; Herman Mulder, 4 Vols 
(Brussels, Koninklijke Bibliotheek van België, 1997-2001). </p>

<p><i>Katalog der 
deutschsprachigen illustrierten Handschriften des Mittelalters</i>, ed. Hella Frühnorgen-Voss, 
Norbert H. Ott &amp; Urike Bodemann, Veröffentlichungen der Kommission für Deutsche 
Literatur des Mittelalters der Bayerischen Akademie der Wissenschaften, 3 Vols. 
(Munich, 19&gt;&gt;-1998). </p>

<p><i>Katalog der
deutschsprachigen illustrierten Handschriften des Mittelalters, 5. Lieferung 1/2: Gebetbücher</i>, 
ed. Hella Frühnorgen-Voss, Norbert H. Ott &amp; Urike Bodemann (Munich: C.H. Beck, 2002).</p>

<p><i>Katalog der Handschriften des Benediktinerstiftes Kremsmünster.</i><i> Teil 2: Zimeliencodices
und spätmittelalterliche Handschriften nach 1325 bis einschliesslich CC 100. Katalogband. 
Registerband. Beiheft Benediktinerstift Kremsmünster, Handschriften mit Datierungen aus Teil 2
des Handschriftenkataloges. Tafeln 1-45</i>, ed. Huke Fill Oesterreichische Akademie der 
Wissenschaften. Philosophisch-Historische Klasse. Denkschriften, 270. Veröffentlichungen der 
Kommission für Schrift- und Buchwesen des Mittelalters, Reihe II, Band 3, 2 Vols. (Wien, Verlag 
der Österreichischen Akademie der Wissenschaften, 2000). </p>

<p><i>Katalog der Handschriften des Benediktinerstiftes Michaelbeuern bis 1600. Katalogband -
Registerband Beiheft</i>, ed. Otto Kresten, Josef Feldner &amp; Beatrix Koll, Österreichische 
Akademie der Wissenschaften Philos.-Hist. Klasse 3, Denkschriften, Bd. 278. Veröffentlichungen der 
Kommission für Schrift- und Buchwesen des Mittelalters, Reihe II, Band 6: <i>Verzeichnisse der 
Handschriften Österreichischer Bibliotheken.</i> Herausgegeben von Otto Mazal&amp; Gerold 
Hayer, 3 Vols. (Vienna, Verlag der Österreichischen Akademie der Wissenschaften, 2000).</p>

<p><i>Katalog der lateinischen Handschriften der Bayerischen Staatsbibliothek München. Die 
Pergamenthandschriften aus dem Domkapitel Freising.</i> Band 1.: <i>Clm 6201-6316</i>, ed. G. Glauche, 
Catalogus codicum manu scriptorum Bibliothecae Monacensis, 3. Ser. Nova, pars 
2/1 (Wiesbaden, Harrassowitz, 2000). </p>

p><i>Katalog der lateinischen Handschriften der Bayerischen Staatsbibliothek München.Die Handschriften aus Augsburger Bibliotheken. Band I: Staatsbibliothek Clm 3501-3661</i>, ed. Erwin Rauner & Brigitte Gullath, Catalogus codicum manu scriptorum Bibliothecae Monacensis, Tomus III, Series Nova, Pars 3,1: Codices latinos 3501-3661 Bibliothecarum Augustanarum continens (Wiesbaden: Harrassowitz Verlag, 2007).</p>

<p><i>Katalog der Leichenpredigten und sonstiger Trauerschriften in oberschlesischen 
Bibliotheken und Archiven, </i>Marburger Personalschriften-Forschungen, 30 (Stuttgart, J. Thorbecke, 2000). </p>

<p><i>Katalog der Streubestände in Wien und Niederösterreich.</i> Teil I.: <i>Nichtarchivalische 
mittelalterliche Handschriften und Fragmente in Korneuburg, Mistelbach, Retz, St. Pölten, Tullin, 
Waidhofen an der Thaya, Weitra, Wien, Wiener Neustadt und aus Privatbesitz. Katalogband. Anhänge, 
Register, Tafeln</i>, ed. Otto Mazal, Alois Haidinger &amp; Franz Lackner, Österreichische Akademie 
der Wissenschaften Philos.-Hist. Klasse, Denkschriften, Bd. 272. Veröffentlichungen 
der Kommission für Schrift- und Buchwesen des Mittelalters, Reihe II, 5, 2 Vols. 
(Vienna, Verlag der Österreichischen Akademie der Wissenschaften, 2000). </p>

<p>Elizabeth O’Keefe, ‘Medieval manuscripts on the Internet’, <i>Journ. Rel. and 
Theol. Information</i> 3,2 (2000), 9-47.</p>

<p>N.R. Ker, <i>Medieval Manucripts in British Libraries, I: London</i> (Oxford, 1969)</p>

<p>N.R. Ker, <i>Medieval Manuscripts in British Libraries, 5: Indexes and Addenda</i>, ed. I.C. 
Cunningham &amp; A.G.Watson (Oxford, 2002).</p>

<p>Sigfrid Krämer, <i>Handschriftenerbe des deutschen Mittelalters</i>, 3 Vols. Mittelalterliche
Bibliothekskataloge Deutschlands und der Schweiz, Ergänzungsband I, 1-3 (Munich, 1989-1990).</p>

<p>P.O. Kristeller, <i>Latin Manuscript Books before 1600</i>, 3rd editon (New York, 1965). See also: <i>Latin Manuscript Books before 1600. A list of the printed 
Catalogues and unpublished Inventories of Extant Collections. Ergänzungsband 2006</i>, ed. P.O. Kristeller, Sigrid Krämer & Birgit Christine Arensmann, MGH, Hilfsmittel, 23 
(Hannover: Hahnsche Buchhandlung, 2007).</p>

<p>P.O. Kristeller, <i>Iter Italicum</i> (London-Leiden, 1977-1992).</p>

<p>Bonaventura Kruitwagen, ‘De Middelnederlandse Handschriften over het Leven van Sint 
Franciscus en zijn eerste gezellen’, <i>De Katholiek</i> 128 (1905), 151-191.</p>

<p><i>La Biblioteca del convento di S. Giacomo in 
Monselice-Padova. Manoscritti, inconaboli, cinquecentine, seicentine</i>, ed. Maria Cristina 
Zanardi (Vicenza: Ed. LIEF, 2003).</p>

<p><i>La biblioteca di S. Francesco della Vigna e i suoi fondi antichi. Atti del seminario, Venezia, 18 marzo 2008</i>, ed. Rino Sgarbossa (Venice: Regione del Veneto, 2009).</p>

<p><i>La Librairie des ducs de Bourgogne. Manuscrits 
conservés à la Bibliothèque royale de Belgique. I: Textes liturgiques, 
ascétiques, théologiques, philosophiques et moraux</i>, ed. B. Bousmanne, C. Van Hoorebeck 
(Turnhout, Brepols, 2000). [cf. <i>Revue d’Histoire Ecclésiastique</i> 98 (2003), 129-131]</p>

<p><i>Lateinische mittelalterliche Handschriften in Quarto der Universitätsbibliothek Augsburg. Die Signaturengruppen Cod. 1.2.4o und Cod. II.1.4o</i>, ed. Hardo Hilg, Die Handschriften der Universitätsbibliothek Augsburg, I: Die lateinischen Handschriften, 3 (Wiesbaden: harrasowitz, 2007).</p>

<p><i>Latin Manuscript Books before 1600. A list of the printed Catalogues and unpublished 
Inventories of Extant Collections</i></p>

<p><i>Le Moyen Âge en lumiere: manuscrits enluminés des bibliothèques de France</i>, ed. 
Jacques Dalarun (Paris: Fayard, 2002).</p>

<p><i>Le registre de prêt de la bibliothèque de Sorbonne (1402-1536)." Diarium Bibliothecae Sorbonae". 
Paris, Bibliothèque Mazarine, ms. 3323, </i>ed. J. Vielliard &amp; M.-H. Jullien de 
Pommerol, Documents, études et répertoires publiés par l’Institut de Recherche 
et d’Histoire des Textes, 57; Histoires des bibliothèques médiévales, 8 (Paris, Cnrs Éditions, 2000).</p>

<p><i>Les lieux de la mémoire écrite.</i><i> Les bibliothèques 
italiennes. Les bibliothèques de l’état italien entre tutelle et utilisation.</i> Catalogue 
d’exposition, Strasbourg, Hôtel du Département, 19 avril / 13 mai 2001 - Conseil de l’Europe 11/30 
juin 2001 (Paris-Strasbourg, 2001).</p>

<p><i>Les manuscrits de l’abbaye de Saint-Victor. Catalogue établi sur la 
base du répertoire de Claude de Grandrue (1514).</i> I: <i>Introduction - Concordances - 
Index.</i> II: <i>Texte, </i>Gilbert Ouy, Bibliotheca Victorina, 10 (Turnhout, 
Brepols Publishers, 1999).</p>

<p><i>Les manuscrits des rois de France au Moyen-Âge. Le miroir du Pouvoir</i>, ed. (Paris, Bibliothèque de
l’Image, 1997).</p>

<p><i>Lexiques et glossaires philosophiques de la Renaissance. Actes du Colloque International (Rome,
Academie Belgica, 3-4 novembre 2000), ed. J. Hamesse &amp; M. Fattori, FIDEM TEMA 23 (Turnhout, 2004).</i></p>

<p>A.G. Little, <i>Initia Operum latinorum Quae Saeculis XIII, XIV, XV Attribuntur Secundum Ordinem
Alphabeticum Disposita</i> (Manchester, 1904/New York, 1958)</p>

<p>Steven J. Livesey, ‘De viris illustribus et mediocribus: Biographical Database of Franciscan
Commentators on Aristotle and Peter Lombard’s Sentences’, <i>Franciscan Studies</i> 56 
(1998), 203-237 [description of the author’s database of medieval commentators 
on Aristotle and Lombard at the Dept. of History of Science, U. of Oklahoma, 
which apparently also contains lemmata on 214 Franciscan friars.]</p>

<p>Carolus Lohr, <i>Aristotelica Helvetica</i>,Scrinium Friburgense, Sonderband 6 (Freiburg (Schweiz), 1994).</p>

<p>C.H. Lohr, `Medieval Latin Aristotle Commentaries’, <i>Traditio</i> 23 (1967), 313-413 [=Lohr XXIII]; 24
(1968), 149-254[=Lohr XXIV]; 26 (1970), 135-216 [=Lohr XXVI]; 28 (1972),
281-396 [=Lohr XXVIII]; 29 (1973), 93-197 [=Lohr XXIX]; 30 (1974), 119-144
[=Lohr XXX]; <i>Bulletin de philosophie médiévale</i> 14 (1972),116-126.
[&gt;&gt; <i>Vestigia</i>&gt;&gt;]</p>

<p>C.H. Lohr, <i>Commentateurs d’Aristote au Moyen Age Latin: bibliographie de la littérature 
secondaire récente</i>, Vestigia 2 (Fribourg-Paris, 1988)</p>

<p>C.H. Lohr, <i>Renaissance Latin Aristotle Commentaries</i> (Florence, 1988) [also in 
<i>Renaissance Quarterly</i>, 21 (1974)]</p>

<p>C.H. Lohr, <i>Latin Aristotle Commentaries, V: Bibliography</i>, Corpus Philosophorum Medii Aevi 
Subsidia, 15 (Tavarnuzze-Firenze: SISMEL-Edizioni del Galluzzo, 2004).</p>

<p>O. Lorenz, <i>Deutschland Geschichtsquellen im Mittelalter, seit der mitte des XIII. 
Jahrhunderts</i>, 2 Vols. (Berlin, 1886-1887)</p>

<p>F. Maassen, <i>Geschichte 
der Quellen und der Literatur des canonischen Rechts im Abendlande bis zum Ausgang des Mittelalters</i> (Graz, 1871).</p>

<p>Maria Mannelli Goggioli, <i>La Biblioteca Magliabechiana. Libri, uomini, idee 
per la prima biblioteca pubblica a Firenze, </i>Monografie sulle biblioteche 
d’Italia, 9 (Florence, Leo S. Olschki,2000).</p>

<p><i>Manuscripti.</i><i> I codici della Biblioteca Comunale Ariostea</i>, ed. Mirna
Bonazza, Pugillaria, 1 (Ferrara: Biblioteca Comunale Ariostea, 2002).</p>

<p><i>Manuscritos e impresos del Monasterio de las Descalzas Reales de Madrid, </i>Catálogo de 
la Real Biblioteca. Tomo XIV / Catálogode los Reales Patronatos. Tomo 1, Dirección de María Luisa 
López Vidriero (Madrid, Editorial Patrimonio Nacional, s.a.). </p>

<p><i>Manuscrits datés des bibliothèques de France.</i> T. I: <i>Cambrai</i>, ed. Denis Muzerelle 
&amp; G. Grand (Paris, Cnrs Éditions, 2000).</p>

<p><i>Manoscritto medievali della Toscana, 1: I manoscritti medievali della provincia di Pistoia</i>, ed. Giovanna Murano,Giancarlo Savino, Stefano Zamponi, Biblioteche e Archivi.
Collana della Società Internazionale per lo Studio del Medioevo Latino, 3, SISMEL (Florence: Edizionidel Galluzzo, 1998).</p>

<p><i>Manoscritti medievali della Toscana, 2: I manoscritti medievali della provincia di Prato</i>, ed. S. Bianchi, F.Gallori, G.
Murano, M. Pantarotto, G. Pomaro, Biblioteche e Archivi. Collana della Società Internazionale per lo Studio del Medioevo Latino, 5, SISMEL (Florence: Edizioni del Galluzzo, 1999).</p>

<p><i>Manoscritti medievali della Toscana, 3: I manoscritti medievali delle province di Grosseto, 
Livorno e Massa Carrera</i>, ed. S. Bertelli et al., Biblioteche e Archivi. Collana della Società 
Internazionale per lo Studio del Medioevo Latino, 10, SISMEL (Florence: Edizioni del Galluzzo, 2002).</p>

<p><i>Manoscritti medievali della Toscana, 4: I manoscritti medievale della Bibliotecà Città di Arezzo</i>, 
ed. G. Lazzi et al., Biblioteche e Archivi. Collana della Società Internazionale per lo Studio del 
Medioevo Latino, 13, SISMEL (Florence: Edizioni del Galluzzo, 2003).</p>

<p><i>Manoscritti medievali della Toscana, 5: I manoscritti medievali della provincia di Arezzo. Cortona</i>, ed. E. Caldelli, 
F. Gallori, M. Pantarotto, M.C. Parigi, G. Pomaro, P. Stoppacci et al. Biblioteche e Archivi. Collana della 
Società Internazionale per lo Studio del Medioevo Latino, 22, SISMEL (Florence: Edizioni del Galluzzo, 2010).</p>

<p><i>Manoscritti medievali del Veneto, 1: I manoscritti della Biblioteca del Seminario vescovile 
di Padova</i>, ed. A. Donello et al., Biblioteche e Archivi. Collana della Società Internazionale perlo Studio del Medioevo
Latino, 2, SISMEL (Florence: Edizioni del Galluzzo,1998).</p>

<p><i>Manoscritti medievali 
del Veneto, 2: I manoscritti medievali di Padova e Provincia</i>, ed. Leonardo Granata et al., 
Biblioteche e Archivi, 9, SISMEL (Tavarnuzze-Florence: Edizioni del Galluzzo, 2002).</p>

<p><i>Manoscritti medievali del Veneto, 3: I manoscritti di Vicenza e provincia</i> (in 
prep.), Biblioteche e Archivi. Collana della Società Internazionale per lo 
Studio del Medioevo Latino, 14, SISMEL (Florence: Edizioni del Galluzzo, 2006).</p>

<p><i>Mediaeval Commentaries on Peter Lombard’s Sentences</i>, ed. G.R. Evans (Leiden:
E.J. Brill, 2000).</p>

<p><i>Mediatheca Franciscana</i> http://www.sisf.assisi.it/mediatheca A site providing access to about 700 manusripts of the 'Fondo Antico' of the Sacro Convento now in the Biblioteca Communale of Assisi.</p>

<p><i>Medieval and Renaissance Manuscript Books in the Library of Congress. A descriptive
catalogue. Vol. 2: Theology and Canon Law</i>, ed. Svato Schutzner (Washington D.C.: Library
of Congress, 1999). [cf. <i>Manuscripta </i>43-44 (1999-2000), 207-210.</p>

<p><i>Medieval Mastery.</i><i> Book Illumination from Charlemagne to Charles the Bold 800-1475</i> 
(Turnhout-Louvain: Brepols-Davidsfonds, 2002).</p>

<p>G.E. Mohan, `Incipits of Logical Writings of the XIIIth Century’, <i>Franciscan Studies</i>, 12 (1952), 349-489.</p>

<p>Paola Monacchia, <i>Le pergamene del convento di San Francesco di Gubbio. Inventario-Regesto</i> (S. Maria degli Angeli-Assisi: Edizioni Porziuncola, 2007). Cf. <i>Frate Francesco</i> 73 (2007), 679f ^ <i>Il Santo</i> 47 (2007), 585-587.</p>

<p>Giovanna Murano, <i>Opere diffuse per ‘exemplar’ e pecia</i>, Textes et Études du Moyen Âge, 29 (Turnhout:Brepols, 2005). Cf. Review in <i>CF</i>76,1-2
92006), 352-353.</p>

<p><i>New direction in Later Medieval Manuscripts Studies.</i><i> Essays from the 1998 Harvard
Conference</i>, ed. Derek Pearsall (Woodbridge, York Medieval Press, 2000).</p>

<p>Richard Newhauser, The Treatise on Vices and Virtues in Latin and the Vernacular, Typologie des
Sources, 68 (Turnhout, 1993)</p>

<p>Idem, <i>A Catalogue of Latin Texts with Material on the Vices and Virtues in Manuscripts in Hungary</i> (Wiesbaden,1996).</p>

<p>A.G. Nocilli, ‘La reconciliazione del giovedì santo nel codice 109 della Biblioteca Antoniana di Padova’, <i>Il</i><i> Santo</i>17 (1977), 379-550.</p>

<p>Livarius Oliger, 'Descriptio Codicum Quattuor Magistrorum expositionem Regulae S. Francisci 
continentium', Antonianum 19 (1944), 229-258.</p>.

<p>Martina Pantarotto, ‘Nuovi manoscritti appartenuti al convento osservante
di San Francesco Grande di Padova’, <i>Il Santo</i> 45 (2005), 723-736.</p>

<p>Carlo Paolazzi, ‘Per gli autografi di frate Francesco: dubbi, verifiche
ericonferme’, <i>AFH </i>93 (2000), 3-28.</p>

<p>Letizia Pellegrini, <i>I Manoscritti dei Predicatori</i>, Dissertationes Historicae, 25
(Roma, Istituto Storico Domenicano, 1999).</p>

<p>Luigi Pellegrini, ‘Da Cattaro ad Assisi. La riconstruzione virtuale di un codice’, in: 
<i>Chiesa, vita religiosa, società nel medioevo italiano. Studi offerti a Giuseppina De Sandre Gasparini</i>, 
ed. Mariaclara Rossi & Gian Maria Varanini, Italia Sacra, 80 (Rome: Herder, 2005), 521-538.</p>

<p>Rita Pirozzo, ‘Biblioteca Provinciale Laurenziana – Fondo Francesco Paolo Pace’, <i>Studi e ricerche francescane</i> 18(1990), 238-242.</p>

<p>A. Potthast, <i>Bibliotheca Historica Medii Aevi</i> (Berlin, 1896) [See also the new Potthast, which has been appearing since the 1990s]</p>

<p>Carmen Puglisi & Rosaria Stracuzzi, ‘I manoscritti della biblioteca Provinciale dei Cappuccini di Messina’, in: <i>Francescanesimo e cultura nella provincia di Messina</i>, 273-283.</p>

<p><i>Répertoire bio-bibliografique des auteurs latins, patristiques et médiévaux</i> (Paris, 1987) (IRHT)</p>

<p><i>Repertori de manuscrits catalans (1474-1620).</i> Vol. II/1: <i>Barcelona: Biblioteca Pública 
Episcopal iBiblioteca de la Universitat</i>, ed. Eulàlia Miralles, Eulàlia Duran & Maria Toldrà (Barcelona, Institut d’EstudisCatalans, 2000).</p>

<p><i>Repertorio della Cronachistica Emiliano-Romagnola (saec. IX-XV), de.</i> B. Andreoli et al.,
Istituto Storico Itliano peril Medio Evo, Nuovo Studi Storici II (1991).</p>

<p><i>Repertorium fontium historiae medii aevi(</i>Rome, 1962-)</p>

<p><i>Repertorium edierter Texte des Mittelalters aus dem Bereich der Philosophie und angrenzender Gebiete</i>, ed. R. Schönberger &amp; B. Kible (Berlin, 1994).</p>

<p><i>Repertorium Initiorum manuscriptorum Latinorum Medii Aevi</i>, ed. Jacqueline Hamesse & Slawomir Szyller, Vol. I: A-C, Textes et Études du Moyen Age, 42,1 (Louvain-La-Neuve: FIDEM, 2007). See reviews in <i>AFH</i> 101 (2008), 321-324; <i>Collectanea Franiscana</i> 
78 (2008), 343f.</p>

<p><i>RICABIM. Repertorio di Inventari e Cataloghi di Bioblioteche Medievali (secoli VI-XVI). I Italia. Toscana</i>, ed. 
Giovanni Fiesoli & Elena Somigli (Florence: SISMEL-Edizioni del Galluzzo, 2009).</p>

<p>Martin Roland, <i>Die Handschriften der alten Wiener Stadtbibliothek in der Österreichischen
Nationalbibliothek</i>, Publikationen aus der Wiener Stadt- und Landesbibliothek, 4 (Vienna, Wiener Stadt- und Landesbibliothek, 1999).</p>

<p>Giuseppe Roccaro, ‘Un codice di Paolo della Pergola proveniente dal convento di 
San Francesco ad Enna’, in: <i>Francescanesimo e civiltà siciliana nel Quattrocento</i>, 123-132.</p>

<p>Richard H. Rouse and Mary A. Rouse, <i>"Illiterati et uxorati". Manuscripts 
and their makers. Commercial book producers in Medieval Paris 1200-1500</i>, 2 Vols. (London, 2000). </p>

<p>Ugo Rozzo, ‘A proposito del ‘Thesaurus de la littérature interdite au XVI<sup>e</sup> siècle’, <i>La Bibliofilia</i> 102 (2000), 325-337. </p>

<p>Damian Ruiz, ‘Le manuscrit CL.I.18 (258) de l’Archivio Generale des Frères Mineurs 
Conventuels à Rome’, <i>Franciscana</i>6 (2004), 73-94.</p>

<p>R. Rusconi, ‘La tradizione manoscritta delle opere degli Spirituali nelle biblioteche dei 
predicatori e dei conventi dell’Osservanza’, <i>Picenum Seraphicum</i> 12 (1975), 63-137.</p>

<p>Ugo Saraggiotto, ‘Una sequenza in onore di sant’Antonio di Padova in un inedito manoscritto 
bolognese del secolo XIII’, <i>Il Santo</i> 39 (1999), 109-119.</p>

<p>Hermann-Josef Schmalor, <i>Die westfälischen Stifts- und Klosterbibliotheken. Ergebnisse einer 
Spurensuche hinsichtlich ihrer Bestände und inhaltlichen Ausrichtung</i>, Veröffentlichungen 
der Historischen Kommission für Westfalen, XLIV (Paderborn: Bonifatius Verlag, 2005). A.o. on 
the Franciscan libraries in Korbach, Lemgo, Bielefeld, Paderborn and Attendorn, and on the 
Capuchin libraries in Paderborn, Münster, Brakel, Werl &amp; Werne.</p>

<p>Sharpe: <i>A Handlist of the Latin Writers of Great Britain and Ireland Before 1540</i>, ed. 
Richard Sharpe, Publications of The Journal of Medieval Latin, 1 (Turnhout, 1997).</p>

<p>J.B. Schneyer, <i>Repertorium der lateinischen Sermones des Mittelalters für die Zeit von 
1150-1350</i>, BGPM, 43- (Münster,1969-1990) [Cf. the corrections of: B. Distelbrink, ‘Repertorium 
Sermonum Latinorum Medii Aevi (1150-1350)’, <i>Coll. Franc.</i>, 42 (1972), 87-101; 
M. d’Alatri, <i>Coll. Franc.</i>, 44 (1974), 403ff; 46 (1976), 409ff; 47 (1977), 
135ff; 48 (1978), 453ff; Cl. Schmitt, <i>AFH</i> 63 (1970), 195-196; 64 (1971), 
206-208, 611-613; 66 (1973), 460ff; 67 (1974), 583-585; 69 (1976), 586-588; 71 
(1978), 294ff; 72 (1979), 225; 73 (1980), 811. See also: Louis-Jacques 
Bataillon, ‘Compléments au Repertorium de Schneyer: I’, <i>Medieval Sermon Studies</i> 44 (2000), 15-36.]</p>

<p>J.B. Schneyer, ‘Lateinische Sermones-Initien des Hochmittelalters für die Heiligenfeste des Franziskanerordens’, 
<i>AFH</i>, 61 (1968), 3-78.</p>

<p>J.F. von Schulte, <i>Die Geschichte der Quellen und Literatur des canonischen Rechtes</i>, 4 Vols. 
(Stuttgart, 1875-7/1956)</p>

<p>Emanuela Sesti, ‘La miniatura ad Assisi 
tra Duecento e Trecento’, in: <i>Assisianno 1300</i>, 435-454.</p>

<p>Krzysztof Aleksander Sitnik, ‘Produkcja rekopismienna kancelarii Klasztoruoraz Prowincji
Ruskiej i Galicyjskiej OO. Bernardynow we Lwowie jako podstawazbiorow archiwalnych’, <i>Archiwa, 
Biblioteki I Muzea Koscielne/Archiva, Bibliothecae et Musea Ecclesiastica </i>78 (2002), 179-220. 
[manuscripts in the Observant friary of Lemberg]</p>

<p>Lesley Smith, <i>Masters of the Sacred page: Manuscripts of Theology in the Latin 
West to 1274,</i> The Medieval Book, 2 (Notre Dame IND: U. of Notre Dame Press, 2001).</p>

<p>Pietro Sorci, ‘I manoscritti liturgici della Biblioteca Centrale della Regione siciliana di 
Palermo’, <i>Rivista Liturgica</i> 94:5 (2007), 650-667.</p>

<p>Irene Stahl, <i>Katalog der mittelalterlichen Handchriften der Staats- und Universitätsbibliothek 
Bremen</i>, Die Handschriften der Staats- und Universitätsbibliothek Bremen, 1 (Wiesbaden: 
Harrassowitz, 2004).</p>

<p>Laura Stefanelli, <i>La Biblioteca degli alcantarini di Parabita. Storia e fondo antico</i>, Biblioteca di cultura pugliese. Serie 2, 170 (Galatina [Lecce]: Congedo, 2008).</p>

<p>F. Stegmüller, <i>Repertorium Biblicum Medii Aevi</i>, 7 Vols. Madrid, 1940-1961) + <i>Supplementum</i> (1977-)</p>

<p>F. Stegmüller, <i>Repertorium Commentariorum in Sententias Petri Lombardi</i>, 2 Vols. (Würzburg, 1947). Use 
together with: V. Doucet, `Commentaires sur les Sentences. Supplément au
Répertoire de M. Fréderic Stegmüller’, <i>AFH</i>, 47 (1954), 88-170, 400-427; V. 
Doucet, ‘Quelques Commentaires sur les Sentences de Pierre le Lombard’, <i>Miscellanea 
Lombardiana</i> (Novara: Instituto Geografico de Agostino, 1957), 275-294; V. 
Heynck, ‘Der Kommentar zum vierten Sentenzenbuch in Cod. 239 der Biblioteca Antoniana zu Padua’,
<i>Franziskanische Studien</i> 44 (1962), 12-43; J.B. Korolec & 
J.B.A. Poltawski &amp; Z. Wlodek, ‘Commentaires sur les Sentences. Supplément au Répertoire de F. Stegmüller’, <i>Mediaevalia 
Philosophica Polonorum</i> 1 (1958), 28-30; Z. Kuksewicz, ‘Commentaires sur 
les Sentences. Supplément au Répertoire de F. Stegmüller’, <i>Mediaevalia Philosophica 
Polonorum</i> 5 (1960), 45-49; R. Palacz, ‘Supplément au Répertoire des 
Sentences de F. Stegmüller’, <i>Mediaevalia Philosophica Polonorum</i> 9 (1961), 
46-47; J.B. Korolec &amp; R. Palacz, ‘Commentaires sur 
les Sentences. Supplément au Répertoire de F. Stegmüller’, <i>Mediaevalia 
Philosophica Polonorum</i> 11 (1963), 140-145; J. Rebeta, ‘Commentaires sur 
les Sentences. Supplément au Répertoire de F. Stegmüller’, <i>Mediaevalia Philosophica 
Polonorum</i> 12 (1966), 135-137; S. Wlodek, ‘Commentaires sur les Sentences. Supplément au Répertoire de 
F. Stegmüller’, <i>Mediaevalia Philosophica Polonorum</i> 8 (1961), 33-38; S. Wlodek, ‘Commentaires sur les Sentences. 
Supplément au Répertoire de F. Stegmüller’, <i>Bulletin de la Société internationale pour l’étude de la philosophie médiévale/
Bulletin de philosophie médiévale</i> 5 (1963), 144-146; S. Wlodek, ‘Commentaires 
sur les Sentences. Supplément au Répertoire de F. Stegmüller d’après les MSS des Bibliothèqie de Wroclaw’, 
<i>Bulletin de la Société internationale 
pour l’étude de la philosophie médiévale/ Bulletin de philosophie médiévale</i> 
6 (1964), 100-104; S. Wlodek, ‘Commentaires sur les Sentences. Supplément au 
Répertoire de F. Stegmüller d’après les MSS des Bibliothèque de Prague’, <i>Bulletin 
de la Société internationale pour l’étude de la 
philosophie médiévale/ Bulletin de philosophie médiévale</i> 7 (1965), 91-95; 
K. Wójcik, ‘Commentaires sur les Sentences. Supplément au 
Répertoire de F. Stegmüller’, <i>Mediaevalia Philosophica Polonorum</i> 11 
(1963), 140-145; J. Rebeta, ‘Commentaires sur les Sentences. Supplément 
au Répertoire de F. Stegmüller’, <i>Mediaevalia Philosophica Polonorum</i> 13
(1968), 111-114; John Van Dyck, ‘Thirty Years Since 
Stegmüller’, <i>Franciscan Studies </i>39 (1979), 255-315. See also: <i>Mediaeval Commentaries 
on Peter Lombard’s Sentences</i>, ed. G.R. Evans (Leiden: E.J. Brill, 2000).</p>

<p>Rachel Stockdale, ‘The retrospective conversion of the British Library manuscripts’ catalogues: A 
description of the project’, <i>Journal of the Society of Archivists</i> 21 (2000) n. 2.<i> </i></p>

<p><i>Tesori di una biblioteca francescana.</i><i> Libri e manoscritti del convento di san Nicolò 
in Carpi sec. XV-XIX,</i> ed. Anna Prandi (Carpi, Comune di Carpi, 2000).</p>

<p><i>Thesaurus de la littérature interdite au XVIe siècle : auteurs, 
ouvrages, éditions avec Addenda et corrigenda</i>, ed. J. M. De Bujanda; avec 
l’assistance de René Davignon, Ela Stanek, Marcella Richter (Sherbrooke, 1996).</p>

<p>L. Thorndike &amp; P. Kibre, <i>A</i><i> Catalogue of Incipits of
Medieval Scientific Writings in Latin</i>, 2nd. Ed. (Cambridge, Mass., 1963).</p>

<p>A. Timotin, ‘La littérature eschatologique et apocalyptique dans les manuscrits 
roumains des archives de B.A.R. (= Biblioteca Academiei Române)’, <i>Archaeus. Études 
d’histoire des religions 4 (2000) 367-411.</i>
</p>

<p>Federica Tonioli, ‘L’iconografia francescana nei codici miniati della Biblioteca 
Antoniana’, <i>Il Santo</i> 42 (2002), 59-75.</p>

<p>Fausto Tuscano &amp; Francesca Tuscano, ‘Il Fondo del Maestro di Cappella della 
Biblioteca del Sacro Convento di S. Francesco di Assisi’, <i>Franciscana</i> 2 (2000), 351-375.</p>

<p>Jolanda Dalla Vecchia, ‘L’archivio musicale della Cappella Antoniana 
di Padova’, <i>Notiziaro Bibliografico</i> 32 (1999), 335-349. </p>

<p>L.S. Wierda, <i>Catalogus van de handschriften, incunabelen en postincunabelen uit het bezit 
van de Orde der Kapucijnen in Nederland, nu aanwezig in de Bibliotheek van de Theologische 
Faculteit Tilburg</i>, Miscellanea Neerlandica, 34 (Louvain: Peeters Publishers, 2005</p>

<p>Wilmart, <i>Auteurs spirituels et textes dévots du moyen age latin</i> (Paris, 1932).</p>

<p>Martin Wittek, <i>Inventaire des plus anciens manuscrits de papier conservés à la Bibliothèque 
Royale Albert I<sup>er</sup> et de leurs filigranes (XIIIe-XIVe siècles)</i> (Brussels: Bibliothèque 
Royal Albert I<sup>er</sup>, 2001). [cf. <i>Scriptorium</i> 56 (2002), 191-195]</p>

<p>Gino Zanotti, <i>La Biblioteca</i><i> del ‘Centro Dantesco’ in Ravenna. Dai manoscritti 
alle edizioni del Settecento</i>, Strumenti bibliografici, 11 (Ravenna: Longo Editore-Fondazione 
del Monte, 2001). [cf. <i>Miscellanea Francescana </i>101 (2001), 422f]</p>



<p>&nbsp;</p>

<p>&nbsp;</p>


{% endblock content %}