{% extends "base.html" %}
{% block headjavascript %}

<TITLE>I. The most important periodicals and serials containing
codicographical and biographical information as well as editions of works of Franciscan authors</TITLE>
{% endblock headjavascript %}

{% block content %}

<p align="center"><b><font size="2"><a href="/">this site</a> is a co-production
of <u>Maarten van der Heijden</u>, <u>Bert Roest</u> and <u>Emmanuel Chamilakis</u>. &#169; &#xA9; &copy;</font></b></p>

<p align="center"><script language="javascript">last_modified()</script></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<FONT SIZE=4><P>I. The most important periodicals and serials containing codicographical and biographical information as well as editions of works of Franciscan authors</P>
</FONT><I><FONT FACE="Times" SIZE=2><P>Alemania Franciscana Antiqua</I>, 18 Vols. (1956-1973)</P>
<I><P>Analecta Franciscana</I> (1898-) [AF/AFranc]</P>
<I><P>Antonianum</I> (1926-)</P>
<I><P>Archives d’histoire doctrinale et litt&#233;raire du moyen age</I> (1926-) [AHDL/AHDLMA]</P>
<I><P>Archivo Ibero-Americano</I> (1914-35/ Sec. Ser. 1941-) [AIA]</P>
<I><P>Archivum Franciscanum Historicum</I> (1907-) [AFH]</P>
<I><P>Bavaria Franciscana Antiqua</I>, 5 Vols (1954-61)</P>
<I><P>Beitrage zur Geschichte der Sachsischen Franziskanerprovinz vom heiligen Kreuze</I>, 6 Vols. (1908-13)</P>
<I><P>Biblioteca Bio-bibliografica della Terra Santa e dell’Orieente Francescano</I>, ed. H. Golubovich, 5 Vols. (Quaracchi, 1906-27)</P>
<I><P>Biblioteca Bio-bibliografica della Terra Santa e dell’Oriente Francescano, Nuova Series</I>, ed. H. Golubovich (Quaracchi, 1921)</P>
<I><P>Biblioteca Bio-bibliografica della Terra Santa e dell’Oriente Francescano, Nuova Series</I>, ed. H. Golubovich (Quaracchi, 1928-)</P>
<I><P>Bibliotheca Franciscana Ascetica Medii Aevi</I> (>>>>)</P>
<I><P>Bibliotheca Franciscana Scholastica Medii Aevi</I> (>>>>)</P>
<I><P>Bollettino Francescano</I> (1930-)</P>
<I><P>Bullarii Franciscani Epitome</I>, ed. C. Eubel (Quarachi, 1908)</P>
<I><P>Bullarium Franciscanum Romanorum Pontificum</P>
<P>Bijdragen voor de geschiedenis van de provincie der minderbroeders in de Nederlanden</I> (1947-)</P>
<I><P>Collectanea Franciscana</I> (1931-) [CF/Coll. Franc./CollFr]</P>
<I><P>Collectanea Franciscana Neerlandica</I>>></P>
<I><P>Doctor Seraphicus</I> (1954-) [Dser/Dser.]</P>
<I><P>Estudios Franciscanos</I> (1912-) [EF/Est.Fr.]</P>
<I><P>Etudes Franciscaines</I> (1899-1950/Nouvelle Ser. 1950-) [Efr]</P>
<I><P>Franciscan Studies</I> (1924-) [FS/Franc. Stud/FSt]</P>
<I><P>Franciscana. Tijdschrift voor franciscaanse geschiedenis en bibliografie</I> (1946-)</P>
<I><P>Franziskanische Studien</I> (1914-) [Franz.St./Fr.St/FS]</P>
<I><P>Germania Franciscana</I>, ed. V. Greiderer, 2 Vols. (Innsbruck, 1777-81)</P>
<I><P>Il Santo. Rivista antoniana di storia, dottrina, arte</I> (1961-)</P>
<I><P>Italia francescana</I> (>>>>>>) [Ifr]</P>
<I><P>L’Aquitaine Seraphique</I>, ed. Otto de Pavie, 4 Vols (Auch, 1900-1907)</P>
<I><P>Laurentianum </I>(1960-)</P>
<I><P>Le Venezie francescana</I> (>>>) [VenFr]</P>
<I><P>Mediaeval Studies</I> (1939-) [MS]</P>
<I><P>M&#233;langes de l’Ecole fran&#231;aise de Rome. Moyen Age-Temps modernes</I> [MEFRM/MEFRMA]</P>
<I><P>Miscellanea Franciscana</I> (>>>) [MF]</P>
<I><P>Picenium Seraphicum</I>, series II (1915-)</P>
<I><P>Recherches de th&#233;ologie ancienne et m&#233;di&#233;vale</I> (>>) [RTAM]</P>
<I><P>Revue d’Histoire Franciscaine</I> (Paris, 1924-31)</P>
<I><P>Rivista de Estudios Franciscanos</I> (1907-12)</P>
<I><P>Scriptorium</I> (>>>>)</P>
<I><P>Studi e ricerche francescana. Rivista trimestrale del Centro Campano Studi francescani</I> [SRF]</P>
<I><P>Studi Francescani</I> (1915-) [St.Fr./SF/SFr] </P>
<I><P>Studium Biblicum Franciscanum</I> (Jerusalem)</P>
<I><P>Traditio</I> (1943-)</P>
<I><P>Verdad y Vida. Revista de ciencias del esp&#237;ritu</I> (>>>) [VV/VerdVid]</P>
<I><P>Wissenschaft und Weisheit. Zeitschrift f&#252;r Augustinisch-Franziskanische Theologie und Philosophie in der Gegenwart</I> (1934-) [W&W]</P>
<I><P>Zeitschrift f&#252;r Kirchengeschichte</I> (1876-) [ZKG]</P>
</FONT><FONT SIZE=2><P> </P>
<P> <B>  </B> </FONT><FONT FACE="Times" SIZE=2> </P>
</FONT><FONT SIZE=2><P ALIGN="CENTER"></P>
<P ALIGN="CENTER"> </P>
<P> </P>
<B><P>  </B> </FONT><FONT FACE="Times" SIZE=2> </P>
</FONT><FONT SIZE=2><P ALIGN="CENTER"></P>
<P ALIGN="CENTER"> </P>
<P> </P>
<B><P>  </B> </FONT><FONT FACE="Times" SIZE=2> </P>
</FONT><FONT SIZE=2><P ALIGN="CENTER"></P>
<P ALIGN="CENTER"> </P>
<P>&nbsp;</P>
<P>&nbsp;</P>

<P><A NAME="IIcatalogueslists"></A></P>
{% endblock content %}