{% extends "base.html" %}
{% block headjavascript %}
<meta name="keywords"content="Franciscan manuscripts, manuscript catalogues">


<title>IV. Relevant catalogues and reference works for tracing
Franciscan incunabula and early printings</title>
{% endblock headjavascript %}

{% block content %}

<p align="center"><b><font size="2"><a href="/">this site</a> is a co-production
of <u>Maarten van der Heijden</u>, <u>Bert Roest</u> and <u>Emmanuel Chamilakis</u>. &copy;</font></b></p>

<p align="center"><script language="javascript">last_modified()</script></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>IV. Relevant catalogues and reference works for tracing
Franciscan incunabila and early printings </p>

<p>&nbsp;</p>

<p>Julián Martín Abad, ‘The Incunables of the Biblioteca Nacional of Madrid. 
Materials for a history’, <i>Incunabula. Studies in 
Fifteenth-Century printed books presented to Lotte Hellinga</i>, ed. Martin Davies (London, The 
British Library, 1999), 603-622.</p>

<p>Pilar Hernandez Aparicio, ‘Gramaticas, vocabularios y 
doctrinas franciscanasen las bibliotecas de Madrid’, in: <i>Actas del II Congreso 
Internacional sobre Los Franciscanos en el Nuevo Mundo (siglo XVI), La 
 Rábida, 21-26 de septiembre de 1987</i> (Madrid, 1988), 573-588.</p>

<p><i>A Short-Title Catalogue of Books printed in England, 
Scotland and Ireland and of English Books Printed abroad 1475-1640</i>, ed. A.W. 
Pollard &amp; G.R. Redgrave, 2<sup>nd</sup> revised edition, ed. W.A.Jackson &amp; K.F. Pantzer, 2 
Vols. (London, 1976-1986).</p>

<p>Lorenzo Baldacchini &amp; Anna Manfron, ‘Incunaboli e cinquecentine della Biblioteca 
del Seminario’, in: <i>Storia della Chiesa di Cesena</i> II, 521-628.</p>

<p>Edoardo Barbieri, ‘L’accueil de l’imprimé dans les bibliothèques religieuses italiennes du Quattrocento’, 
in: <i>Le livre voyageur</i>, 53-91. </p>

<p>Edoardo Barbieri, ‘Fra tradizione e cambiamento: note sul libro spirituale del XVI secolo’, in: 
<i>Libri, biblioteche e cultura nell’Italia delCinque e Seicento</i>, ed. Edoardo Barbieri&amp; Danilo Zardin, 
Storia. Richerche (Milan: Vita e Pensiero, 2002), 3-61.</p>

<p>Maria Paola Barlozzini, <i>Catalogo delle edizioni del XVI secolo. Biblioteca Storico-Francescana</i>
(Chiesa Nuova Assisi, 2002).</p>

<p><i>Basler Wiegendrucke. Verzeichnis der in Basel gedruckten Inkunabeln mit ausführlicher Beschreibung 
der in der Universitäts-Bibliothek vorhandenen Exemplare</i>, ed. Pierrre L. van der Haegen, Schriften 
der Universitäts-bibliotheek Basel, 1 (Basel: Schwabe, 1998).</p>

<p>Rob Bekel, <i>Tussen ganzenveer en wiegendruk. Oudere handschriften en drukken uit de collectie 
van de Theologische Faculteit Tilburg en de PatersKapucijnen te ‘s-Hertogenbosch</i> (Tilburg: Scryption, 2001).</p>

<p><i>Belgica typographica 1541-1600. Catalogus librorum impressorum ab anno MDXLI ad annum MDC in regionibus 
quae nunc Regni Belgarum partes sunt</i>, ed. E. Cockx-Indestege &amp; G. Glorieux, 2 Vols. (Nieuwkoop, 
1968-1980).</p>

<p>Silvio Bernardinello, <i>Catalogo dei codici della Biblioteca Capitolare di Padova. In appendice gli 
incunaboli con aggiunte manoscritte</i>, 2 Vols. (Fonti e ricerche di storia ecclesiastica Padovana, 
32 (Padua: Istituto per la storia ecclesiastica Padovana, 2007).</p>

<p><i>Bibliographie chronologique de la littérature de spiritualité 
et de ses sources (1501-1610)</i>, ed. Jean Dagens (Paris, 1952).</p>

<p><i>Biblioteca Ambrosiana. Catalogo dei manoscritti http://www.ambrosiana.it/ita/manus_campi.asp </i> Checked on Febr. 8, 2012.</p>

<p><i>Biblioteca del Seminario vescovile, Incunaboli e cinquecentine. Catalogo</i>, ed. Angelo Rigo 
(Treviso, Seminario Vescovile, 2000).</p>

<p><i>Bibliotheca Franciscana. Gli incunaboli e le cinquecentine dei Fratri Minori dell’
Emilia-Romagna conservate presso 
il Convento dell’ Osservanza di Bologna</i>, ed. Z. Zanardi 
&amp; R. Ricci, Biblioteca di Bibliografia Italiana CLIX (Bologna-Ravenna, 1999).</p>

<p><i>Bibliotheca franciscana. Supplemento al catalogo degli incunaboli e delle cinquecentine dei Frati Minori dell’Emilia-Romagna conservati presso il Convento dell’Osservanza di Bologna</i>, ed. Elisabetta Stevanin & Zita Zanardi, Biblioteca di Bibliografia Italiana, 192 (Florence: S. Olschki, 2012). Review in CF 82 (2012), 758-759</p>

<p><i>Bibliothèque Lorraine de la Renaissance. Les cent livres</i>, ed. Alain Cullière (Metz, 2000).</p>

<p><i>Bio-bibliografica Franciscana Neerlandica.</i><i> Ante Saeculum XVI, 
II, Pars Bibliographica: Incunabula</i>, ed. L. Mees (Nieuwkoop, 1974).</p>

<p>Marina Bonomelli, <i>Un tesoro nascosto. Incunaboli e cinquecentine della Società storica lombarda</i> 
(Milian: Mondadori Electa, 2002).</p>

<p>G. Borsa, <i>Katalog der Drucke des 16. Jahrhunderts in der österreichischen 
Nationalbibliothek Wien. NB 16. Bd I: Deutsches Sprachgebiet: A-Biber</i>, Bibliotheca 
Bibliographica Aureliana, 212 (Baden-Baden: Valentin Koerneer, 2007).</p>

<p><i>Bücher im Jahrhundert Gutenbergs.</i><i> Eine Ausstellung
der Universitätsbibliothek. 10. November – 3. Dezember 2000.
Katalo, </i>ed. Christina Hormann-Randall, Schriften der Universitätsbibliothek
Erlangen-Nürnberg, 38 (Erlangen, Universitätsbibliothek, 2000).</p>

<p>Apollonia &amp; Maria Luisa Califano, ‘Incunaboli e cinquecentine 
della Biblioteca S. Alfonso a Pagani’, <i>ABEI.</i><i> Bollettino Informativo Associazione dei 
Bibliotecari Ecclesiastici Italiani </i>11,3 (2002), 29-30.</p>

<p>Paolo Capitanucci, ‘Manoscritti, incunaboli e cinquecentine provenienti dalla biblioteca del convento 
di S. Antonio (TOR) custoditi nella biblioteca del Sacro Convento di Assisi’, <i >Analecta</i><i
> TOR</i> 36 (2005), 431-457.</p>

<p>Costanzo Cargnoni, ‘Catalogo della cinquecentine e incunaboli della biblioteca dei cappuccini di Trento
e sua importanza per la storia’, <i>Collectanea Franciscana</i> 64 (1994), 305-312.</p>

<p><i>Catàleg dels incunables de la Biblioteca Episcopal de Vic</i>, ed. Francesc Xavier Altés
i Aguiló (Vic, Patronat d’Estudis Osonencs,
2000).</p>

<p><i>Catálogo de incunables e impresos del siglo 
XVI de la Biblioteca Franciscana de Cartagena</i> (Muria,1994).</p>

<p><i>Catalogo del fondo Lanfranchi della Biblioteca civica di Palazzo sull’Oglio, 2: 
Le cinquecentine</i>, ed. Rosa Zilioli Faden (Milan, 2001).</p>

<p><i>Catálogo de los impresos del siglo XVI de la Biblioteca
 Colombina de Sevilla</i>, 6 Vols. (Sevilla: Institución Colombina y Cabildo 
de la Santa, Metropolitana y Patriarcal Iglesia Catedral de Sevilla, 2001-)</p>

<p><i>Catalogo dei libri e dei periodici antichi della biblioteca del Dipartimento di discipline storiche dell'Università degli studi di Bologna</i>, ed. F. Cazzola & G. Fidelio, Quaderni del Dipartimento di discipline storiche (Rome: Carocci, 2007).</p>

<p><i>Catalogo delle edizioni del XVI secolo. Biblioteca Storico-Francescana Chiesa Nuova Assisi, 
ed. Maria Paola Barlozzini (Assisi, 2002).</i></p>

<p><i>Catálogo de los impresos del siglo XVI de la Biblioteca Colombina de Sevilla</i>, ed. Antonio 
Segura Morera and Pilar Vallejo Orellana (Catedral de Sevilla, 2002).</p>

<p><i>Catalogue général des incunables des bibliothèques publiques de France</i>, ed. M. 
Pellechet-L. Polain, 26 Vols (Paris 1897-/Reprint, Lichtenstein, 1970).</p>

<p><i>Catalogue of Books Printed in the XVth Century now in the 
British Museum</i>, 10 Vols (London, 1908-1971) [ordered by country].</p>

<p><i>Catalogus van de handschriften, incunabelen en postincunabelen 
uit het bezit van de orde der minderbroeder-kapucijnen in Nederland, nu aanwezig in de Bibliotheek 
van de Theologische Faculteit Tilburg</i>, ed. Lydia S. Wierda, Miscellanea Neerlandica,
36 (Louvain: Peeters, 2006).</p>

<p>Federica Dallasta &amp; Benedetta d’Arezzo, <i>La Biblioteca A. Turchi dei Cappuccini di Parma: 
vicende storiche, incunaboli e cinquecentine</i>, Subsidia Scientifica Franciscalia, 11 (Rome:Istituto Storico dei Cappuccini 
(Parma: Biblioteca A. Turchi, 2005. Review in <i>CF</i> 76,1-2 (2006).</p>

<p><i>Die Handschriften und Incunabeln der italienischen Renaissance</i>, ed. Hermann Julius Hermann, 4 Vols. (Leipzig, 1930-1933).</p>

<p>Die Wiegendrucke der Universitätsbibliothek Basel, Teil I: Die Wiegendrucke aus den deutschsprachigen Regionen um Basel, Bd. III</i>, ed. L. van der Haegen, Schriften der Universitätsbibliothek Basel, Bd. 7/1 (Basel: Schwabe, 2006).</p>

<p><i>Digitale Bibliothek München</i>: http://www.digitale-sammlungen.de/index.html?c=startseite&l=de [many Franciscan incunables and early imprints as pdf files available!!]

<p><i>Edizioni del XVI secolo nella Biblioteca centrale dei frati cappuccini delle Marche: il fondo di Ancona</i>, ed. Simonetta Pirano, Giovanna Pirano & Mauro mei, Fondi storici nelle biblioteche marchigiane, 12 (Ancona: Regione Marche, Servizio tecnico alla cultura, 2007).</p> 

<p>Daniela Fattori, ‘Incunaboli sconosciuti e incunaboli semisconosciuti all’Archivio di Stato di Venezia’, 
<i>La Bibliofilia</i> 102 (2000) 253-264.</p>

<p>Ennio Ferraglio, <i>Il Concilio di Trento e l’editoria del sec. XVI. Bibliografia delle edizione 
cinquecentesche, </i>. Edizioni Gruppo Culturale CIVIS (Trento, 2002).</p>

<p>Fiorenzo Fiore &amp; Giuseppe Lipari, <i>Le edizioni del XVII secolo della Provincia dei Cappuccini di Messina</i>, La Biblioteca Provinciale, 3 Vols. (Messina, 
2003).</p>

<p>Marc Gil, <i>Catalogue des livres de dévotion manuscrits et imprimés (XIIe-XVIe 
siècles)</i>, Corpus des manuscrits médiévaux et des incunables des bibliothèques du Nord 
Pas-de-Calais (Lille: Université Charles-De-Gaulle - Lille, 3 - Bibliothèque Municipale, 
2006).</p>

<p><i>Gli incunaboli della Biblioteca comunale di Trento</i>, ed. Mauro Hausberger 
&amp; Silvano Groff, Patrimonio storico e artistico del Trentino, 29 (Trento: Provincia Autonoma di 
Trento –Sopraintendenza per i beni librari e archivistici, 2006). Review in <i>AFH</i> 100 (2007), 594-597.</p>

<p><i>Gli incunaboli della Biblioteca del Seminario di Concordia-Prdenone</i>, ed. Andrea Marcon, Pubblicazioni dell'Accademia San Marco. Storia, 3 (Pordenone: Associazione Propordenone ONLUS, 2007).</p>

<p><i>Gli incunaboli della Biblioteca Provinciale dei Frati Minori di Firenze</i>, ed. Chiara Razzolini et al. (Florence: Pacini Editore, 2012).</p>

<p><i>Gli incunaboli e le cinquecentine della Biblioteca Comunale di Ala</i>, ed. Anna Gonzo, 
Patrimonio storico e artistico del Trentino", 24 (Trento, Provincia autonoma di Trento-Servizio Beni librari e archivistici,
2000).</p>

<p>Bernardo Guancini, <i>Biblioteca ‘San Francesco’ di Viterbo. Catalogo delle edizioni del 1400-1500</i> (Viterbo, 
2001) [typescript?]</p>

<p>Pierre L. van der Haegen, <i>Basler Wiegendrucke. Verzeichnis der in Baselgedruckten Inkunabeln 
mit ausführlicher Beschreibung der in der Universitätsbibliothek vorhandenen Exemplare</i>, 
Schriften der Universitätsbibliothek Basel, 1 (Basel, Schwabe, 1998).</p>

<p>L. Hain, <i>Repertorium Bibliographicum</i>, 4 Vols. (Stuttgart, 1826-1838). See also: W.A. Copinger, 
<i>Supplement to Hains Repertorium Bibliographicum</i>, 2 Vols. (London, 1895-1902); Dietericus Reichling<i>,
Appendices ad Hainii-Copingeri Repertorium Bibliographicum</i>, 6 Fasc. (München, 1905-1911).</p>

<p><i>Gesamtkatalog der Wiegendrucke</i> (Stuttgart-New York, 1968-).</p>

<p>Silvano Groff &amp; Adriana Paolini, ‘I codici della Biblioteca 
comunale di Trento anteriori al secolo XVI’, <i>Studi Trent. Sc. Stor.</i> 79 (2000) 221-282.</p>

<p><i>I classici cristiani delle edizioni Cantagalli. Catalogo storico</i>, ed. Tommaso Gordini 
et al. (Siena: Cantagalli, 2002).</p>

<p><i>Il Concilio di Trento e l’editoria del sec. XVI. Bibliografia delle edizioni cinquecentesche</i>, 
ed. Ennio Ferraglio (Trento, 2002).</p>

<p><i>Il progetto marginalia: un catalogo elettronico di incunaboli postillati della Biblioteca Trivulziana di Milano</i>: http://www.marginalia.it This is a site under construction.</p>

<p><i>Incunaboli della Biblioteca Nazionale Universitaria di Torino</i>: http://www.bnto.librari.beniculturali.it/fondi.php?menun=5  (visited on Febr. 14, 2012).</p>

<p><i>Incunaboli e cinquecentine del Fondo trentino della Biblioteca comunale di Trento. Catalogo</i>, 
ed. Elena Ravelli &amp; Mauro Hausbergher (Trento, 2000).</p>

<p><i>Incunaboli e cinquecentine della Biblioteca comunale A. Vergari di Nardò</i>, ed. Marcello Gaballo,
Memorabilia neritorensia, 1 (Galatina (Lecce): M. Congedo, 2002).</p>

<p><i>Incunaboli e cinquecentine della Fondazione Biblioteca S. Bernardino di Trento.
Catalogo</i>, ed. Claudio Fedele &amp; Anna Gonzo, Patrimonio storico e artistico del Trentino,
26 (Trent, 2004). Cf.Review in <i>AFH </i>99 (2006), 362-365.</p>

<p><i>Incunaboli e cinquecentine delle Biblioteche dei Frati Minori del Sannio e dell’Irpinia</i>, 
ed. Davude Ferdinando Panella (Foglianise (Benevento): Stamperia Piesse Grafica e Stampa, 2004).</p>

<p><i>Incunaboli e cinquecentine di San Gimignano</i>, ed. Neil Harris & Mario Paola Barlozzini, Fonti e ricerche, 4, 2 Vols. (San Gimignano: Città di San Gimignano, 2007).</p>

<p><i>Incunabula printed in the Low Countries. A Census</i>, ed. Gerard van Thienen 
&amp; John Goldfinch, Bibliotheca bibliographica Neerlandia, 36 (Nieuwkoop: De Graaf, 1999).</p>

<p><i>Indice generale degli incunaboli delle biblioteche d’Italia</i>, 6 Vols (Rome, 1943-1981).</p>

<p>Romain Jurot, ‘Die Inkunabeln des Franziskanerklosters in Freiburg/Schweiz. Mit 
Anhang: Catalogue des Incunables’, <i>Freiburger Geschichtsblätter</i> 81 (2004), 133-217. 
Also printed separately (Freiburg: Paulusverlag, 2004). Cf review in <i>Collectanea 
Franciscana</i> 76,1-2 (2006), 300-301.</p>

<p><i>Katalog der Wiegendrucke der Stiftsbibliothek zu Aschaffenburg</i>, ed. Ludwig K. Walter, 
Unter Verwendung der Arbeiten von Hermann Leskien &amp; Wendelin Renz, Quellen und Forschungen zur 
Geschichtedes Bistums und Hochstifts Würzburg, 54 (Würzburg: Ferdinand Schöning, 1999). </p>

<p>Anne Jacobson Schutte, <i>Printed Italian Vernacular Religious 
Books 1465-1550: a Finding List</i>, Travaux d’Humanisme et Renaissance 194 (Genève, 1983).</p>

<p><i>La Biblioteca A. Turchi dei Capppuccini di Parma. Vicende storiche.Incunaboli 
e cinquecentine</i> (Rome: Istituto Storico dei Cappuccini, 2005). See review in <i>AFH</i> 99 (2006), 
377-378.</p>

<p><i>La biblioteca del collegio dei Gesuiti di Trento. Pubblicazioni e manoscritti conservati nelle biblioteche trentine, I: Edizioni sec. XV-XVIII (Abati-Pfyffer); II: Edizioni sec. XV-XVIII (Phoebus-Zyll)</i>, ed. Claudio Fedele, Italo Franceschini & Adriana Paolini, Biblioteche e bibliotecari del Trentino, 4 (Trento: Provincia autonoma di Trento-Soprintendenza per i Beni Librari, 2007). See: AFH 101 (2008), 624f.</p> 

<p><i>La Biblioteca del convento di S. Giacomo in Monselice-Padova. Manoscritti, inconaboli, 
cinquecentine, seicentine</i>, ed. Maria Cristina Zanardi (Vicenza: Ed. LIEF, 2003).</p>

<p>Sara Landini, <i>Le cinquecentine (1578-1582) del Convento di S. Francesco di Caltagirone</i>,
Diss. (Florence: Dpi. di Studi sul Medioevo e il Rinascimento dell’Università di Firenze, 2005)</p>

<p><i>Le cinquecentine del fondo storico della Biblioteca civica di Feltre</i>, ed. Caterina
Griffante &amp; Donatella Bartolini (Seren del Grappa: Dbs, 1999).</p>

<p><i>Le cinquecentine della Biblioteca Medicea Laurenziana di Firenze</i>, ed. Sara Centi, Indici 
e cataloghi. Nuova serie/Ministero per i beni e le attività culturali, 14, 2 Vols. (Rome, 2002).</p>

<p><i>Le cinquecentine della Biblioteca Nazionale di Bari. Catalogo</i>, ed. Lidia Poli (Roma-Bari, Laterza, 2000).</p>

<p><i>Le civiltà del Libro e la stampa a Venezia. Testi sacri ebraici, 
cristiani, islamici dal Quattrocento al Settecento. Catalogo della mostra (Venezia, Libreria 
Sansoviniana, 27 maggio-29 luglio 2000)</i>, ed. Simonetta Pelusi, Civiltà veneziana. Studi, 51 
(Venice - Padova: Il Poligrafo, 2000).</p>

<p><i>Le edizioni del XV e XVI secolo. Biblioteca Provinciale dei Cappuccini. Convento ‘Immacolata’ - Foggia/Le edizioni del XV e XVI secolo. Biblioteca ‘Il Cuore’ - Campobasso</i>, ed. M. Lepore, S. La Cecilia, A. Cristofaro &amp; A. Parente, Archivio storica Frati Minori Cappuccini di Foggia, 8 (Foggia, 1998).</p>

<p><i>Le edizioni del XVII secolo della Provincia dei Cappuccini di Messina. II/1-3: Le Biblioteche dei conventi</i>, ed. Fiorenzo Fiore & Giuseppe Lipari, Città e territorio, 11, 3 Vols. (Messina: Sicania, 2007). With info on the old editions in the convent libraries of Bronte, Castelbuono, Catania, Gangi, Nicosia, Troina, Gibilmanna, Petralia Sottana.</p>

<p><i>Le edizioni del ‘400 e del ‘500 nella biblioteca dell'Accademia Pontaniana di Napoli</i>, ed. Silvia Sbordone, Quaderni dell'Accademia Pontaniana, 51 (Naples: Accademia Pontaniana, 2007).</p>

<p><i>Llibres impresos a Espanya durant el segle XVI. Biblioteca de la Universidat de Barcelona. Catàleg abreujat</i>, ed. Montserrat Lamarca Morell (Barcelona: Publicacions i Edicions dce la Universitat de Barcelona, 2007).</p>

<p>G. Lipari, <i>Incunaboli e cinquecentine della provincia dei cappuccini di Messina</i>, Città e territoria, 4 (Messina, 1995).</p>

<p>Lisa Longhi, ‘Gli incunaboli della Biblioteca Francescano-Cappuccina Provinciale Milano’, <i>Italia Med. Umanistica</i> 48 (2007), 219-255.</p>

<p><i>Manuscripta theologica. Die Handschriften in Oktav</i>, ed. Konrad Wiedermann, Die 
Handschriften der Universitätsbibliothek Kassel. Landesbibliothek 
und Murhardsche Bibliothek der Stadt Kassel 1/3 (Wiesbaden, 2002).</p>

<p><i>Manuscritos e impresos del Monasterio de las Descalzas Reales de Madrid, Catálogo
de la Real Biblioteca. Tomo XIV / Catálogo de los Reales Patronatos. Tomo 1</i>, Dirección de 
María Luisa López Vidriero (Madrid: Editorial Patrimonio Nacional, s.a.). </p>

<p>Andrea Marcon, ‘Loci capuccinorum Portus Naonis: La biblioteca dei Cappuccini di Pordenone. 1. Edizioni dei secc. XVI-XVII’, in: <i>Atti dell'Accademia ‘San Marco’ di Pordenone</i> 9 (2007), 327-494.Cf. <i>Collectanea Franciscana</i> 79 (2009), 316f.</p>

<p>Fiorenzo F. Mastroianni, ‘Codici incunabuli e cinquecentine di interesse francescano nella 
biblioteca benedettina di Montevergine’, <i>Studi e ricerche francescane</i> 2 (1973), 284-286.</p>

<p>Maria Maddalena Milazzo &amp; Giuseppina Sinagra, ‘Gli scritti 
di autori francescani negli incunabuli della Biblioteca Centrale della Regione Siciliana’, 
in: <i>Francescanesimo e civiltà siciliana nel Quattrocento</i>, 187-198.</p>

<p><i>Mittelalterliche Bücherverzeichnisse aus Kloster Lorsch</i>, ed. Angelika Häse, Beiträge 
zum Buch- und Bibliothekswesen, 42 (Wiesbaden, 2002).</p>

<p>Alessandro Musco, ‘Circolazione libraria e cultura tra I francescani di Noto (sec. XIV-XVI), 
in: <i>Francescanesimo e cultura a Noto. Atti del convegno internazionale di studi</i>, 
ed. Diego Ciccareli & Simona Sarzana, Francisana, 12 (Palermo: Biblioteca francescana, 
Officina di studi medievali, 2005), 189-197.</p>

<p><i>Nederlandse bibliographie van 1500 tot 1540</i>, ed. W. Nijhoff &amp; M.E. Kronenberg,
3 Vols. (‘s-Gravenhage, 1923-1971).</p>

<p>J.C.T. Oates, <i>A Catalogue of the Fifteenth-Century Printed Books in the University 
Library Cambridge</i> (Cambridge, 1954).</p>

<p>Douglas J. Osler, <i>Catalogue of books printed on the Continent of Europe from the 
beginning of printing to 1600 in the Library of the Max-Planck-Institut für 
Europäische Rechtsgeschichte, Frankfurt am Main</i>, Ius 
Commune. Veröffentlichungen des Max-Planck-Instituts für europäische Rechtsgeschichte Frankfurt 
am Main. Sonderhefte: Studien zur Europäischen Rechtsgeschichte, 130-131, 2 vols. (Frankfurt am Main, 2000).</p>

<p><i>Repertorios bibliográficos de impresos del siglo XVI</i>, ed. J. Delgado &amp; J. Martin 
(Madrid, 1993).</p>

<p>F. Cantelar Rodríguez, ‘Incunables del Seminario y de la biblioteca pública de Zamora’, 
<i>Archivos Leoneses</i> 31 (1977).</p>

<p>Sergio Rossetti, <i>Rome. A bibliography from the invention of printing through 
1899</i> I: <i>The guide books</i>, Biblioteca di bibliografia italiana, 157 (Florence: 
Leo S. Olschki, 2000).</p>

<p><i>Short Title Catalogue of 
Books Printed in the Nederlands and Belgium and of Dutch and
Flemish Books Printed in Other Countries from 1470 to 1600 now in the British Museum</i> (London, 
1965).</p>

<p>Paul Spaeth, ‘Incunabula of the Franciscan Institute and St. Bonaventure University: Some 
Additions’, <i>Franciscan Studies</i> 55 (1998), 323-332. </p>

<p><i>Verzeichnis der in Basel gedruckten Inkunabeln mit ausführlicher Beschreibung
der in der Universitätsbibliothek vorhandenen Exemplare</i>, ed. Pierre L. Van der 
Haegen, Schriften der Universitätsbibliothek, 1 (Basel, 1996).</p>

<p>Lydia S. Wierda, <i>Catalogus van de handschriften, incunabelen 
en postincunabelen uit het bezit van de orde der minderbroeders-kapucijnen 
in Nederland, nu aanwezig in de Bibliotheek van de Theologische 
Faculteit Tilburg</i>, Miscellanea Neerlandica, 36 (Leuven: Peeters, 2006).</p>

<p>Maria Cristina Zanardi, <i>Catalogo degli incunaboli della Biblioteca Antoniana di Padova</i>, Biblioteca di bibliografia italiana, 196 (Florence: Leo S. Olschki, 2012). Review in <i>Il Santo</i> 53:3 (2013), 474-477.</p>

<p>Gino Zanotti & Zita Zanardi, <i>La Biblioteca del convento di San Francesco di Bologna. Incunaboli e cinquecentine. Catalogo</i> (Bologna: Arnaldo Forni Editore, 2007).</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

{% endblock content %}

