{% extends "base.html" %}
{% block headjavascript %}

<title>IX. Some major old existing catalogues of Franciscan authors</title>
{% endblock headjavascript %}

{% block content %}

<p align="center"><b><font size="2"><a href="/">this site</a> is a co-production
of <u>Maarten van der Heijden</u>, <u>Bert Roest</u> and <u>Emmanuel Chamilakis</u>. &copy;</font></b></p>

<p align="center"><script language="javascript">last_modified()</script></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>IX. Some major old existing catalogues of Franciscan authors</p>

<p>Juan de S. Antonio<i>, Bibliotheca Universa Franciscana,</i> 3 Vols (Madrid, 1732-33/Reprint, Farnsborough, 1966) [BUF]</p>

<p>Bernardus a Bononia, <i>Bibliotheca Scriptorum Ordinis Minorum S. Francisci Capuccinorum</i> (Venice, 1747).</p>

<p>S. Dirks, <i>Histoire litt&eacute;raire et bibliographique des fr&egrave;res mineurs de l’Observance de St. Fran&ccedil;ois en Belgique et dans les Pays-bas</i> (Antwerp, 1885). [Contains also information not dealt with by De Troeyer. Such as Walter of Bruge, Friar Geeraerts, Henricus of Berghen and Dionysius of Holland]</p>

<p></i>Firmamentum trium Ordinum beatissimi Patris nostri Francisci</i>, ed. Boniface de Ceva (Paris, Jehan Petit, 1512).</p>

<p>Dionysius a Genua, <i>Bibliotheca Scriptorum Ordinis Minorum S. Francisci Capuccinorum</i> (Genua, 1691)</p>

<p>Franciscus Gonzaga, `Scriptores illustres sacri Ordinis Minorum', in: <i>De Origine Seraphicae Religionis Franciscanae Eiusque Progressibus, de Regularis Observanciae Institutione, Forma Administrationis ac Legibus, Admirabilique eius Propagatione</i>, IV Vols. (Rome, De Basa, 1587), 79-91.</p>

<p>E. Gonz&aacute;les de Torres, <i>Cr&oacute;nica Ser&aacute;phica</i>, 8 Vols. (Madrid, 1756).</p>

<p>Dominicus de Gubernatis, <i>Orbis Seraphicus. Historia de Tribus Ordinibus a Seraphico Patriarcha Sancto Francisco</i>, IV Vols. (Rome, 1682-1685).</p>

<p>Fortunatus Hueber, <i>Dreyfache Cronickh von dem dreyfachen Orden dess grossen H. Seraphinischen Ordens-Stifters Francisci</i> (M&uuml;nchen, 1686).</p>

<p>Marco de Lisboa, <i>Cr&oacute;nicas de la Orden de los frailes menores del ser&aacute;fico P.S. Francisco</i>, 3 Vols. (Salamanca, 1570).</p>

<p><i>Monumenta Ordinis Fratrum Minorum</i> (Salamanca, 1511).</p>

<p>Joannes Maria a Ratisbona, <i>Catalogus Scriptorum Ordinis Minorum S. Francisci Capuccinorum ab anno 1747 usque ad annum 1852 sive Appendix ad Bibliothecam […] a P. Bernardo Bononiensi […]</i> (Rome, 1852).</p>

<p>J.H. Sbaralea, <i>Supplementum et castigatio ad scriptores trium ordinum S. Francisci a Waddingo aliisve descriptos</i>, 2nd Ed., 3 Vols. (Rome, 1908-1936).</p>

<p><i>Scriptores Provinciae Bavariae Fratrum Minorum</i> (Quaracchi, 1954).</p>

<p>L. Wadding et. al., <i>Annales minorum seu trium ordinum a S. Francisco institutorum</i>, 32 Vols. (Quaracchi (Florence), 1931-64³)</p>

<p>L. Wadding, <i>Scriptores Ordinis Minorum</i> (Rome, 1650/Rome, 1806/Reprint, with corrections: Rome, 1906³).</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>


{% endblock content %}

