{% extends "base.html" %}
{% block headjavascript %}

<meta name="keywords"content="Franciscan archives, archival collections, necrologies, Franciscan documents">

<title>VIII. Other documents</title>
{% endblock headjavascript %}
{% block content %}

<p align="center"><b><font size="2"><a href="/">this site</a> is a co-production
of <u>Maarten van der Heijden</u>, <u>Bert Roest</u> and <u>Emmanuel Chamilakis</u>. &copy;</font></b></p>

<p align="center"><script language="javascript">last_modified()</script></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>VIII. Other documents</p>
<p>A. van den Abeele, <i>Generale</i><i> repertorium Librorum, Documentorum, Scriptorum, Omniumque
Aliorum Contentorum in Archivo Almae Nostrae Provinciae Comitatus Flandriae 
S. Joseph Fratrum Minorum Recollectorum (…)</i> [MSS, 4 Vols.]: Prov. Arch. Minderbroeders te 
St. Truiden, België.</p>

<p>N. d’Acunto, ‘Gli instrumenti del Sacro Convento. Per la storia di Assisi’, <i>Il Santo</i> 38 
(1998), 175-184.</p>

<p>U. d’Alençon, <i>L’Obituaire et le Nécrologie des Cordeliers d’Angers,1216-1790</i> (Angers, 1902).</p>

<p>U d’Alençon, ‘Documents sur la réforme de Sainte-Colette en France’, <i>AFH</i> 2 (1909), 
447-456, 600-612 &amp; <i>AFH</i> 3 (1910), 82-97.</p>

<p>Marie-Pascal Anglade, ‘Inventaire des archives de l’ancienne Province de Saint-Bonaventure 
en Bourgogne’, <i>AFH </i>10 (1917), 498-559.</p>

<p>Idem, ‘Ministres et chapitres provinciaux des Frères Mineurs de la province de Bourgogne’, 
<i>Revue d’histoire franciscaine</i> 8 (1931), 293-343.</p>

<p><i>Archiv der Oberdeutschen Minoritenprovinz im Staatsarchiv Luzern</i>, ed. A. Gössi, 
Luzerner Historische Veröffentlichungen, Archivinventare 2 (Lucerne &amp; Munich, 1979).</p>

<p><i>Archivi e archivistica nelle Marche. Atti del Convegno, Fabriano-Jesi, 30 nov. - 11 Dic. 2002</i>, ed. Gilberto Piccinini, Studi e testi. Deputazione di storia patria per le Marche, 25 (Ancona: Deputazione di Storia Patria per le Marche, 2007).</p>

<p><i>Archivio Segreto Vaticano. Profilo storico e silloge 
documentaria (Florence-Roma, Pagliai Polistampa, 2000).</i></p>

<p><i>Archivo del Colegio Franciscano de Tarija</i>, ed. Pedro Corvera 
(Madrid: Fundación Histórica Tavera, 1998). </p>

<p>Antoine Béguet, ‘Nécologie des Frères Mineurs d’Auxerre’, <i>AFH</i> 3 (1910), 115-138, 310-332, 
530-550, 716-738.</p>

<p>Michael Bihl, ‘Duae Epistolae e Conventu Parisiensi an. 1479-1480 a 
Fr. Petro Piscatoris Francofurtensi Scriptae’, <i>AFH</i> 22 (1929), 243-246.</p>

<p>B. Breveglieri, ‘I repertori di sepolture degli Ordini mendicanti’, in: <i>Libro, scrittura, 
documento</i>, 417-435.</p>

<p>Gian Paolo Bustreo, ‘Gli archivi degli Ordini mendicanti fra medioevo ed età moderna. Considerazioni d'insieme e spunti comparativi’, in: <i>Vite consacrate. Gli archivi 
delle organizzazioni religiose femminili. Atti dei convegni di Spezzano (20 settembre 
2006) e di Ravenna (28 settembre 2006)</i>, ed. Enrico Angiolini, Atti dei convegni/ 
Centro studi interregionale sugli archivi ecclesiastici, 11 (Modena: Mucchi, 2007), 
9-21.</p>

<p>C. Caivallet, ‘El archivo colonial del monasterio de la Concepción de Loja (Equador)’ <i>AIA</i> 
59 (1999).</p>

<p><i>Catalogo della raccolta di statuti, consuetudini, leggi, decreti, ordinie privilegi dei comuni, 
delle associazioni e degli enti locali 
italiani dal medioevo alla fine del secolo XVIII</i>, ed. Sandro 
Bulgarelli et al. (Florence, L.S. Olschki, 1999).</p>

<p>C. Cenci, ‘Silloge di documenti francescani trascritti dal p. Riccardo Pratesi O.F.M.’, 
<i>Studi francescani</i> 62 (1965).</p>

<p>Brigitte Degler-Spengler, ‘Die Urkunden des Basler Barfüßerklosters’, 
<i>Archivalische Zeitschrift</i> 67 (1971), 102-132.</p>

<p><i>Documentazione di vita assisiana, 1300-1530</i>, ed. C. Cenci, Spicilegium 
bonaventurianum, 3 Vols. (Grottaferrata-Rome, 1974-76). [with 
information on book acquisition, daily life, friars 
acting as artistic and literary agents for other franciscan 
friars and sisters etc.]</p>

<p><i>Documenta vaticana ad franciscales spectantia ann. 1385-1492</i>, ed. 
C. Cenci, <i>AFH</i> 90 (1997), 85-135; &gt;&gt;; &gt;&gt;&gt;; <i>AFH</i> 93 
(2000), 217-259; <i>AFH</i> 96 (2003), 85-127. </p>

<p>Hubert Eugène, <i>Obituaire du couvent des Cordeliers de Châteauroux (1213-1782)</i> 
(Châteauroux, 1885).</p>

<p><i>Fonti e studi Francescani 2: Guida alla documentazione francescana in Emilia-Romagna</i>, 
ed. Giuseppe Plessi, Fonti e Studi francescani 2 (Padua, 1989).</p>

<p><i>Fonti e studi Francescani 3: Inventario e regesti dell'Archivio del Sacro Convento d'Assisi</i>, 
ed. S. Nardi (Padua, 1991).</p>

<p><i>Francesco d’Assisi. Documenti e Archivi, Codici e Biblioteche. Miniature</i> (Milan, 
1982).</p>

<p>Vergilio Gamboso, <i>Il Santo</i> 16 (1976), 139-141. Review of Giacomo Bigoni, 
<i>L’archivio conventuale di s. Francesco di Cherso in Istria. Inventario (1387-1948)</i>. </p>

<p><i>Gli archivi per la storia per gli ordini religiosi, I: Fonti e problemi (secoli 
XVI-XIX)</i>, ed. Massimo Carlo Giannini & Matteo Sanfilippo, Studi di storia delle 
istituzioni ecclesiastiche, 1 (Viterbo: Sette città, 2007).</p>

<p>H. Goyens, ‘Documenta quaedam ad historiam Tertii Ordinis regularis in Belgio spectantia’, 
<i>AFH</i> 4 (1911), 537-543.</p>

<p><i>Guida alla documentazione francescana in Emilia-Romagna</i>, 2 Vols. (Padua, 
1994).</p>

<p><i>Guida alla documentazione francescana in Emilia-Romagna III: Ferrara-Modena-Reggio 
Emilia</i>, ed. G.Bordini, Fonti e Studi Francescani IX-Inventari 6 (Padua, 
1999). </p>

<p>Julián Heras &amp; Laura Gutiérrez Arbulú, 
<i>Archivos Franciscanos de Lima</i>, Documentos Tavera, 
17 (Madrid: Fundación Mapfre Tavera, 2004). Cf. review in <i>Collectanea Franciscana</i> 75 (2005), 471-473.</p>

<p><i>I frati minori cappuccini della provincia di Bologna, Necrologio</i>, ed. A. Maggioli 
(Bologna, 1994).</p>

<p><i>Inventario e regesti dell’Archivio del Sacro Convento d’Assisi</i>, ed. S. Nessi, 
Fonti e Studi Francescani, III(Padua, 1991).</p>

<p><i>La correspondance de Girolamo di Vecchi Internonce aux Pays-Bas (1656-1166)</i>,
ed. B. Valérie, IHBRB - Analecta Vaticano-Belga, Deuxième Série, Section A: Nonciature de Flandre 
16 (Brussels-Rome-Turnhout, 1999).</p>

<p><i>L’archivio storico dei Frati Cappuccini 
della Provincia di Piemonte. Catalogo</i>, ed. Ferruccio 
Bortolozzo (Torino, Curia Provinciale - Monte dei Cappuccini, 2000).</p>

<p><i>L’Archivio Storico del Convento di San 
Francesco del Monte in Perugia</i>, ed. Andrea Maiarelli, Convivium 
Assisiense, Archivia, 1 (S. Maria degli Angeli-Assisi: Edizioni Porziuncola, 2004).</p>

<p><i>L’Archivio storico della Basilica Patriarcale 
di Santa Maria degli Agneli in Assisi (1445-1957)</i>, ed. 
Andrea Maiarelli et al. (Santa Maria degli Angeli-Assisi: Ed. Porziuncola,
2007). See AFH 100 (2007), 618-619; CF 77 (2007), 648f; Frate Francesco 105 (2008), 541-544; Il Santo 48 (2008), 540-544.</p>

<p><i>L’Archivio storico della Provincia 
Serafica di San Francesco d’Assisi dei Frati Minori in Umbria. 
Inventario della sezione conventi chiusi (1230-2004)</i>, ed. Andrea Maiarelli 
et al., Convivium Assisiense. Archiva, 2 (Santa Maria degli Angeli-Assisi: Ed. Porziuncola, 
2005).&nbsp; Cf. review in <i>CF</i> 77 (2007), 648ff.</p>

<p><i>L’Archivio storico della Provincia Serafica di San Francesco Stimmatizzato dei Frati Minori 
in Toscana. Inventari degli archivi delle ex Province (1290-1946)</i>, ed. 
Andrea Maiarelli, Diletta Nardi &amp; Ughetta Sorelli (Florence: Studi Francescani, 2006).</p>

<p><i>Le carte duecentresche del Santo Convento di Assisi (1168-1300)</i>, ed. A. Bartoli 
Langeli et al., Fonti e Studi Francescani 5, Inventari 4 (Padua, 1997). Cf. also the articles: 
Antonio Rigon, ‘Le carte duecentesche del Sacro Convento di Assisi e la storia francescana’, <i>Il 
Santo</i> 38 (1998), 163-167; Giuseppe Avarucci, ‘Le carte del Sacro Convento: una lettura 
paleografica’, <i>Il Santo</i> 38 (1998), 169-174.</p>

<p><i>Le Pergamene dell’Archivio della collegiata di Maiori. Con un’appendice 
di documenti dall’Archivio Segreto Vaticano, ed</i>. Vincenzo Criscuolo, Centro di Cultura e 
Storia Amalfitana: Fonti, 8 (Amalfi, 2003).</p>

<p><i>Les Chroniques</i>. <i>Textes choisis</i>, in: <i>I Frati Cappuccini. Documenti e testimonianze 
del primo secolo</i>, ed. Costanzo Cargnoni, Cahiers de Spiritualité Capucine, 11 (Rome, 1998).</p>

<p>H. Lippens, ‘Actus electionis discreti an. 1493 in conventu Castroarquatensi peractae’, 
<i>AFH</i> 25 (1932), 102-103.</p>

<p>H. Lippens, ‘Litterae Ministri generalis Angeli Perusini, S. Ioanni Capistranensi 
pro Observantibus datae 7 ian. 1451 et ab hoc vidimatae’, <i>AFH</i> 36 (1943), 128-131.</p>

<p>Adam Maczka, ‘Archiwum franciszkánskie w Krakowie’, in: <i>Studia z dziejów kosciola Franciszkanów w Krakowie</i>, 
ed. Zdzislawa Klisia (Cracow: Wydawnictwo UNUM, 2006), 17-24.</p>

<p>Andrea Maiarelli, ‘Gli archivi francescani: tradizioni, problemi, prospettive’, <i>Frate Francesco</i> 72 
(2006), 523-535.</p>

<p><i>Memorie del Convento dell’Osservanza di Bologna (1712-1784)/Giornale dicose 
memorabili (1717-1773)</i>, ed. Luigi Rinieri, P. Pasquale, O. Poli &amp; M. Rubbini,
Collana di cronche bolognesi d’epoca medioevale, moderna, contemporanea, 3 (Bologna: Costa Editore, 
1999). </p>

<p><i>Necrologia dei Frati Minori Cappuccini della provincia religiosa di Foggia (1530-1997)</i>, 
ed. C. de Meo, Archivio storico dei Frati Minori Cappuccini di Foggia, 7 (Foggia, 1997).</p>

<p><i>Necrologie dei Frati Minori della Provincia Veneta di S. Antonio di Padova</i>, ed. U. 
Vicentini (Venice, 1955).</p>

<p><i>Necrologio Capuchino. Provincia de la Virgen Mariá. Madre del Buen Pastor, Colombia, 1696-1999</i> 
(Bogota, 1999).</p>

<p><i>Necrologio dei frati defunti nei secoli XVI-XX della provincia serafica di San 
Francesco d’Assisi dell’Ordine dei Frati Minori in Umbria</i>, ed. P. Giovanni M. Boccali 
da Gaglietori (Assisi, 1999).</p>

<p><i>Necrologium des ehemaligen Franziskanerklosters in Bamberg</i>, ed. Anton Jäcklein, 
in: <i>36. Bericht über den Stand und das Wirken des historischen Vereins für Oberfranken zu 
Bamberg im Jahre 1874</i> (Bamberg, 1874), 1-81.</p>

<p><i>Officina Franciscana. Testi, sinossi e indici delle Fonti 
Francescane con grafici, mappe e tabelle, con CD-ROM</i>, ed. Daniele 
Solvi, 2 Vols, Edizione nazionale dei testi mediolatini, 
12 (Tavernuzze-Florence: SISMEL, Edizioni del Galluzzo, 2005). </p>

<p>L. Oliger, ‘Da un Registro di Concorsi al Letterato, 1758-1860’, <i>AFH</i> 18 (1925), 308-312.</p>

<p>L. Oliger, ‘Documenta tria de Clareni saec. XV.’, <i>AFH</i> 31 (1938), 59-72.</p>

<p>B. Pergamo, `I francescani alla facultà teologica di Bologna (1364-1500)’, <i>AFH</i> 27 (1934).</p>

<p>C. Piana, ‘Lettere di Ministri generali del sec. XVo’, <i>AFH</i> 49 (1956), 18-33.</p>

<p>C. Piana, `Chartularium Studii Bononiensis S. Francisci', <i>AF</i> 11 (1970).</p>

<p>Idem, `Postille al `Chartularium Studii Bononiensis S. Francisci'', <i>AFH</i>, 79 (1986), 78-152.</p>

<p>Idem, ‘Lo studio di S. Francesco a Ferrara nel Quattrocento. Documenti inediti’, <i>AFH</i>, 61 (1968), 99-175.</p>

<p>Marco Pizzo, ‘L'Archivio della Provincia Romana dei Frati Minori: metodo di intervento e materiali documentari’, <i>Frate Francesco</i> 73 (2007), 641-645.</p>

<p>Angelo Giuseppe Roncalli, <i>Lettere e scritti conservati negli archivi dei conventi di S. 
Antonio dei Frati Minori Conventuali di Istanbul e Padova</i> (Padua, 2000).</p>

<p>Francisco Víctor Sánchez Gil, ‘El ‘Calendarium Romanum’ del Capitulo General OFM de Burgos de 1523. Notas y edición’, <i>AFH</i> 98 (2005), 717-767.</p>

<p><i>Serie cronologico-biografica 
dei ministri e vicari provinciali della minoritica provincia di Bologna</i>, ed. G. Picconi 
da Cantalupo (Parma, 1908).</p>

<p>Francisco Victor Sánchez, ‘El Calendarium Romanum del capítulo general OFM de Burgos de 1523. 
Notas y edición’, <i>AFH</i>98 (2005), 717-767.</p>

<p>Patricius Schlager, `Necrologium Provinciae Argentinae Fratrum Minorum Observantium (1426-1541)', 
<i>AF</i>, 6 (1917), 257-306.</p>

<p>Clément Schmitt, ‘Lettres des Ministres Généraux conservées aux Archives franciscaines de 
Saint-Trond’, <i>AFH</i> 69 (1976), 107-185&amp; <i>AFH </i>70 (1977),&gt;&gt;&gt;.</p>

<p>John F. Schwaller, ‘Documentos franciscanos en archivos y bibliotecas norteamericanos’, in: 
<i>Un aporte a la historia de la cultura de los siglos XVII-XX. II Simposio sobre Bibliotecas y 
Archivos del área franciscana en América, España y Portugal. Buenos Aires, 26-28 de Agosto de 2004</i>, ed. J. Bunader 
&amp; C.A. Lértora Mendoza (Buenos Aires: Editorial Castañeda, 
2005), 569-579.</p></p>

<p>Pacifico Sella, ‘Inventario fondo Francescani dell’Archivio Segreto Vaticano’, <i>AFH</i> 94:3-4 (2001), 341-400.</p>

<p>P.M. Sevesi, ‘Documenta Hucusque Inedita Saeculi XIII pro Historia Almae Fratrum Minorum 
Provinciae Mediolanensis’, <i>AFH</i> 2(1909), 561-574.</p>

<p>Edgar Gabriel Stoffel, ‘Documentación franciscana en el archivo del arzobispado de Santa Fe de la Vera Cruz’, in: 
<i>Un aporte a la historia de la cultura de los siglos XVII-XX. II Simposio sobre Bibliotecas y Archivos del área franciscana en América, 
España y Portugal. Buenos Aires, 26-28 de Agosto de 2004</i>, ed. Jukio Bunader & Celina A. Lértora Mendoza 
(Buenos Aires: Provincia Franciscana de la Asunción de la  Santísima Virgen del Río de la Plata-Editorial Castañeda, 2005), 591-594.</p>

<p>D. Synowiec &amp; S. Barcik, ‘Zrodla do dziejow franciszkanow w Polsces redniowiecznej w archiwach
zakonnych Krakowa i Rzymu’, in: <i>Zakony franciszkanskie w Polsce, I/2-3</i>, ed. J. Kloczowski 
(Cracow, 1992), 49-63. </p>

<p><i>The Vatican Secret Archives, </i>ed. Terzo Natalini &amp; Sergio Pagano, trans. D. Schlenker 
(Città del Vaticano, Archivio Segreto Vaticano, 2000).</p>

<p>V. Tirelli & M. Tirelli, Le pergamene del convento di S. Francesco in Lucca (sec. XII-XIX) (Rome, 1993).</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

{% endblock content %}

