{% extends "base.html" %}
{% block headjavascript %}

<title>VI. Papal documents pertaining to the Franciscan order</title>
{% endblock headjavascript %}
{% block content %}

<p align="center"><b><font size="2"><a href="/">this site</a> is a co-production
of <u>Maarten van der Heijden</u>, <u>Bert Roest</u> and <u>Emmanuel Chamilakis</u>. &copy;</font></b></p>

<p align="center"><script language="javascript">last_modified()</script></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<P>M.P. Anglade, ‘Bulle relative &agrave; la fondation du couvent des Fr&egrave;res Mineurs de Lausanne’, <I>AFH</I> 7 (1914), 549. </P>


<P>Andrea Bartocci, ‘La Regola dei Frati Minori al concilio di Vienne et la bolla <I>Exivi de paradiso</I> di Clemente V (1312)’, <I>AFH</I> 96 (2003), 45-84.</P>


<P>Bolla di Paolo III <I>Cum a nobis</I> del 28 febbraio 1547, in: <I>Terziari Francescani in et&agrave; moderna. Antico e nuovo mondo, Atti del 6° convegno di studi francescani, Milano 22-24 sett. 1992</I>, ed. L. Temperini, Analecta TOR 29 (Rome, 1993), 403-406 [on tertiary saints]</P>


<I><P>Bullarium Franciscanum, Romanorum Pontificum Constitutiones, Epistolas ac Diplomata Continens Tribus Ordinibus S.P.N. Francisci Spectantia</I>, ed. I.H. Sbaralea, Vol. I-IV (Rome, 1759-1768)</P>


<I><P>Bullarium Franciscanum, Romanorum Pontificum Constitutiones, Epistolas ac Diplomata Continens Tribus Ordinibus S.P.N. Francisci Spectantia</I>, ed. C. Eubel, Vol. V-VIII (Ad Claras Aquae, 1898-1908)</P>


<I><P>Bullarium Franciscanum, Nova Series</I>, ed. U. H&uuml;ntemann &amp; J.M. Pou y Marti, 3 Vols (Ad Claras Aquas, 1929-1949)</P>


<I><P>Bullarium Fratrum Ordinis Minorum Discalceatorum</I>, 5 Vols. (Madrid, 1744-1749).</P>


<I><P>Bullarium Ordinis Minorum Cappuccinorum seu Collectio Bullarum Brevium, Decretorum, Resciptorum, Oraculum (…) pro Ordine Capucino</I>, 10 Vols. (Rome, 1740-1750 [=vols 1-7] &amp; Oeniponte 1883-1884) </P>


<P>‘Bullarium Pontificum quod existat in Archivo Sacro Ordinis Conventus S. Francisci Assisiensis’, ed. L. Alessandrini &amp; F. Penacchi, <I>AFH</I> 8 (1915), 592-617; 10 (1917), 185-219; 11 (1918), 206-250, 442-490.</P>


<I><P>Bullarium Terrae Sanctae</I> (Jerusalem, 1908-1912).</P>


<P>Alphonsus de Casarubios, <I>Compendium Privilegirum Fratrum Minorum et Aliorum Mendicantium et non Mendicantium</I> (Venice, 1532).</P>


<I><P>Chronologia Historico-Legalis Seraphici Ordinis Fratrum Minorum S.P.N. Francisci</I>, 4 Vols. (Venice-Naples, Rome, 1756-1795).</P>


<P>C. Cenci, `Documenta vaticana ad franciscales spectantia, <I>AFH</I>, 90 (1997), 85-135; 91 (1998), 65-131; 92 (1999), 143-198; 93 (2000), 217-257; 94 (2001), 85-145; 95 (2002), 351-397; 96 (2003), 85ff.; 97 (2004), 133-157.</P>


<P>Caesare Cenci, <I>Documenta Vaticana ad Franciscales Spectantia ann. 1385-1492, I: 1385-1471</I> (Grottaferrata (Rome): Frati editori di Quaracchi, 2002).</P>


<P>Caesare Cenci, <I>Documenta Vaticana ad Franciscales Spectantia ann. 1385-1492, II: 1471-1492 </I>(Grottaferrata (Rome): Frati editori di Quaracchi, 2005).</P>

<P>F.M. Delorme, ‘Trois bulles &agrave; fr&egrave;re Hugues de Turenne’, <I>AFH</I> 18 (1925), 291-295.</P>


<P>Jean-Xavier Lalo, ‘Les recueils des sources juridiques franciscaines (1502-1535). Description et analyse’, <I>AFH</I> 73 (1980), 257-340, 527-640 &amp; <I>AFH</I> 74 (1981),146-230.</P>


<P>Josef Metzler, ‘Franziskanische Pr&auml;senz in den Dokumenten der ‘America pontificia’ 1493-1592’, <I>AFH</I> 85 (1992), 99-121.</P>


<P>L. Oliger, ‘Privilegium Clementis V pro lectione Regulae Tertii Ordinis, latine et italice’, <I>AFH</I> 16 (1923), 252-254.</P>


<P>Eutimio Sastre Santos, ‘The opening of the Archives of the Holy Office and its Importance for the Study of the Religious Life’, <I>Consecrated Life </I>24 (2002), 145-168.</P>


<P>Pacifico Sella, ‘Inventario Fondo ‘Francescani’ dell’Archivio Segreto Vaticano’, <I>AFH</I> 94 (2002), 341-400.</P>


<P>W.R. Thomson, `Checklist of Papal Letters relating to the Orders of St. Francis: Innocent III-Alexander IV', <I>AFH</I>, 64 (1971), 367-580.</P>


<P>Mario Sensi, <I>Il Perdono di Assisi</I>, Edizioni Porziuncola (Assisi, 2002).</P>


<I><P>Supplementum ad Bullarium Franciscanum Continens Litteras Romanorum Pontificum Annorum 1378-1484 pro Tribus S.P.N. Francisci Ulterius Obtentas, Appendice Hierarchica Addita, Vol. I: 1378-1471</I>, ed. C. Cenci (Grottaferrata (Rome): Editiones Collegii S. Bonaventurae ad Claras Aquas, 2002). [cf. review in Collectanea Franciscana 74 (2004), 653-656.]</P>

{% endblock content %}
