{% extends "base.html" %}
{% block headjavascript %}
<title>XIII. Important current bibliographies for the study of medieval culture</title>
{% endblock headjavascript %}
{% block content %}

<p align="center"><b><font size="2"><a href="/">this site</a> is a co-production
of <u>Maarten van der Heijden</u>, <u>Bert Roest</u> and <u>Emmanuel Chamilakis</u>. &copy;</font></b></p>

<p align="center"><script language="javascript">last_modified()</script></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<P>XIII. Important current bibliographies for the study of medieval culture</P>
<I><P>International Medieval Bibliography</I> (Leeds, 1966-)</P>
<I><P>Medioevo Latino. Bollettino bibliografico della cultura europea da Boezio a Erasmo</I> (Spoleto, 1980-) [the first ten volumes also on cd-rom]</P>
<I><P>Bibliographie annuelle du Moyen Age tardif. Auteurs et textes latins vers 1200-1500</I> (Turnhout, 1991-)</P>
<I><P>Bibliografia Internationalis Spiritualitatis</I> (Rome, 1965-) </P>
<I><P>Bibliograf&iacute;a de lat&iacute;n medieval en Espa&ntilde;a</I>, ed. J.M. D&iacute;az de Bustamente, M.E. Lage Cotos &amp; J.E. L&oacute;pez Pereira (1950-1992) (Spoleto, 1994).</P>
<I><P>Bibliografia umbra. Bollettino bibliografico</I>&gt;&gt;</P>
<I><P>Index scriptorum Latinorum medii aevi Hispanorum</I>, ed. M.C. Diaz y Diaz, 2 Vols (Salamanca, 1958-59).</P>
<I><P>Repertorium edierter Texte des Mittelalters aus dem Bereich der Philosophie und angrenzender Gebiete</I>, ed. Sch&ouml;nberger &amp; Kible (Berlin, 1994).</P>
<P>&nbsp;</P>
<P>&nbsp;</P>
<P>&nbsp;</P>
{% endblock content %}

