{% extends "base.html" %}
{% block headjavascript %}
<title>XIV. Major general dictionaries and reference encyclopaedias for finding information on Franciscan authors</title>
{% endblock headjavascript %}
{% block content %}

<p align="center"><b><font size="2"><a href="/">this site</a> is a co-production
of <u>Maarten van der Heijden</u>, <u>Bert Roest</u> and <u>Emmanuel Chamilakis</u>. &copy;</font></b></p>

<p align="center"><script language="javascript">last_modified()</script></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<P>XIV. Major general dictionaries and reference encyclopaedias for finding information on Franciscan authors</P>
<I><P>Bayerische Staatsbibliothek, Personennamen des Mittelalters - Nomina Scriptorum Medii Aevi -</I> Pma. Namensformen f&uuml;r 13.000 Personen gem&auml;&szlig; den Regeln f&uuml;r die Alphabetische Katalogisierung (Rak), ed. Claudia Fabian, 2., erweiterte Ausgabe (Munich, G. K. Saur, 2000).</P>
<I><P>Bibliotheca Sanctorum</I> (Roma, 1963-2000).&nbsp;</P>
<I><P>Biographisch-bibliographisches Kirchenlexikon</I>, ed. Friedrich Wilhelm Bautz Traugott Bautz, 28 Vols. (Herzberg, 1965 - 2000).</P>
<I><P>Catholicisme: hier, auhourd’hui, demain</I>, ed. G. Jacquemet (Paris, 1948-) [Catholicisme]</P>
<I><P>Diccionario de historia ecclesiastica de Espa&ntilde;a</I>, ed. Quintin Aldea Vaquero, Tomas Marin martinez &amp; Jose Vives Gatell,4 Vols. &amp; Supplement (Madrid, 1972). </P>
<I><P>Dictionnaire d’arch&eacute;ologie chr&eacute;tienne et de liturgie</I>, ed. F. Cabrol-H. Leclercq, 15 Vols. (Paris, 1907-1953) [DACL]</P>
<I><P>Dictionnaire de droit canonique</I>, ed. R. Naz (Paris, 1935-) [DDrC]</P>
<I><P>Dictionnaire des lettres fran&ccedil;aises: Le Moyen Age</I>. &Eacute;dition enti&egrave;rement revue et mise &agrave; jour sous la direction de Genevi&egrave;ve Hasenohr &amp; Michel Zink (Paris: Fayard, 1992).</P>
<I><P>Dictionnaire des lettres fran&ccedil;aises: Le XVIIe si&egrave;cle</I>. &Eacute;dition enti&egrave;rement r&eacute;vis&eacute;e, amend&eacute;e et mise &agrave; jour par Fran&ccedil;ois Moureau (Paris, 1996).</P>
<I><P>Dictionnaire des lettres fran&ccedil;aises: Le XVIIe si&egrave;cle</I>. &Eacute;dition revue et mise &agrave; jour par Fran&ccedil;ois Moureau (Paris, 1995).</P>
<I><P>Dictionnaire de spiritualit&eacute;</I>, 16 Vols (Paris, 1935-1996). [DS/DSp]</P>
<I><P>Dictionnaire des th&eacute;ologiens et de la th&eacute;ologie chr&eacute;tienne</I>, ed. G&eacute;rard Reynal &amp; Hugues Derycke (Paris: Bayard, 1998).</P>
<I><P>Dictionnaire de th&eacute;ologie catholique</I>, 15 Vols. (Paris, 1930-1950). [DTC]</P>
<I><P>Dictionnaire d’histoire et de g&eacute;ographie eccl&eacute;siastique</I>, ed. A. Baudrillart (Paris, 1912-) .[DHGE]</P>
<I><P>Dictionnaire encyclop&eacute;dique du Moyen &Acirc;ge</I>, ed. Andr&eacute; Vauch&eacute;z &amp; Catherine Vincent, 3 Vols (Paris, 1997). [appeared also in other languages]</P>
<I><P>Die deutsche Literatur des Mittelalters: Verfasserlexikon</I>, ed. K. Ruh, 2nd. Ed. (Berlin-New York, 1977-)</P>
<I><P>Dizionario enciclopedico del Medioevo</I>, ed. Andr&eacute; Vauchez &amp; Catherine Vincent. Edizione italiana di Claudio Leonardi, 3 Vols (Rome, 1998).</P>
<P>Gaston et Monique Duchet-Suchaux, <I>Les ordres religieux. Guide historique</I>, Coll. &quot;Tout l’art-Encyclop&eacute;die&quot; (Paris, Flammarion, 2000). </P>
<I><P>Enciclopedia Cattolica</I>, ed. E.A. Pace, 12 Vols. (Rome, 1949-54).</P>
<I><P>Encyclopedia of Monasticism</I>, ed. William M. Johnston &amp; Claire Renkin, 2 Vols. (Chicago-London: Fitzroy Dearborn, 2000).</P>
<I><P>L’Europe des Humanistes (XIVe-XVIIe si&egrave;cles). R&eacute;pertoire</I>, ed. J.-F. Maillard, J. Kecskem&eacute;ti &amp; M. Portalier (Turnhout: Brepols Publishers, 2002).</P>
<I><P>Lexikon des Mittelalters</I> (M&uuml;nchen-Z&uuml;rich, 1980-) [LMA]</P>
<I><P>Lexikon. Dizionario dei teologi</I> (Casale Monferrato, 1998).</P>
<I><P>Lexikon f&uuml;r Theologie und Kirche</I>, 2<SUP>nd</SUP>. edition, 10 Vols. (Freiburg, 1957-1967) [LThK<SUP>2</SUP>]</P>
<I><P>Lexikon f&uuml;r Theologie und Kirche</I>, 3<SUP>rd</SUP>. edition, 10 Vols. (Freiburg, 1992-1999) [LThK<SUP>3</SUP>]</P>
<I><P>Metzler Lexikon christlicher Denker: 700 Autorinnen und Autoren von den Anf&auml;ngen des Christentums bis zur Gegenwart</I>, ed. M. Vinzent (Stuttgart-Weimar, 2000).</P>
<I><P>Ordini religiosi. Catholic Religious Orders</I>, ed. Silvana Chist&egrave;, Lino Mocatti &amp; Barbara Tillett Biblioteche ecclesiastiche (Milano, Editrice Bibliografica, 2000). </P>
<I><P>Religion in Geschichte und Gegenwart. Handw&ouml;rterbuch f&uuml;r Theologie und Religionswissenschaft. Vierte, v&ouml;llig neu bearbeitete Auflage</I>, ed. Hans Dieter Betz, Don S. Browning, Bernd Janowski, Eberhard J&uuml;ngel (T&uuml;bingen, 1998-).</P>
<P>Heiner Schmidt, <I>Quellenlexikon zur deutschen Literaturgeschichte. Bibliography of Studies on German Literary History. Personal- und Einzelwerkbibliographien der internationalen Sekund&auml;rliteratur 1945-1990 zur deutschen Literatur von den Anf&auml;ngen bis zur Gegenwart, </I>Bibliographische Mitarbeit von G&uuml;nter Albrecht †, 28 Vols. (Duisburg, 1995-2001).</P>
<I><P>Theologen, Ketzer, Heilige. Kleines Personenlexikon zur Kirchengeschichte</I>, ed. Manfred Heim (Munich, 2001).</P>
<P>&nbsp;</P>
<P>&nbsp;</P>
{% endblock content %}
