{% extends "base.html" %}
{% block headjavascript %}
<title>X. Other older giant reference works</title>
{% endblock headjavascript %}
{% block content %}

<p align="center"><b><font size="2"><a href="/">this site</a> is a co-production
of <u>Maarten van der Heijden</u>, <u>Bert Roest</u> and <u>Emmanuel Chamilakis</u>. &copy;</font></b></p>

<p align="center"><script language="javascript">last_modified()</script></p>

<p>&nbsp;</p>

<p>X. Other old giant reference works on medieval authors with information about Franciscan authors</p>

<p>J. Trithemius, <i>Liber de Scriptoribus Ecclesiasticis</i> (Basel, 1494).</p>

<p>L.E. du Pin, <i>Nouvelle Biblioth&egrave;que des auteurs eccl&eacute;siastiques</i> (Paris, 1698-1711/1970).</p>

<p>J. Fabricius, <i>Bibliotheca Latina Mediae et Infimae Aetatis</i> (Hamburg, 1734-1746/Graz, 1962).</p>

<p><i>Registrum Ordinis, seu Regesta Ministrorum Generalium</i>, 4 Vols. Rome, General Archive of the Conventuals, 
Convent of the XII Apostles, sign. A-1, A-2, A-3, A-4.</p>

{% endblock content %}

