{% extends "base.html" %}
{% block content %}
</br>
{% if works %}
<p><b>Works</b></p>
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-light">
    <tr>
        <th>Author name</th>
        <th>Year</th>
        <th>Title</th>
        <th>Publisher</th>
        <th>Location</th>
        <th>Detail description</th>
        <th>Text</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{works.author.author_name}}</td>
        <td>
            {% if works.year %}
                {{works.year}}
            {% endif %}
        </td>
        <td>{{works.title}}</td>
        <td>{{works.publisher}}</td>
        <td>{{works.location}}</td>
        <td>{{works.detail_description}}</td>
        <td>{{works.text}}</td>
    </tr>

    </tbody>
</table>
</br>
{% endif %}
{% endblock %}